In [176]:
import pandas as pd

In [177]:
car=pd.read_csv('cars.csv')

In [178]:
car.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText,heading,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,heading.1,top_features,Comfort & Convenience - Comfort,Interior - Interior,Exterior - Exterior,Safety - Safety,Entertainment & Communication - Entertainment,heading.2,Engine,Max Power,Torque,Wheel Size,Seats.1,Engine and Transmission - Color,Engine and Transmission - Engine Type,Engine and Transmission - Displacement,Engine and Transmission - Max Power,Engine and Transmission - Max Torque,Engine and Transmission - No of Cylinder,Engine and Transmission - Values per Cylinder,Engine and Transmission - Fuel Suppy System,Engine and Transmission - Turbo Charger,Dimensions & Capacity - Length,Dimensions & Capacity - Width,Dimensions & Capacity - Height,Dimensions & Capacity - Wheel Base,Dimensions & Capacity - Kerb Weight,Miscellaneous - Gear Box,Miscellaneous - Drive Type,Miscellaneous - Seating Capacity,Miscellaneous - Steering Type,Miscellaneous - Front Brake Type,Miscellaneous - Rear Brake Type,Miscellaneous - Tyre Type,Miscellaneous - Alloy Wheel Size,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Mileage,Engine and Transmission - Value Configuration,Engine and Transmission - Compression Ratio,Engine and Transmission - Super Charger,Dimensions & Capacity - Front Tread,Dimensions & Capacity - Rear Tread,Dimensions & Capacity - Gross Weight,Miscellaneous - Turning Radius,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Engine and Transmission - BoreX Stroke,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,NaN,NaN,NaN,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Car overview,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022.0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat...",Specifications,998 CC,118.36bhp,172nm,16,5.0,Black,Smartstream G1.0 T - GDi,998.0,118.36bhp@6000rpm,172nm@1500-4000rpm,3.0,4.0,GDi,Yes,3995mm,1790,1642,2500,1465,7-Speed DCT,FWD,5.0,Electric,Disc,Drum,"Tubeless, Radial",16,5.0,392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,NaN,NaN,NaN,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Car overview,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015.0,Features,"Low Fuel Warning Light, Accessory Power Outlet...","Low Fuel Warning Light, Accessory Power Outlet...","Heater, Digital Odometer, Electronic Multi Tri...","Adjustable Head Lights, Manually Adjustable Ex...","Anti Lock Braking System, Child Safety Locks, ...",NaN,Specifications,1196 CC,73bhp,101Nm,NaN,7.0,Grey,In-Line Engine,1196.0,73bhp@6000rpm,101Nm@3000rpm,4.0,4.0,MPFi,No,3675mm,1475mm,1800mm,2350mm,943kg,5 Speed,RWD,7.0,Manual,Ventilated Disc,Drum,Tubeless Tyres,NaN,5.0,540-liters,15.37 kmpl,DOHC,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN,chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,NaN,NaN,NaN,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Car overview,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021.0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat...",Specifications,999 CC,98.63bhp,160Nm,16,5.0,Others,HRA0 1.0 TURBO PETROL,999.0,98.63bhp@5000rpm,160Nm@2800-3600rpm,3.0,4.0,MPFi,Yes,3994mm,1758,1572,2500,1014,5 Speed,NaN,5.0,Electronic,Disc,Drum,"Tubeless,Radial",16,5.0,336,20 kmpl,SOHC,NaN,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN,chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,NaN,NaN,NaN,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Car overview,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015.0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Manu...","Centeral Locking, Power Door Locks, Child Safe...","Cd Player, Radio, Speakers Front, Speakers Rea...",Specifications,1086 CC,68.05bhp,99.04Nm,NaN,5.0,Silver,IRDE2 Engine,1086.0,68.05bhp@5500rpm,99.04Nm@4500rpm,4.0,3.0,MPFI,No,3585mm,1595mm,1550mm,2380mm,860kg,5 Speed,FWD,5.0,Power,Ventilated Disc,Drum,Tubeless,NaN,5.0,225-litres,19.81 kmpl,SOHC,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN,chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,NaN,NaN,NaN,{'imgUrl': 'https://stimg.cardekho.com/used-ca...,Car overview,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015.0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Dvd Player, Radio, Speakers Front, ...",Specifications,1199 CC,88.7bhp,110Nm,15,5.0,Others,i-VTEC Petrol Engine,1199.0,88.7bhp@6000rpm,110Nm@4800rpm,4.0,4.0,PGM - Fi,No,3955mm,1694mm,1544mm,2530mm,1042kg,5 Speed,FWD,5.0,Power,Disc,Drum,"Tubeless,Radial",15,5.0,354-litres,18.7 kmpl,SOHC,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN,chennai

In [179]:
car.isna().sum()

it                                                     0
ft                                                     0
bt                                                     6
km                                                     0
transmission                                           0
ownerNo                                                0
owner                                                  0
oem                                                    0
model                                                  0
modelYear                                              0
centralVariantId                                       0
variantName                                            0
price                                                  0
priceActual                                         6735
priceSaving                                         8732
priceFixedText                                      8732
trendingText                                           0
heading                                              363
Registration Year                                    415
Insurance Validity                                   367
Fuel Type                                            363
Seats                                                369
Kms Driven                                           365
RTO                                                 1257
Ownership                                            395
Engine Displacement                                  367
Transmission                                         363
Year of Manufacture                                  383
heading.1                                            363
top_features                                         428
Comfort & Convenience - Comfort                      431
Interior - Interior                                  440
Exterior - Exterior                                  453
Safety - Safety                                      459
Entertainment & Communication - Entertainment       1458
heading.2                                            363
Engine                                               367
Max Power                                            423
Torque                                               423
Wheel Size                                          3346
Seats.1                                              369
Engine and Transmission - Color                      366
Engine and Transmission - Engine Type                658
Engine and Transmission - Displacement               367
Engine and Transmission - Max Power                  423
Engine and Transmission - Max Torque                 423
Engine and Transmission - No of Cylinder             394
Engine and Transmission - Values per Cylinder        414
Engine and Transmission - Fuel Suppy System         2090
Engine and Transmission - Turbo Charger             1403
Dimensions & Capacity - Length                       442
Dimensions & Capacity - Width                        446
Dimensions & Capacity - Height                       442
Dimensions & Capacity - Wheel Base                   526
Dimensions & Capacity - Kerb Weight                  422
Miscellaneous - Gear Box                             469
Miscellaneous - Drive Type                          1923
Miscellaneous - Seating Capacity                     369
Miscellaneous - Steering Type                        618
Miscellaneous - Front Brake Type                     459
Miscellaneous - Rear Brake Type                      459
Miscellaneous - Tyre Type                            440
Miscellaneous - Alloy Wheel Size                    3346
Miscellaneous - No Door Numbers                      374
Miscellaneous - Cargo Volumn                        1956
Mileage                                              650
Engine and Transmission - Value Configuration       2579
Engine and Transmission - Compression Ratio         6837
Engine and Transmission - Super Charger             2325
Dimensions & Capacity - Front Tread                 3921
Dimensions & Capacity - Rear Tread                  3933
Dimensions & Capacity - Gross Weight                4904
Miscellaneous - Turning Radius                      1963
Miscellaneous - Top Speed                           4125
Miscellaneous - Acceleration                        3875
Engine and Transmission - BoreX Stroke              6327
Dimensions & Capacity - Ground Clearance Unladen    8217
city                                                   0
dtype: int64

In [180]:
car.shape

(8732, 78)

In [181]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8732 entries, 0 to 8731
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                8732 non-null   int64
 1   ft                                                8732 non-null   object
 2   bt                                                8726 non-null   object
 3   km                                                8732 non-null   object
 4   transmission                                      8732 non-null   object
 5   ownerNo                                           8732 non-null   int64
 6   owner                                             8732 non-null   object
 7   oem                                               8732 non-null   object
 8   model                                             8732 non-null   object
 9   modelYear                                         8732 non-null   int64
 10  centralVariantId                                  8732 non-null   int64
 11  variantName                                       8732 non-null   object
 12  price                                             8732 non-null   object
 13  priceActual                                       1997 non-null   object
 14  priceSaving                                       0 non-null      float64
 15  priceFixedText                                    0 non-null      float64
 16  trendingText                                      8732 non-null   object
 17  heading                                           8369 non-null   object
 18  Registration Year                                 8317 non-null   object
 19  Insurance Validity                                8365 non-null   object
 20  Fuel Type                                         8369 non-null   object
 21  Seats                                             8363 non-null   object
 22  Kms Driven                                        8367 non-null   object
 23  RTO                                               7475 non-null   object
 24  Ownership                                         8337 non-null   object
 25  Engine Displacement                               8365 non-null   object
 26  Transmission                                      8369 non-null   object
 27  Year of Manufacture                               8349 non-null   float64
 28  heading.1                                         8369 non-null   object
 29  top_features                                      8304 non-null   object
 30  Comfort & Convenience - Comfort                   8301 non-null   object
 31  Interior - Interior                               8292 non-null   object
 32  Exterior - Exterior                               8279 non-null   object
 33  Safety - Safety                                   8273 non-null   object
 34  Entertainment & Communication - Entertainment     7274 non-null   object
 35  heading.2                                         8369 non-null   object
 36  Engine                                            8365 non-null   object
 37  Max Power                                         8309 non-null   object
 38  Torque                                            8309 non-null   object
 39  Wheel Size                                        5386 non-null   object
 40  Seats.1                                           8363 non-null   float64
 41  Engine and Transmission - Color                   8366 non-null   object
 42  Engine and Transmission - Engine Type             8074 non-null   object
 43  Engine and Transmission - Displacement            8365 non-null   float64
 44  Engine and Transmission - Max Power               8309 non-null   object
 45  Engine and Transmission - Max Torque              8309 non-null   object
 46  Engine and Transmission - No of Cylinder          8338 non-null   float64
 47  Engine and Transmission - Values per Cylinder     8318 non-null   float64
 48  Engine and Transmission - Fuel Suppy System       6642 non-null   object
 49  Engine and Transmission - Turbo Charger           7329 non-null   object
 50  Dimensions & Capacity - Length                    8290 non-null   object
 51  Dimensions & Capacity - Width                     8286 non-null   object
 52  Dimensions & Capacity - Height                    8290 non-null   object
 53  Dimensions & Capacity - Wheel Base                8206 non-null   object
 54  Dimensions & Capacity - Kerb Weight               8310 non-null   object
 55  Miscellaneous - Gear Box                          8263 non-null   object
 56  Miscellaneous - Drive Type                        6809 non-null   object
 57  Miscellaneous - Seating Capacity                  8363 non-null   float64
 58  Miscellaneous - Steering Type                     8114 non-null   object
 59  Miscellaneous - Front Brake Type                  8273 non-null   object
 60  Miscellaneous - Rear Brake Type                   8273 non-null   object
 61  Miscellaneous - Tyre Type                         8292 non-null   object
 62  Miscellaneous - Alloy Wheel Size                  5386 non-null   object
 63  Miscellaneous - No Door Numbers                   8358 non-null   float64
 64  Miscellaneous - Cargo Volumn                      6776 non-null   object
 65  Mileage                                           8082 non-null   object
 66  Engine and Transmission - Value Configuration     6153 non-null   object
 67  Engine and Transmission - Compression Ratio       1895 non-null   object
 68  Engine and Transmission - Super Charger           6407 non-null   object
 69  Dimensions & Capacity - Front Tread               4811 non-null   object
 70  Dimensions & Capacity - Rear Tread                4799 non-null   object
 71  Dimensions & Capacity - Gross Weight              3828 non-null   object
 72  Miscellaneous - Turning Radius                    6769 non-null   object
 73  Miscellaneous - Top Speed                         4607 non-null   object
 74  Miscellaneous - Acceleration                      4857 non-null   object
 75  Engine and Transmission - BoreX Stroke            2405 non-null   object
 76  Dimensions & Capacity - Ground Clearance Unladen  515 non-null    object
 77  city                                              8732 non-null   object
dtypes: float64(9), int64(4), object(65)
memory usage: 5.2+ MB

In [182]:
car['bt'].unique()

array(['SUV', 'Minivans', 'Hatchback', 'Sedan', 'MUV', 'Hybrids', 'Coupe',
       'Pickup Trucks', 'Convertibles', nan, 'Wagon'], dtype=object)

#### body type - bt - handling missing values

In [183]:
# Find the mode (most frequent category) in 'bt'
bt_mode = car['bt'].mode()[0]

# Impute missing values with the mode
car['bt'].fillna(bt_mode, inplace=True)

print(car['bt'].unique())  # To check the unique values after imputation
print(car['bt'].isnull().sum())  # Verify no missing values remain

['SUV' 'Minivans' 'Hatchback' 'Sedan' 'MUV' 'Hybrids' 'Coupe'
 'Pickup Trucks' 'Convertibles' 'Wagon']
0

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\3652493162.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['bt'].fillna(bt_mode, inplace=True)

In [184]:
car.isna().sum()

it                                                     0
ft                                                     0
bt                                                     0
km                                                     0
transmission                                           0
ownerNo                                                0
owner                                                  0
oem                                                    0
model                                                  0
modelYear                                              0
centralVariantId                                       0
variantName                                            0
price                                                  0
priceActual                                         6735
priceSaving                                         8732
priceFixedText                                      8732
trendingText                                           0
heading                                              363
Registration Year                                    415
Insurance Validity                                   367
Fuel Type                                            363
Seats                                                369
Kms Driven                                           365
RTO                                                 1257
Ownership                                            395
Engine Displacement                                  367
Transmission                                         363
Year of Manufacture                                  383
heading.1                                            363
top_features                                         428
Comfort & Convenience - Comfort                      431
Interior - Interior                                  440
Exterior - Exterior                                  453
Safety - Safety                                      459
Entertainment & Communication - Entertainment       1458
heading.2                                            363
Engine                                               367
Max Power                                            423
Torque                                               423
Wheel Size                                          3346
Seats.1                                              369
Engine and Transmission - Color                      366
Engine and Transmission - Engine Type                658
Engine and Transmission - Displacement               367
Engine and Transmission - Max Power                  423
Engine and Transmission - Max Torque                 423
Engine and Transmission - No of Cylinder             394
Engine and Transmission - Values per Cylinder        414
Engine and Transmission - Fuel Suppy System         2090
Engine and Transmission - Turbo Charger             1403
Dimensions & Capacity - Length                       442
Dimensions & Capacity - Width                        446
Dimensions & Capacity - Height                       442
Dimensions & Capacity - Wheel Base                   526
Dimensions & Capacity - Kerb Weight                  422
Miscellaneous - Gear Box                             469
Miscellaneous - Drive Type                          1923
Miscellaneous - Seating Capacity                     369
Miscellaneous - Steering Type                        618
Miscellaneous - Front Brake Type                     459
Miscellaneous - Rear Brake Type                      459
Miscellaneous - Tyre Type                            440
Miscellaneous - Alloy Wheel Size                    3346
Miscellaneous - No Door Numbers                      374
Miscellaneous - Cargo Volumn                        1956
Mileage                                              650
Engine and Transmission - Value Configuration       2579
Engine and Transmission - Compression Ratio         6837
Engine and Transmission - Super Charger             2325
Dimensions & Capacity - Front Tread                 3921
Dimensions & Capacity - Rear Tread                  3933
Dimensions & Capacity - Gross Weight                4904
Miscellaneous - Turning Radius                      1963
Miscellaneous - Top Speed                           4125
Miscellaneous - Acceleration                        3875
Engine and Transmission - BoreX Stroke              6327
Dimensions & Capacity - Ground Clearance Unladen    8217
city                                                   0
dtype: int64

In [185]:
car['Registration Year'].isna().sum()

415

In [186]:
car['Insurance Validity'].isna().sum()

367

In [187]:
car['Fuel Type'].isna().sum()

363

### car Seats -handling missing values

In [188]:
car['Seats'].isna().sum()

369

In [189]:
car['Seats.1'].unique()

array([ 5.,  7.,  6.,  8.,  4., 10.,  9., nan,  2.])

In [190]:
car['Seats.1'].mean()

5.203276336242975

In [191]:
# Find the mode (most frequent number of seats)
seats_mode = car['Seats'].mode()[0]

# Impute missing values with the mode
car['Seats'].fillna(seats_mode, inplace=True)

# Check the unique values and missing values after imputation
print(car['Seats'].unique())
print(car['Seats'].isnull().sum())  # Verify no missing values remain

['5 Seats' '7 Seats' '6 Seats' '8 Seats' '4 Seats' '10 Seats' '9 Seats'
 '2 Seats']
0

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\31517149.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Seats'].fillna(seats_mode, inplace=True)

In [192]:
# Find the mode (most frequent number of seats)
seats_mode = car['Seats.1'].mode()[0]

# Impute missing values with the mode
car['Seats.1'].fillna(seats_mode, inplace=True)

# Check the unique values and missing values after imputation
print(car['Seats.1'].unique())
print(car['Seats.1'].isnull().sum())  # Verify no missing values remain

[ 5.  7.  6.  8.  4. 10.  9.  2.]
0

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\3481241744.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Seats.1'].fillna(seats_mode, inplace=True)

### kms driven - handling missing values

In [193]:
car['km'].isna().sum()

0

In [194]:
car['Kms Driven'].isna().sum()

365

In [195]:
car['Kms Driven']=car['Kms Driven'].fillna(car['km'].apply(lambda x: x))

In [196]:
car['Kms Driven'].isna().sum()

0

In [197]:
car['Kms Driven'].head()

0    20,000 Kms
1    20,687 Kms
2    30,000 Kms
3    59,247 Kms
4    50,000 Kms
Name: Kms Driven, dtype: object

### Registration Year -- handling  missing values with respect to modelYear

In [198]:
car['Registration Year']=car['Registration Year'].fillna(car['modelYear'].apply(lambda x: f'1.1.{int(x)}'))

In [199]:
car['Registration Year'].isna().sum()

0

In [200]:
car['Registration Year'].head(122)

0           2022
1       Feb 2015
2           2021
3       May 2015
4           2015
5      Sept 2017
6       Aug 2016
7       May 2010
8       Oct 2018
9      Sept 2018
10          2021
11      Jul 2019
12      Apr 2020
13          2018
14      Aug 2019
15      Feb 2019
16     Sept 2017
17      Feb 2014
18     Sept 2022
19      Feb 2014
20          2016
21     Sept 2014
22      Mar 2018
23      Oct 2017
24          2020
25      Aug 2019
26      Mar 2020
27          2016
28      Aug 2013
29      Jun 2019
30          2017
31      Jul 2016
32      Aug 2017
33      Jul 2022
34      Nov 2016
35      Jun 2015
36          2017
37          2017
38      Aug 2016
39          2008
40      Jun 2017
41      Aug 2016
42          2016
43      Jun 2022
44      Aug 2016
45          2013
46      Jun 2021
47      Aug 2018
48      Jan 2018
49      Mar 2018
50      Jul 2016
51     Sept 2014
52      Nov 2015
53      Jun 2019
54          2017
55          2017
56      Jul 2020
57      Jun 2018
58      Aug 2018
59      Aug 2017
60      Jul 2018
61      Jul 2019
62      Mar 2016
63      Jul 2021
64      Jun 2019
65      Aug 2013
66      Dec 2018
67      Jun 2022
68      Mar 2019
69      Jun 2020
70          2022
71          2010
72      Aug 2020
73      Dec 2022
74      Oct 2016
75      Jul 2011
76          2018
77      Oct 2016
78      Feb 2014
79          2011
80      Jun 2020
81      Jun 2016
82          2016
83      Jun 2017
84      Nov 2018
85          2015
86      Jun 2021
87      May 2019
88      May 2017
89      Aug 2019
90          2016
91      Aug 2019
92      Jun 2019
93      Jun 2016
94      Jun 2015
95          2017
96      Jul 2017
97          2017
98      Dec 2012
99          2019
100     Apr 2017
101     Oct 2019
102         2017
103     Mar 2012
104     Jun 2020
105         2017
106     Mar 2017
107         2015
108     Jun 2018
109     Jul 2018
110         2007
111         2015
112     Aug 2017
113     Jul 2018
114     Jan 2016
115     Mar 2016
116     Feb 2015
117         2015
118     Apr 2017
119     Dec 2016
120     Jun 2016
121     Jun 2016
Name: Registration Year, dtype: object

### Fuel type handling missing values  and convert into unique values for repeated values with different case

In [201]:
car['Fuel Type'].isna().sum()

363

In [202]:
car['ft'].isna().sum()

0

In [203]:
car['Fuel Type']=car['Fuel Type'].fillna(car['ft'].apply(lambda x: x))

In [204]:
car['Fuel Type'].isna().sum()

0

In [205]:
car['Fuel Type'].unique()

array(['Petrol', 'Diesel', 'Electric', 'CNG', 'LPG', 'Cng', 'Lpg'],
      dtype=object)

In [206]:
car['ft'].unique()

array(['Petrol', 'Diesel', 'Electric', 'Cng', 'Lpg'], dtype=object)

In [207]:
# Convert 'Cng' and 'Lpg' to 'CNG' and 'LPG' respectively
car['Fuel Type'] = car['Fuel Type'].replace({'CNG': 'Cng', 'LPG': 'Lpg'})

In [208]:
car['Fuel Type'].unique()

array(['Petrol', 'Diesel', 'Electric', 'Cng', 'Lpg'], dtype=object)

### Ownership - Owner handling missing values

In [209]:
car['Ownership'].head()
car['owner'].head(1)

0    1st Owner
Name: owner, dtype: object

In [210]:
car['owner'].isna().sum()

0

In [211]:
car['Ownership'].isna().sum()

395

In [212]:
car['owner'].unique()

array(['1st Owner', '2nd Owner', '3rd Owner', '4th Owner', '0th Owner',
       '5th Owner'], dtype=object)

In [213]:
car['Ownership'].unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner', nan,
       'Fifth Owner'], dtype=object)

In [214]:
# Fill missing values in 'Ownership' column with formatted values from 'owner' column
car['Ownership'] = car['Ownership'].fillna('Zeroth Owner')

In [215]:
car['Ownership'].unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner',
       'Zeroth Owner', 'Fifth Owner'], dtype=object)

In [216]:
car['Ownership'].isna().sum()

0

### Transmission -- handling missing values

In [217]:
car['transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

In [218]:
car['Transmission'].unique()

array(['Automatic', 'Manual', nan], dtype=object)

In [219]:
car['Transmission'].isna().sum()

363

In [220]:
car['Transmission']=car['Transmission'].fillna(car['transmission'].apply(lambda x:x))

In [221]:
car['Transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

### OwnerNO

In [222]:
car['ownerNo'].unique()

array([1, 2, 3, 4, 0, 5], dtype=int64)

In [223]:
car['ownerNo'].isna().sum()

0

### Model - Handling missing values

In [224]:
car['model'].isna().sum()

0

In [225]:
car['model'].head()

0         Kia Sonet
1       Maruti Eeco
2    Nissan Magnite
3       Hyundai i10
4        Honda Jazz
Name: model, dtype: object

### centralVariantId

In [226]:
car['centralVariantId'].isna().sum()

0

In [227]:
car['centralVariantId'].head()

0    8654
1    4025
2    8135
3    1579
4    1341
Name: centralVariantId, dtype: int64

### VariantName

In [228]:
car['variantName'].isna().sum()

0

In [229]:
car['variantName'].head()

0    Turbo DCT Anniversary Edition
1           7 Seater Standard BSIV
2            Turbo XV Premium BSVI
3                      Sportz 1.1L
4                    1.2 VX i VTEC
Name: variantName, dtype: object

### price - handle missing value

In [230]:
car['price'].isna().sum()

0

In [231]:
car['price'].head(10)

0    ₹ 11.50 Lakh
1     ₹ 4.15 Lakh
2     ₹ 7.50 Lakh
3     ₹ 3.98 Lakh
4     ₹ 5.50 Lakh
5       ₹ 33 Lakh
6     ₹ 4.53 Lakh
7     ₹ 2.85 Lakh
8       ₹ 50 Lakh
9     ₹ 8.21 Lakh
Name: price, dtype: object

In [232]:
a=car[car['price'].str.contains('Crore', na=False)]

In [233]:
a['price'].head()

131     ₹ 1.10 Crore
192     ₹ 1.18 Crore
287     ₹ 1.13 Crore
2242    ₹ 1.30 Crore
3448    ₹ 2.60 Crore
Name: price, dtype: object

In [234]:
car['price'].unique()

array(['₹ 11.50 Lakh', '₹ 4.15 Lakh', '₹ 7.50 Lakh', ..., '₹ 35,000 ',
       '₹ 10.82 Lakh', '₹ 1.05 Lakh'], dtype=object)

In [235]:
# Ensure the price column is treated as a string
car['price'] = car['price'].astype(str)

# Clean the price column
car['price'] = car['price'].str.replace('₹', '').str.strip()  # Remove currency symbol

# Define the conversion function with Crore and Lakh check
def convert_price(price):
    price = price.replace(',', '').strip()  # Remove commas for easier conversion
    if 'Crore' in price:
        return int(float(price.replace(' Crore', '').strip()) * 10000000)  # Convert Crore to integer
    elif 'Lakh' in price:
        return int(float(price.replace(' Lakh', '').strip()) * 100000)  # Convert Lakh to integer
    else:
        return int(price) if price.isdigit() else 0  # Treat as thousands or just integer

# Apply the conversion function to the price column
car['price'] = car['price'].apply(convert_price)

# Display the updated price column
print(car['price'].head())

0    1150000
1     415000
2     750000
3     398000
4     550000
Name: price, dtype: int64

In [236]:
car.price.max()

41500000

In [237]:
car.price.min()

20161

In [238]:
car['price'].unique()

array([1150000,  415000,  750000, ...,   35000, 1082000,  105000],
      dtype=int64)

In [239]:
car['price'].dtype

dtype('int64')

In [240]:
car['price'].max()

41500000

In [241]:
car['price'].head()

0    1150000
1     415000
2     750000
3     398000
4     550000
Name: price, dtype: int64

### Insurance - handling missing values

In [242]:
car['Insurance Validity'].isna().sum()

367

In [243]:
car['Insurance Validity'].fillna(car['Insurance Validity'].mode()[0], inplace=True)

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\209631941.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Insurance Validity'].fillna(car['Insurance Validity'].mode()[0], inplace=True)

In [244]:
car['Insurance Validity'].unique() #.isna().sum()

array(['Third Party insurance', 'Comprehensive', 'Third Party',
       'Zero Dep', 'Not Available', '2', '1'], dtype=object)

In [245]:
# Mapping numerical and other inconsistent values to valid categories
car['Insurance Validity'] = car['Insurance Validity'].replace({
    '1': 'Third Party',
    '2': 'Comprehensive',
    'Zero Dep': 'Zero Dep'
})

In [246]:
car['Insurance Validity'].unique()

array(['Third Party insurance', 'Comprehensive', 'Third Party',
       'Zero Dep', 'Not Available'], dtype=object)

In [247]:
car['Insurance Validity'].isna().sum()

0

### Engine Displacement - Handling missing values

In [248]:
car['Engine Displacement'].isna().sum()

367

In [249]:
car['Engine'].isna().sum()

367

In [250]:
car['Engine Displacement'].unique()

array(['998 cc', '1196 cc', '999 cc', '1086 cc', '1199 cc', '2143 cc',
       '1995 cc', '1497 cc', '1197 cc', '1956 cc', '2755 cc', '1198 cc',
       '1248 cc', '0 cc', '1582 cc', '1984 cc', '2694 cc', '1498 cc',
       '1298 cc', '1461 cc', '1798 cc', '1364 cc', '1591 cc', '1968 cc',
       '2967 cc', '2393 cc', '2993 cc', '1368 cc', '2198 cc', '1373 cc',
       '1598 cc', '2179 cc', '1462 cc', '1451 cc', '1194 cc', '1991 cc',
       '1493 cc', '1998 cc', '4663 cc', '2987 cc', '796 cc', '1186 cc',
       '1799 cc', '1950 cc', '1496 cc', '2925 cc', '1396 cc', '1353 cc',
       '799 cc', '1405 cc', '814 cc', '2494 cc', '1399 cc', '1997 cc',
       '1047 cc', '2999 cc', '1499 cc', '2184 cc', '1896 cc', '1999 cc',
       '1969 cc', '1495 cc', '1390 cc', '1120 cc', '1482 cc', '2523 cc',
       '2354 cc', '624 cc', '793 cc', '936 cc', '4134 cc', '993 cc',
       '2499 cc', '2982 cc', '1596 cc', '1796 cc', '1422 cc', '1172 cc',
       '1468 cc', '1599 cc', '1586 cc', '1193 cc', '2199 cc', '1330 cc',
       '2696 cc', '2400 cc', '2477 cc', '2998 cc', '2997 cc', '2995 cc',
       '1395 cc', '2487 cc', '1797 cc', '1341 cc', '1397 cc', '3198 cc',
       '1332 cc', '2148 cc', '1299 cc', '1061 cc', '2497 cc', '1590 cc',
       '1781 cc', '2953 cc', '1595 cc', nan, '2496 cc', '2362 cc',
       '970 cc', '1389 cc', '1597 cc', '2498 cc', '995 cc', '72 cc',
       '1589 cc', '3597 cc', '5000 cc', '2200 cc', '2996 cc', '1108 cc',
       '1996 cc', '1985 cc', '2157 cc', '2112 cc', '2446 cc', '1794 cc',
       '2359 cc', '2609 cc', '2956 cc', '2231 cc', '1349 cc', '3456 cc',
       '2360 cc', '3982 cc', '2894 cc', '3346 cc', '3498 cc', '2979 cc',
       '2835 cc', '1150 cc', '1343 cc', '2981 cc', '4395 cc', '1817 cc',
       '3993 cc', '1948 cc', '4806 cc', '2994 cc', '1993 cc', '1490 cc',
       '2489 cc'], dtype=object)

In [251]:
car['Engine Displacement'] = car['Engine Displacement'].fillna(car['Engine Displacement'].mode()[0])

In [252]:
car['Engine Displacement'].isna().sum()

0

In [253]:
car['Engine'] = car['Engine'].fillna(car['Engine'].mode()[0])

In [254]:
car['Engine'].isna().sum()

0

In [255]:
car['Engine and Transmission - Displacement'].isna().sum()

367

In [256]:
car['Engine and Transmission - Displacement'] = car['Engine and Transmission - Displacement'].fillna(car['Engine and Transmission - Displacement'].mode()[0])

### Oem Handling missing values

In [257]:
car['oem'].isna().sum()

0

In [258]:
car.oem.head()

0        Kia
1     Maruti
2     Nissan
3    Hyundai
4      Honda
Name: oem, dtype: object

In [259]:
car['oem'].unique()

array(['Kia', 'Maruti', 'Nissan', 'Hyundai', 'Honda', 'Mercedes-Benz',
       'BMW', 'Ford', 'Tata', 'Jeep', 'Toyota', 'Audi', 'Mahindra',
       'Renault', 'Chevrolet', 'Volkswagen', 'Datsun', 'Fiat',
       'Land Rover', 'MG', 'Skoda', 'Isuzu', 'Mini', 'Volvo', 'Jaguar',
       'Citroen', 'Mitsubishi', 'Mahindra Renault', 'Mahindra Ssangyong',
       'Lexus', 'Opel', 'Hindustan Motors', 'Porsche'], dtype=object)

In [260]:
car['oem'] = car['oem'].replace({
    'Mahindra Renault': 'Renault',
    'Mahindra Ssangyong': 'Ssangyong'
})

### Year of Manufacture Handling missing values

In [261]:
car['Year of Manufacture'].isna().sum()

383

In [262]:
car['Year of Manufacture'].head()

0    2022.0
1    2015.0
2    2021.0
3    2015.0
4    2015.0
Name: Year of Manufacture, dtype: float64

In [263]:
car['Year of Manufacture']=car['Year of Manufacture'].fillna(car['modelYear'].apply(lambda x:x))

In [264]:
car['modelYear'].head()

0    2022
1    2015
2    2021
3    2015
4    2015
Name: modelYear, dtype: int64

In [265]:
car['Year of Manufacture'].isna().sum()

0

In [266]:
car['Year of Manufacture'] = car['Year of Manufacture'].astype(int)

### Null Percentage

In [267]:
import pandas as pd

# Set the option to display all rows and columns
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

In [268]:
null_percentage=(car.isnull().mean()*100).round(2)
pd.DataFrame({
    'columns':null_percentage.index,
    'null_percentage':null_percentage.values
}).sort_values('null_percentage',ascending=False)

                                             columns  null_percentage
15                                    priceFixedText           100.00
14                                       priceSaving           100.00
76  Dimensions & Capacity - Ground Clearance Unladen            94.10
67       Engine and Transmission - Compression Ratio            78.30
13                                       priceActual            77.13
75            Engine and Transmission - BoreX Stroke            72.46
71              Dimensions & Capacity - Gross Weight            56.16
73                         Miscellaneous - Top Speed            47.24
70                Dimensions & Capacity - Rear Tread            45.04
69               Dimensions & Capacity - Front Tread            44.90
74                      Miscellaneous - Acceleration            44.38
39                                        Wheel Size            38.32
62                  Miscellaneous - Alloy Wheel Size            38.32
66     Engine and Transmission - Value Configuration            29.54
68           Engine and Transmission - Super Charger            26.63
48       Engine and Transmission - Fuel Suppy System            23.93
72                    Miscellaneous - Turning Radius            22.48
64                      Miscellaneous - Cargo Volumn            22.40
56                        Miscellaneous - Drive Type            22.02
34     Entertainment & Communication - Entertainment            16.70
49           Engine and Transmission - Turbo Charger            16.07
23                                               RTO            14.40
42             Engine and Transmission - Engine Type             7.54
65                                           Mileage             7.44
58                     Miscellaneous - Steering Type             7.08
53                Dimensions & Capacity - Wheel Base             6.02
55                          Miscellaneous - Gear Box             5.37
33                                   Safety - Safety             5.26
59                  Miscellaneous - Front Brake Type             5.26
60                   Miscellaneous - Rear Brake Type             5.26
32                               Exterior - Exterior             5.19
51                     Dimensions & Capacity - Width             5.11
52                    Dimensions & Capacity - Height             5.06
50                    Dimensions & Capacity - Length             5.06
31                               Interior - Interior             5.04
61                         Miscellaneous - Tyre Type             5.04
30                   Comfort & Convenience - Comfort             4.94
29                                      top_features             4.90
37                                         Max Power             4.84
44               Engine and Transmission - Max Power             4.84
45              Engine and Transmission - Max Torque             4.84
38                                            Torque             4.84
54               Dimensions & Capacity - Kerb Weight             4.83
47     Engine and Transmission - Values per Cylinder             4.74
46          Engine and Transmission - No of Cylinder             4.51
63                   Miscellaneous - No Door Numbers             4.28
57                  Miscellaneous - Seating Capacity             4.23
41                   Engine and Transmission - Color             4.19
35                                         heading.2             4.16
28                                         heading.1             4.16
17                                           heading             4.16
0                                                 it             0.00
43            Engine and Transmission - Displacement             0.00
40                                           Seats.1             0.00
2                                                 bt             0.00
3                                                 km             0.00
4                                       transmission             0.00
5                                            ownerNo             0.00
6                                              owner             0.00
7                                                oem             0.00
8                                              model             0.00
9                                          modelYear             0.00
10                                  centralVariantId             0.00
11                                       variantName             0.00
12                                             price             0.00
16                                      trendingText             0.00
18                                 Registration Year             0.00
19                                Insurance Validity             0.00
20                                         Fuel Type             0.00
21                                             Seats             0.00
22                                        Kms Driven             0.00
24                                         Ownership             0.00
25                               Engine Displacement             0.00
26                                      Transmission             0.00
27                               Year of Manufacture             0.00
36                                            Engine             0.00
1                                                 ft             0.00
77                                              city             0.00

### Torque - Max Torque   -- Handling missing values

In [269]:
car['Torque'].isna().sum()

423

In [270]:
car['Engine and Transmission - Max Torque'].isna().sum()

423

In [271]:
car['Torque'] = car['Torque'].str.replace('Nm', '', regex=True)

In [272]:
car['Torque'] = car['Torque'].str.replace('nm', '', regex=True)

In [273]:
car['Torque'] = car['Torque'].str.replace('NM', '' ,regex=True)

In [274]:
car['Torque'] = car['Torque'].str.replace('kgm', '' ,regex=True)

In [275]:
car['Torque'].unique()

array(['172', '101', '160', '99.04', '110', '500', '90', '400', '150',
       '114.74', '113', '113.75', '260', '350', '145', '420', '109',
       '94.14', '190', '245', '259.9', '171.6', '320', '115', '114',
       '200', '250', '110  ', '173', '205', '151', '108.5', '580', '600',
       '343', '560', '170', '95', '104', '99', '178', '144', '113.76',
       '450', '111.7', '115  ', '130', '117', '153', '146', '138', '385',
       '114.7', '120', '33 ', '240', '113.8', '700', '50', '69', '190.24',
       '89', '91', '330', '154.9', '122', '132', '220', '146 at 4800 rpm',
       '242', '380', '72', '175', '620', '13.5', '259.87', '111.8', '540',
       '96', '74.5', '20.4', '204', nan, '210', '300', '219.66', '360',
       '224', '140', '51 ', '370', '62', '59', '114.73', '102', '25.5 ',
       '192.2', '219.7', '124.6', '430', '259.8', '180.4', '253', '143.8',
       '240.26', '319', '230', '191', '22.4  at 1750-2750rpm', '340',
       '13.5  ', '215', '180  at 1440-1500rpm', '480', '222', '550',
       '100', '51', '125', '11.4  at 4,000 rpm', '119', '113.7', '180',
       '22.6 ', '25 KGM', '800', '112', '213', '11.5', '78  ', '280',
       '19 ', '270', '152', '171.62', '290', '127', '219.6', '285',
       '155  at 1600-2800 rpm', '8.5', '136.8', '190.25', '142.5', '142',
       '113 ', '210 / 1900', '640', '10.4', '132.3', '14.9 ',
       '153  at 3800 rpm', '98', '135  ', '197', '96.1', '16', '148   ',
       '436.39', '186', '254 ', '172.5', '440', '42 ', '32.6', '196',
       '134', '110 (11.2) ', '248', '149', '221', '202', '619', '35.7 ',
       '142 ', '343  ', '177.5', '34.7 ', '470', '400.11', '218', '181',
       '436.4', '402', '10.7 ', '17.8 ', '84', '25.1 ', '124.5', '130  ',
       '25.5', '207', '148', '11.4 ', '22.9', '35.7', '226', '70',
       '6.1  ', '13.1  ', '327', '212', '108', '85',
       '14.9 KGM at 3000 RPM', '12.7 ', '260  at 1800-2200 rpm', '182.5',
       '121.5', '365', '90.3', '171', '11', '126  ', '4.8 ', '195', '116',
       '25.2 ', '12.5', '25 ', '35.0 ', '172.5 ', '136', '515', '135',
       '12.5 ', '16.3 ', '520', '9.4 ', '247', '373.5', '60', '209',
       '240  ', '200  ', '254', '225', '82.1', '103', '510 ', '259.88',
       '98.5', '23.6 ', '320 ', '7.8', '13.5 ', '132.38', '204 ', '135.3',
       '24 ', '250 ', '28.3 ', '265', '210/1750-4600', '78', '104.4',
       '135.4', '97.96', '760', '187   ', '11.8 ', '689', '77', '190  ',
       '12', '424', '90.3  ', '200 ', '151  ', '16.1', '24.5 ', '20 ',
       '95.2', '84.33', '490', '335', '226 ', '134.2', '478.5', '850',
       '475', '8.6', '110 ', '192.21', '520 ', '99.1', '174', '345',
       '147.6', '355', '54', '275', '88.4', '382', '395',
       '110  at 3750 rpm', '9.8 ', '10.4 ', '190  at 1750  rpm ', '13',
       '11.3  ', '530', '17.5 ', '99.07', '85.32', '500 ', '106  ', '650',
       '106.5', '192', '12.9 ', '650 ', '190  at 1750 rpm ', '460', '233',
       '96 '], dtype=object)

In [276]:
car['Torque'] = car['Torque'].str.extract(r'(\d+\.?\d*)')

In [277]:
car['Torque'].unique()

array(['172', '101', '160', '99.04', '110', '500', '90', '400', '150',
       '114.74', '113', '113.75', '260', '350', '145', '420', '109',
       '94.14', '190', '245', '259.9', '171.6', '320', '115', '114',
       '200', '250', '173', '205', '151', '108.5', '580', '600', '343',
       '560', '170', '95', '104', '99', '178', '144', '113.76', '450',
       '111.7', '130', '117', '153', '146', '138', '385', '114.7', '120',
       '33', '240', '113.8', '700', '50', '69', '190.24', '89', '91',
       '330', '154.9', '122', '132', '220', '242', '380', '72', '175',
       '620', '13.5', '259.87', '111.8', '540', '96', '74.5', '20.4',
       '204', nan, '210', '300', '219.66', '360', '224', '140', '51',
       '370', '62', '59', '114.73', '102', '25.5', '192.2', '219.7',
       '124.6', '430', '259.8', '180.4', '253', '143.8', '240.26', '319',
       '230', '191', '22.4', '340', '215', '180', '480', '222', '550',
       '100', '125', '11.4', '119', '113.7', '22.6', '25', '800', '112',
       '213', '11.5', '78', '280', '19', '270', '152', '171.62', '290',
       '127', '219.6', '285', '155', '8.5', '136.8', '190.25', '142.5',
       '142', '640', '10.4', '132.3', '14.9', '98', '135', '197', '96.1',
       '16', '148', '436.39', '186', '254', '172.5', '440', '42', '32.6',
       '196', '134', '248', '149', '221', '202', '619', '35.7', '177.5',
       '34.7', '470', '400.11', '218', '181', '436.4', '402', '10.7',
       '17.8', '84', '25.1', '124.5', '207', '22.9', '226', '70', '6.1',
       '13.1', '327', '212', '108', '85', '12.7', '182.5', '121.5', '365',
       '90.3', '171', '11', '126', '4.8', '195', '116', '25.2', '12.5',
       '35.0', '136', '515', '16.3', '520', '9.4', '247', '373.5', '60',
       '209', '225', '82.1', '103', '510', '259.88', '98.5', '23.6',
       '7.8', '132.38', '135.3', '24', '28.3', '265', '104.4', '135.4',
       '97.96', '760', '187', '11.8', '689', '77', '12', '424', '16.1',
       '24.5', '20', '95.2', '84.33', '490', '335', '134.2', '478.5',
       '850', '475', '8.6', '192.21', '99.1', '174', '345', '147.6',
       '355', '54', '275', '88.4', '382', '395', '9.8', '13', '11.3',
       '530', '17.5', '99.07', '85.32', '106', '650', '106.5', '192',
       '12.9', '460', '233'], dtype=object)

In [278]:
car['Torque'].head()

0      172
1      101
2      160
3    99.04
4      110
Name: Torque, dtype: object

In [279]:
# Step 2: Find the mode of the column
mode_torque = car['Torque'].mode()[0]  # mode() returns a series, so we take the first value

In [280]:
car['Torque']=car['Torque'].fillna(mode_torque)

In [281]:
car['Torque'].isna().sum()

0

In [282]:
car['Torque'] = car['Torque'].astype(float)

In [283]:
car.drop(columns='Engine and Transmission - Max Torque',inplace=True)

### Gear Box - handling missing values

In [284]:
car.rename(columns={'Miscellaneous - Gear Box': 'Gearbox'}, inplace=True)

In [285]:
car['Gearbox'].unique()

array(['7-Speed DCT', '5 Speed', '7 Speed', '5 Speed ', '8 Speed',
       '6 Speed', '5', '6 Speed iMT', nan, '7-Speed', 'CVT',
       '7G DCT 7-Speed Dual Clutch Transmission ', '5-Speed',
       '5 Speed CVT', '6 Speed ', '7 Speed ', '9 Speed', '6-Speed',
       '6-Speed iMT', 'Five Speed', '4 Speed',
       '5 Speed AT+ Paddle Shifters', '4-Speed', '7 Speed DSG',
       '4 Speed ', '7-speed', '8 Speed CVT', '6-speed', '6-Speed AT',
       '8-Speed', '7-Speed S-Tronic ', '6-Speed IMT',
       '8-Speed Steptronic', '6-speed AutoSHIFT', '6', '9G-TRONIC', 'IVT',
       '9 speed Tronic', '9G-TRONIC automatic', 'AGS', '6-Speed DCT',
       '6 Speed AT', '9-Speed', '7-speed DCT', '8 Speed Tiptronic',
       '7-Speed DSG', 'Six Speed Manual', 'iMT', '8 Speed Sport',
       '6 Speed with Sequential Shift', '6-speed IVT',
       '7-Speed Steptronic', '6 Speed IMT', '8', '8-Speed ',
       'Five Speed Manual Transmission', '5-speed', '8-speed',
       '7 Speed DCT', 'Five Speed Manual Transmission Gearbox',
       'AMG SPEEDSHIFT DCT 8G', 'AMG 7-SPEED DCT', '5 speed', 'E-CVT',
       '8 Speed ', '7-speed Stronic',
       '8-Speed Steptronic Sport Automatic Transmission',
       '7-Speed S-Tronic', '8G-DCT', '6-speed CVT', '6 speed ',
       '7 Speed CVT', 'Five Speed Manual', '5-Speed`', '6-Speed IVT',
       'Direct Drive', '6 Speed IVT', '6Speed', '6 Speed MT',
       '6-speed iMT', '7 speed', '6 speed automatic', '7G-DCT',
       'Six Speed Geartronic, Six Speed Automati',
       '5 Speed Manual (Cable Type Gear Shift)',
       'Six Speed Automatic Gearbox', '10 Speed', 'Fully Automatic',
       'Single-speed transmission', 'Six Speed  Gearbox',
       '5 Speed Forward, 1 Reverse', '7 Speed S tronic', '6-speed DCT',
       '8 speed', '8-Speed Automatic Transmission',
       'Six Speed Manual with Paddle Shifter', '7 Speed Steptronic Sport',
       '4-speed', '9-speed automatic', 'SPEEDSHIFT TCT 9G',
       '7 Speed 7G-DCT', '7-speed PDK', '8Speed',
       '8-speed Steptronic Automatic', '10-speed Automatic',
       'Six Speed Automatic Transmission', '9G TRONIC', '5-Speed ',
       '7-Speed DCT Steptronic', '8-Speed DCT',
       'Mercedes Benz 7 Speed Automatic', '10 speed',
       'Single speed reduction gear', 'Single Speed', '5 speed manual',
       '9 -speed', '8-speed tiptronic', '7-Speed S tronic', 'eCVT'],
      dtype=object)

In [286]:
car['Gearbox'].isna().sum()

469

In [287]:
# Calculate the mode of the 'Gearbox' column
mode_gearbox = car['Gearbox'].mode()[0]

# Fill missing values in Gearbox column with the mode
car['Gearbox'].fillna(mode_gearbox, inplace=True)

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\2337080032.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Gearbox'].fillna(mode_gearbox, inplace=True)

In [288]:
car['Gearbox'].unique()

array(['7-Speed DCT', '5 Speed', '7 Speed', '5 Speed ', '8 Speed',
       '6 Speed', '5', '6 Speed iMT', '7-Speed', 'CVT',
       '7G DCT 7-Speed Dual Clutch Transmission ', '5-Speed',
       '5 Speed CVT', '6 Speed ', '7 Speed ', '9 Speed', '6-Speed',
       '6-Speed iMT', 'Five Speed', '4 Speed',
       '5 Speed AT+ Paddle Shifters', '4-Speed', '7 Speed DSG',
       '4 Speed ', '7-speed', '8 Speed CVT', '6-speed', '6-Speed AT',
       '8-Speed', '7-Speed S-Tronic ', '6-Speed IMT',
       '8-Speed Steptronic', '6-speed AutoSHIFT', '6', '9G-TRONIC', 'IVT',
       '9 speed Tronic', '9G-TRONIC automatic', 'AGS', '6-Speed DCT',
       '6 Speed AT', '9-Speed', '7-speed DCT', '8 Speed Tiptronic',
       '7-Speed DSG', 'Six Speed Manual', 'iMT', '8 Speed Sport',
       '6 Speed with Sequential Shift', '6-speed IVT',
       '7-Speed Steptronic', '6 Speed IMT', '8', '8-Speed ',
       'Five Speed Manual Transmission', '5-speed', '8-speed',
       '7 Speed DCT', 'Five Speed Manual Transmission Gearbox',
       'AMG SPEEDSHIFT DCT 8G', 'AMG 7-SPEED DCT', '5 speed', 'E-CVT',
       '8 Speed ', '7-speed Stronic',
       '8-Speed Steptronic Sport Automatic Transmission',
       '7-Speed S-Tronic', '8G-DCT', '6-speed CVT', '6 speed ',
       '7 Speed CVT', 'Five Speed Manual', '5-Speed`', '6-Speed IVT',
       'Direct Drive', '6 Speed IVT', '6Speed', '6 Speed MT',
       '6-speed iMT', '7 speed', '6 speed automatic', '7G-DCT',
       'Six Speed Geartronic, Six Speed Automati',
       '5 Speed Manual (Cable Type Gear Shift)',
       'Six Speed Automatic Gearbox', '10 Speed', 'Fully Automatic',
       'Single-speed transmission', 'Six Speed  Gearbox',
       '5 Speed Forward, 1 Reverse', '7 Speed S tronic', '6-speed DCT',
       '8 speed', '8-Speed Automatic Transmission',
       'Six Speed Manual with Paddle Shifter', '7 Speed Steptronic Sport',
       '4-speed', '9-speed automatic', 'SPEEDSHIFT TCT 9G',
       '7 Speed 7G-DCT', '7-speed PDK', '8Speed',
       '8-speed Steptronic Automatic', '10-speed Automatic',
       'Six Speed Automatic Transmission', '9G TRONIC', '5-Speed ',
       '7-Speed DCT Steptronic', '8-Speed DCT',
       'Mercedes Benz 7 Speed Automatic', '10 speed',
       'Single speed reduction gear', 'Single Speed', '5 speed manual',
       '9 -speed', '8-speed tiptronic', '7-Speed S tronic', 'eCVT'],
      dtype=object)

In [289]:
# Extract numeric part using regex directly with raw string
car['Gearbox'] = car['Gearbox'].astype(str).str.extract(r'(\d+)', expand=False)

# Convert extracted values to numeric type
car['Gearbox'] = pd.to_numeric(car['Gearbox'], errors='coerce')

In [290]:
car['Gearbox'].unique()

array([ 7.,  5.,  8.,  6., nan,  9.,  4., 10.])

In [291]:
car['Gearbox'].mode()

0    5.0
Name: Gearbox, dtype: float64

In [292]:
car['Gearbox'].mean()

5.456766917293233

In [293]:
car['Gearbox'].median()

5.0

In [294]:
mode_gearbox = car['Gearbox'].mode()[0]

# Fill NaN values with the mode
car['Gearbox'].fillna(mode_gearbox, inplace=True)

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\2911708809.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Gearbox'].fillna(mode_gearbox, inplace=True)

In [295]:
car['Gearbox'].unique()

array([ 7.,  5.,  8.,  6.,  9.,  4., 10.])

In [296]:
car['Gearbox'] = car['Gearbox'].astype(int)

In [297]:
car['Gearbox'].unique()

array([ 7,  5,  8,  6,  9,  4, 10])

### Max Power - Handling Missing Values

In [298]:
car['Max Power'].isna().sum()

423

In [299]:
car['Max Power'].unique()

array(['118.36bhp', '73bhp', '98.63bhp', '68.05bhp', '88.7bhp', '204bhp',
       '67.04bhp', '66.1bhp', '187.7bhp', '121.36bhp', '81.80bhp',
       '187.74bhp', '81.86bhp', '108.5bhp', '167.67bhp', '117.3bhp',
       '201.15bhp', '86.7bhp', '74bhp', '127bhp', '126.2bhp', '118.35bhp',
       '177.01bhp', '117.6bhp', '83.1bhp', '82bhp', '163.60bhp',
       '98.6bhp', '107.3bhp', '85 PS ', '108.45bhp', '138.1bhp',
       '108.62bhp', '86.79bhp', '74.02bhp', '121.3bhp', '82.4bhp',
       '241.4bhp', '88.5bhp', '245bhp', '147.8bhp', '167.62bhp', '258bhp',
       '75.10bhp', '67.05bhp', '68bhp', '113.98bhp', '78.9bhp',
       '113.43bhp', '182.38bhp', '88.76bhp', '90 PS ', '88.50bhp',
       '98.96bhp', '91.1bhp', '160.77bhp', '103.2bhp', '73.75bhp',
       '116.3bhp', '86.8bhp', '141bhp', '157.7bhp', '81.83bhp',
       '94.68bhp', '142 ', '100bhp', '203.2bhp', '143bhp', '252bhp',
       '459bhp', '210', '190bhp', '87.2bhp', '47.33bhp', '147.51bhp',
       '108.49bhp', '73.97bhp', '130bhp', '65.71bhp', '67bhp',
       '117.60bhp', '113.45bhp', '114.41bhp', '191.7bhp', '140bhp',
       '91.18bhp', '88.73bhp', '103.6bhp', '103.25bhp', '281.61bhp',
       '118PS at 6,600 rpm', '67.1bhp', '138.08bhp', '174.33bhp',
       '53.3bhp', '103.5bhp', '261.50bhp', '85.8bhp', '70', '174.5bhp',
       '108.6bhp', '261.4bhp', '71.01bhp', '84bhp', '55.2bhp', '102',
       '89.84bhp', '85.80bhp', '241.38bhp', '103.26bhp', '194bhp', nan,
       '84.82bhp', '325.86bhp3600-4200rpm', '74.96bhp', '73.9bhp',
       '188bhp', '150bhp', '53.64bhp', '148bhp', '119.35bhp', '83.83bhp',
       '167.68bhp', '69bhp', '161bhp', '136bhp', '191.76bhp', '138.03bhp',
       '235 ', '98bhp', '248bhp', '181bhp', '110.4bhp', '46.3bhp',
       '37bhp', '172.35bhp', '97.9bhp', '67.06bhp', '138.12bhp',
       '103.52bhp', '147.52bhp', '98.59bhp', '254.79bhp', '158bhp',
       '70bhp', '75bhp', '105 ', '149.92bhp', '93.7bhp', '177bhp',
       '120.3bhp', '88.77bhp', '126.32bhp', '73.94bhp', '248.08bhp',
       '157.81bhp', '113.18bhp', '174.33', '83.14bhp', '75.94bhp',
       '136.78bhp', '53.26bhp', '47.3bhp', '88.8bhp', '86.63bhp',
       '184bhp', '138.05bhp', '115.05bhp', '172.45bhp', '187.40bhp',
       '156.9bhp', '90PS at 4000rpm', '106 bhp ', '63 HP at 3200 rpm',
       '235bhp', '177.6bhp', '103bhp', '65', '37.5bhp', '47bhp',
       '80 PS at 5200 rpm', '57.6bhp', '94.93bhp', '82.85bhp', '170bhp',
       '180 ', '84.48bhp', '110bhp', '160 BHP', '335.2bhp', '99bhp',
       '118.41bhp', '152.87bhp', '83.81bhp', '160bhp', '218bhp', '88.2',
       '60 PS ', '170.63bhp', '100.5bhp', '114bhp', '189.08bhp', '80 ',
       '168.5bhp', '123.24bhp', '88bhp', '38Ps', '120bhp', '121.31bhp',
       '77bhp', '71.02bhp', '134.1bhp', '92.7bhp', '186bhp',
       '70 bhp at 4000 rpm', '116.4bhp', '86.83bhp', '53.5', '101.64bhp',
       '171.5bhp', '56.3bhp', '104.5bhp', '126.3bhp', '85ps ',
       '66(90) / 4000', '72bhp', '400bhp', '83.1', '103.2 ',
       '105 PS at 5250 rpm', '108.50bhp', '104.68', '95.48bhp',
       '72.41bhp', '71 PS ', '175bhp', '108.48bhp', '62.1bhp', '64.1bhp',
       '105.94bhp', '104  PS ', '194.3bhp', '153.866bhp', '162bhp',
       '73.74bhp', '215bhp', '175.56bhp', '170 ', '140', '335.26bhp',
       '120bhp (86.7kw)', '70.02bhp', '197bhp', '236.7bhp', '158.2bhp',
       '254.8bhp', '97.7bhp', '90(66) ', '335.2', '63.1bhp', '301.73bhp',
       '83.8bhp', '120.69bhp', '255bhp', '214.5bhp', '214.56bhp',
       '97.89bhp', '76.43bhp', '138bhp', '181.04bhp', '153.86bhp', '177 ',
       '104.55bhp', '453.26bhp', '194.4bhp', '171 PS ', '147.5bhp',
       '83 PS ', '178bhp', '105.5bhp', '147.94bhp', '102.57bhp',
       '174.3bhp', '113.42bhp', '182.46bhp', '158.8bhp', '160.92bhp',
       '130.1bhp', '203bhp', '100.6bhp', '70 ', '115 ', '215 ', '115bhp',
       '94 PS ', '120.7bhp', '197.2bhp', '106', '177.46bhp', '112bhp',
       '218 ', '102.53bhp', '163.2', '65bhp', '120.33bhp', '261.49bhp',
       '187.4bhp', '25.4bhp', '41.42bhp', '35 bhp ', '141.04bhp',
       '86.76bhp', '163.7bhp', '71bhp', '100 bhp ', '61 PS ', '147.9bhp',
       '164.7bhp', '145hp', '79.4bhp', '52.8bhp', '103.2 PS at 5500 RPM',
       '88 PS ', '78 ', '92', '112bhp at 3800 rpm', '63bhp', '167.6bhp',
       '61.68bhp', '85.7bhp', '246.74bhp', '62bhp', '72.4bhp',
       '335.25bhp', '75', '40bhp', '93 PS ', '80.46bhp', '35 bhp',
       '161.6 ', '68', '101 ', '157.75bhp', '75.09bhp', '112.2 ',
       '101.65bhp', '260.0 ', '73.8bhp', '110.5bhp', '121bhp', '379.7bhp',
       '120 ', '84.8bhp', '94 ', '126.24bhp', '68 ', '384.87bhp',
       '48.21bhp', '201.1bhp', '57 ', '105bhp', '173bhp', '84bhp3750rpm',
       '200bhp', '177.5bhp', '99.23bhp', '158.79bhp', '197.26bhp',
       '118.3bhp', '296bhp', '40.36bhp', '91.7bhp', '78 kW ', '163bhp',
       '90 PS', '153.87bhp', '178.49bhp', '93.87bhp', '138.13bhp',
       '55.92bhp', '120.96bhp', '80bhp', '271.2bhp', '165 [224] at 3800',
       '245.59bhp', '123.37bhp', '99.6bhp', '241.6bhp', '165 ',
       '107.5bhp', '91.72bhp', '270.9bhp', '140PS ', '57.5', '100 ',
       '96.55bhp', '89.75bhp', '89bhp', '102.5bhp', '110 ', '105PS ',
       '157.57bhp', '116.6 ', '82.9bhp', '110(150)/5700', '167.7bhp',
       '58.33bhp', '79.65bhp', '41.57bhp', '65.39bhp', '402.30Bhpbhp',
       '82  PS ', '82.9 ', '58.2bhp', '75 PS ', '85bhp', '85', '63 ',
       '208bhp', '125', '178 ', '61.6bhp', '144 ', '67.72bhp',
       '181.03bhp', '215.01bhp', '64bhp', '321.84bhp', '58bhp',
       '91.19bhp', '268bhp', '183bhp', '83.11bhp', '197.13bhp',
       '296.3bhp', '282bhp', '258.81bhp', '170PS ',
       '362.07bhp5500-6100bhp', '241.3bhp', '103.39bhp', '192bhp',
       '237bhp', '212.55bhp', '245.40bhp', '259bhp', '576.63bhp',
       '70.40Bhp', '469bhp', '375.48bhp', '194.44bhp', '64', '333bhp',
       '250bhp', '75 ', '237.36bhp', '140.1bhp', '159.74bhp', '304.41bhp',
       '257.47bhp', '306bhp', '76bhp', '130.07bhp', '152.88bhp',
       '362.07bhp', '185bhp', '134bhp', '163.5bhp', '68.1bhp', '130.3bhp',
       '130.2bhp', '168.7bhp', '321bhp', '58.16bhp', '139.46bhp',
       '364.9bhp', '86.80bhp', '98.69bhp', '175.67bhp', '272bhp',
       '38.4bhp', '103.3bhp', '355.37Bhp', '107.2bhp', '59bhp',
       '141.1bhp', '74.9bhp', '148.31bhp', '134.10bhp',
       '75 bhp at 5400 rpm', '66.6 ', '75 PS at 4000  rpm ', '169bhp',
       '140.8bhp', '113.4bhp', '34.2bhp', '84.5', '90 bhp ', '100.57bhp',
       '443.87bhp', '450bhp', '72.40bhp', '84.88bhp', '63.12bhp',
       '245.4bhp', '132 ', '68.07bhp', '247bhp', '97.6bhp', '59.18bhp',
       '394.3bhp ', '198.25bhp', '52 PS ', '510bhp', '76.8bhp',
       '150.19bhp', '348.66bhp', '300bhp', '75 PS at 4000 rpm ', '265bhp',
       '155bhp', '78.8bhp', '47', '375.5bhp', '154bhp', '168bhp',
       '221.3bhp', '156.82bhp', '178.4bhp', '97.64bhp', '68PS '],
      dtype=object)

In [300]:
# Step 1: Extract numeric values using regex
car['Max Power'] = car['Max Power'].astype(str).str.extract(r'(\d+(\.\d+)?)', expand=False)[0]

# Step 2: Convert the extracted values to numeric (float type)
car['Max Power'] = pd.to_numeric(car['Max Power'], errors='coerce')

# Step 3: Calculate the mode of the 'Max Power' column
mode_max_power = car['Max Power'].mode()[0]

# Step 4: Fill missing values with the mode
car['Max Power'].fillna(mode_max_power, inplace=True)

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\1170617831.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Max Power'].fillna(mode_max_power, inplace=True)

In [301]:
car['Max Power'].isna().sum()

0

In [302]:
car['Max Power'].unique()

array([118.36 ,  73.   ,  98.63 ,  68.05 ,  88.7  , 204.   ,  67.04 ,
        66.1  , 187.7  , 121.36 ,  81.8  , 187.74 ,  81.86 , 108.5  ,
       167.67 , 117.3  , 201.15 ,  86.7  ,  74.   , 127.   , 126.2  ,
       118.35 , 177.01 , 117.6  ,  83.1  ,  82.   , 163.6  ,  98.6  ,
       107.3  ,  85.   , 108.45 , 138.1  , 108.62 ,  86.79 ,  74.02 ,
       121.3  ,  82.4  , 241.4  ,  88.5  , 245.   , 147.8  , 167.62 ,
       258.   ,  75.1  ,  67.05 ,  68.   , 113.98 ,  78.9  , 113.43 ,
       182.38 ,  88.76 ,  90.   ,  98.96 ,  91.1  , 160.77 , 103.2  ,
        73.75 , 116.3  ,  86.8  , 141.   , 157.7  ,  81.83 ,  94.68 ,
       142.   , 100.   , 203.2  , 143.   , 252.   , 459.   , 210.   ,
       190.   ,  87.2  ,  47.33 , 147.51 , 108.49 ,  73.97 , 130.   ,
        65.71 ,  67.   , 113.45 , 114.41 , 191.7  , 140.   ,  91.18 ,
        88.73 , 103.6  , 103.25 , 281.61 , 118.   ,  67.1  , 138.08 ,
       174.33 ,  53.3  , 103.5  , 261.5  ,  85.8  ,  70.   , 174.5  ,
       108.6  , 261.4  ,  71.01 ,  84.   ,  55.2  , 102.   ,  89.84 ,
       241.38 , 103.26 , 194.   ,  84.82 , 325.86 ,  74.96 ,  73.9  ,
       188.   , 150.   ,  53.64 , 148.   , 119.35 ,  83.83 , 167.68 ,
        69.   , 161.   , 136.   , 191.76 , 138.03 , 235.   ,  98.   ,
       248.   , 181.   , 110.4  ,  46.3  ,  37.   , 172.35 ,  97.9  ,
        67.06 , 138.12 , 103.52 , 147.52 ,  98.59 , 254.79 , 158.   ,
        75.   , 105.   , 149.92 ,  93.7  , 177.   , 120.3  ,  88.77 ,
       126.32 ,  73.94 , 248.08 , 157.81 , 113.18 ,  83.14 ,  75.94 ,
       136.78 ,  53.26 ,  47.3  ,  88.8  ,  86.63 , 184.   , 138.05 ,
       115.05 , 172.45 , 187.4  , 156.9  , 106.   ,  63.   , 177.6  ,
       103.   ,  65.   ,  37.5  ,  47.   ,  80.   ,  57.6  ,  94.93 ,
        82.85 , 170.   , 180.   ,  84.48 , 110.   , 160.   , 335.2  ,
        99.   , 118.41 , 152.87 ,  83.81 , 218.   ,  88.2  ,  60.   ,
       170.63 , 100.5  , 114.   , 189.08 , 168.5  , 123.24 ,  88.   ,
        38.   , 120.   , 121.31 ,  77.   ,  71.02 , 134.1  ,  92.7  ,
       186.   , 116.4  ,  86.83 ,  53.5  , 101.64 , 171.5  ,  56.3  ,
       104.5  , 126.3  ,  66.   ,  72.   , 400.   , 104.68 ,  95.48 ,
        72.41 ,  71.   , 175.   , 108.48 ,  62.1  ,  64.1  , 105.94 ,
       104.   , 194.3  , 153.866, 162.   ,  73.74 , 215.   , 175.56 ,
       335.26 ,  70.02 , 197.   , 236.7  , 158.2  , 254.8  ,  97.7  ,
        63.1  , 301.73 ,  83.8  , 120.69 , 255.   , 214.5  , 214.56 ,
        97.89 ,  76.43 , 138.   , 181.04 , 153.86 , 104.55 , 453.26 ,
       194.4  , 171.   , 147.5  ,  83.   , 178.   , 105.5  , 147.94 ,
       102.57 , 174.3  , 113.42 , 182.46 , 158.8  , 160.92 , 130.1  ,
       203.   , 100.6  , 115.   ,  94.   , 120.7  , 197.2  , 177.46 ,
       112.   , 102.53 , 163.2  , 120.33 , 261.49 ,  25.4  ,  41.42 ,
        35.   , 141.04 ,  86.76 , 163.7  ,  61.   , 147.9  , 164.7  ,
       145.   ,  79.4  ,  52.8  ,  78.   ,  92.   , 167.6  ,  61.68 ,
        85.7  , 246.74 ,  62.   ,  72.4  , 335.25 ,  40.   ,  93.   ,
        80.46 , 161.6  , 101.   , 157.75 ,  75.09 , 112.2  , 101.65 ,
       260.   ,  73.8  , 110.5  , 121.   , 379.7  ,  84.8  , 126.24 ,
       384.87 ,  48.21 , 201.1  ,  57.   , 173.   , 200.   , 177.5  ,
        99.23 , 158.79 , 197.26 , 118.3  , 296.   ,  40.36 ,  91.7  ,
       163.   , 153.87 , 178.49 ,  93.87 , 138.13 ,  55.92 , 120.96 ,
       271.2  , 165.   , 245.59 , 123.37 ,  99.6  , 241.6  , 107.5  ,
        91.72 , 270.9  ,  57.5  ,  96.55 ,  89.75 ,  89.   , 102.5  ,
       157.57 , 116.6  ,  82.9  , 167.7  ,  58.33 ,  79.65 ,  41.57 ,
        65.39 , 402.3  ,  58.2  , 208.   , 125.   ,  61.6  , 144.   ,
        67.72 , 181.03 , 215.01 ,  64.   , 321.84 ,  58.   ,  91.19 ,
       268.   , 183.   ,  83.11 , 197.13 , 296.3  , 282.   , 258.81 ,
       362.07 , 241.3  , 103.39 , 192.   , 237.   , 212.55 , 245.4  ,
       259.   , 576.63 ,  70.4  , 469.   , 375.48 , 194.44 , 333.   ,
       250.   , 237.36 , 140.1  , 159.74 , 304.41 , 257.47 , 306.   ,
        76.   , 130.07 , 152.88 , 185.   , 134.   , 163.5  ,  68.1  ,
       130.3  , 130.2  , 168.7  , 321.   ,  58.16 , 139.46 , 364.9  ,
        98.69 , 175.67 , 272.   ,  38.4  , 103.3  , 355.37 , 107.2  ,
        59.   , 141.1  ,  74.9  , 148.31 ,  66.6  , 169.   , 140.8  ,
       113.4  ,  34.2  ,  84.5  , 100.57 , 443.87 , 450.   ,  84.88 ,
        63.12 , 132.   ,  68.07 , 247.   ,  97.6  ,  59.18 , 394.3  ,
       198.25 ,  52.   , 510.   ,  76.8  , 150.19 , 348.66 , 300.   ,
       265.   , 155.   ,  78.8  , 375.5  , 154.   , 168.   , 221.3  ,
       156.82 , 178.4  ,  97.64 ])

### Car Length

In [303]:
car['Dimensions & Capacity - Length']=car.rename(columns={"Dimensions & Capacity - Length":"Carlength"},inplace=True)

In [304]:
car['Carlength'].head()

0    3995mm
1    3675mm
2    3994mm
3    3585mm
4    3955mm
Name: Carlength, dtype: object

In [305]:
car['Carlength'].unique()

array(['3995mm', '3675mm', '3994mm', '3585mm', '3955mm', '4879mm',
       '3715mm', '3500mm', '4708mm', '3998mm', '3955 mm', '4709mm',
       '3840mm', '3765mm', '4405mm', '4440mm', '4795mm', '3990mm',
       '3515mm', '3993mm', '4270mm', '3995 mm', '4915mm', '3600mm',
       '4735mm', '3999mm', '4359mm', '4095mm', '4315mm', '3805mm',
       '4620mm', '4933mm', '4249mm', '4629mm', '4490mm', '5052 mm',
       '4686mm', '5219mm', '3971mm', '4657mm', '4661mm', '3788mm',
       '3610 mm', '4221mm', '3987mm', '4695mm', '4,560mm', '3989mm',
       '3985mm', '4296mm', '4598mm', '4390mm', '4600mm', '4445mm',
       '3610mm', '4655mm', '4892mm', '3954mm', '4,800 mm', '4817mm',
       '4456mm', '4384mm', '4824mm', '5453mm', '5206mm', '4907mm',
       '3599mm', '4375mm', '4458mm', '3445mm', '4225mm', '3995', '4323mm',
       '3545mm', '4545mm', '3801mm', '3695mm', '3731mm', '4440', '4300mm',
       '4540mm', '5063mm', '4585mm', '4370mm', '4395', nan, '4386mm',
       '4490 mm', '5255mm', '4420 mm', '3595mm', '4388mm', '3679mm',
       '4922 mm', '4150 mm', '3700mm', '3530mm', '3565', '4886mm',
       '5091mm', '3991mm', '3746mm', '3495mm', '4385mm', '4,580 mm',
       '3620mm', '4598 mm', '3775mm', '4924mm', '4658mm', '4413mm',
       '5207mm', '3795mm', '4160mm', '3429mm', '4735', '4549mm', '3992mm',
       '4955mm', '4630mm', '5075mm', '4265mm', '4833mm', '4841mm',
       '4097mm', '4819mm', '4663mm', '4635mm', '3845mm', '3335mm',
       '4769mm', '3731', '4541mm', '4819', '4720mm', '4,554 mm', '4570mm',
       '4963 mm', '4250mm', '4731mm', '4420mm', '4659mm', '4618mm',
       '4701mm', '4500mm', '3825 mm', '3970mm', '4456', '3655mm',
       '3827mm', '4624mm', '4662mm', '3940 mm', '4697mm', '3850mm',
       '4056mm', '4950mm', '5089mm', '4598', '4395 mm', '3988 mm',
       '3099mm  ', '3445', '3395mm', '3640mm', '3430mm', '3655 mm',
       '4591mm', '3435mm', '4395mm', '3802mm', '4838mm', '3886mm',
       '4850mm', '3760mm', '4656 mm', '3535mm', '4595mm', '4526mm',
       '4,435 mm', '3636mm', '4705mm', '3982mm', '4699mm', '4439mm',
       '3099mm', '4430mm', '3993', '4417mm', '4310mm', '4797mm',
       '3941 mm', '3,690 mm', '3988mm', '4365mm', '4477mm', '4355mm',
       '4507 mm', '4290mm', '4384 mm', '3941', '3675', '3795 mm',
       '4825mm', '3565mm', '3690mm', '3780mm', '4247mm', '4425mm',
       '4299 mm', '4648mm', '4690mm', '4360', '4755mm', '4305mm',
       '4851mm', '4695 mm', '4,596 mm', '4586mm', '4223mm', '4860',
       '4490', '3805', '3900mm', '3825mm', '5302mm', '4644mm', '4436mm',
       '4559mm', '4331mm', '4561mm', '4936mm', '4988mm', '4885 mm',
       '4975 mm', '5067mm', '5120mm', '4318mm', '4482', '4300', '4400 mm',
       '4486mm', '3785mm', '5246mm', '4530mm', '3810mm', '4498mm',
       '4670mm', '4708', '4234mm', '4531mm', '4520mm', '4475mm', '4575mm',
       '4660mm', '4329mm', '4,560 mm', '4852mm', '4868mm', '4,140 mm',
       '4480mm', '4961mm', '5115', '4,572 mm', '4861mm', '4560mm',
       '4752 mm', '4580mm', '3714mm', '3,565 mm', '4,586 mm', '4277mm',
       '5060mm', '4726mm', '4292mm', '4803 mm', '3765', '4655 mm',
       '3590mm', '2974', '3370mm', '4509mm', '4597mm', '4815mm',
       '4300 mm', '3535 mm', '4222mm', '4435mm', '5150 mm', '3981mm',
       '3099 mm', '4838 mm', '4788mm', '3801 mm', '4,282 mm', '4859mm',
       '4525mm', '4,838 mm', '4585 mm', '5247mm', '4,421 mm', '4596mm',
       '4282mm', '4891mm', '3,827 mm', '4369mm', '4650mm', '3920mm',
       '4324mm', '4000mm', '4807mm', '4421mm', '4985mm', '5115mm', '4500',
       '4618 mm', '4107mm', '4627mm', '4413 mm', '4345mm', '3895mm',
       '4850 mm', '5130mm', '3884mm', '4693 mm', '4569mm', '4767mm',
       '4010mm', '4781mm', '4410mm', '4682mm', '4360mm', '4455mm',
       '4800mm', '4291mm', '5200mm', '4633mm', '4628mm', '4569 mm',
       '3520 mm', '4320mm', '4535mm', '4780mm', '4495mm', '4903mm',
       '4583', '4869mm', '4170mm', '4762mm', '5350mm', '4158 mm',
       '4673mm', '5215mm', '4425 mm', '4,530 mm', '4870mm', '3815mm',
       '3996', '5238mm', '4882mm', '4424 mm', '4751mm', '5018mm',
       '5226mm', '5000mm', '4429', '5064mm', '4253mm', '4939mm', '4890mm',
       '4940mm', '4371 mm', '4855mm', '4518mm', '5462 mm', '3520mm',
       '4606 mm', '4963mm', '3,970 mm', '5010', '4922mm', '4685mm',
       '4447mm', '4691mm', '4143mm', '5295mm', '4365', '4405', '5179mm',
       '4656mm', '4665 mm', '3695', '4850', '4716', '4637mm', '4315',
       '4377mm', '4017mm', '4749mm', '3880mm', '4180mm', '4453mm',
       '4270 mm', '4519mm', '4894mm', '3990', '4688mm', '4325mm',
       '4285 mm', '4697 mm', '5252mm', '4970mm', '4574', '4820mm',
       '4546mm', '4823', '4765mm', '4,310 mm', '5015mm', '4470mm'],
      dtype=object)

In [306]:
car['Carlength'].isna().sum()

442

In [307]:
# Step 1: Remove 'mm' (with or without space) and commas
car['Carlength'] = car['Carlength'].str.replace(r'\s*mm', '', regex=True)  # Remove 'mm'
car['Carlength'] = car['Carlength'].str.replace(',', '')  # Remove commas

In [308]:
car['Carlength'] = car['Carlength'].fillna(car['Carlength'].mode()[0])

In [309]:
car['Carlength'] = car['Carlength'].astype(int)

### Car Width

In [310]:
car['Dimensions & Capacity - Width']=car.rename(columns={"Dimensions & Capacity - Width":"Carwidth"},inplace=True)

In [311]:
car['Carwidth'].head()

0      1790
1    1475mm
2      1758
3    1595mm
4    1694mm
Name: Carwidth, dtype: object

In [312]:
car['Carwidth'].isna().sum()

446

In [313]:
# Step 1: Remove 'mm' (with or without space) and commas
car['Carwidth'] = car['Carwidth'].str.replace(r'\s*mm', '', regex=True)  # Remove 'mm'
car['Carwidth'] = car['Carwidth'].str.replace(',', '')  # Remove commas

In [314]:
car['Carwidth'] = car['Carwidth'].fillna(car['Carwidth'].mode()[0])

In [315]:
car['Carwidth']=car['Carwidth'].astype(int)

### Car Height

In [316]:
car['Dimensions & Capacity - Height']=car.rename(columns={"Dimensions & Capacity - Height":"Carheight"},inplace=True)

In [317]:
car['Carheight'].head()

0      1642
1    1800mm
2      1572
3    1550mm
4    1544mm
Name: Carheight, dtype: object

In [318]:
car['Carheight'].isna().sum()

442

In [319]:
# Step 1: Remove 'mm' (with or without space) and commas
car['Carheight'] = car['Carheight'].str.replace(r'\s*mm', '', regex=True)  # Remove 'mm'
car['Carheight'] = car['Carheight'].str.replace(',', '')  # Remove commas
car['Carheight'] = car['Carheight'].str.split('-').str[0]

In [320]:
car['Carheight']=car['Carheight'].fillna(car['Carheight'].mode()[0])

In [321]:
car['Carheight']=car['Carheight'].astype(int)

In [322]:
car['Carheight'].min()

1288

### Car Mileage -- Handling missing values

In [323]:
car['Mileage'].unique()

array([nan, '15.37 kmpl', '20 kmpl', '19.81 kmpl', '18.7 kmpl', '13 kmpl',
       '23.1 kmpl', '19 kmpl', '16.55 kmpl', '14.8 kmpl', '21 kmpl',
       '18.2 kmpl', '20.37 kmpl', '22 kmpl', '18.9 kmpl', '21.5 kmpl',
       '17.1 kmpl', '17.4 kmpl', '18 kmpl', '20.3 kmpl', '25.2 kmpl',
       '17.8 kmpl', '17.01 kmpl', '18.15 kmpl', '13.53 kmpl', '21.4 kmpl',
       '8 kmpl', '17.5 kmpl', '27.3 kmpl', '15 kmpl', '15.9 kmpl',
       '19.6 kmpl', '20.7 kmpl', '14.53 kmpl', '16.82 kmpl', '21.43 kmpl',
       '28.4 kmpl', '17 kmpl', '18.53 kmpl', '13.22 kmpl', '25.5 kmpl',
       '28.09 kmpl', '14.75 kmpl', '13.68 kmpl', '19.27 kmpl',
       '16.46 kmpl', '17.74 kmpl', '14.08 kmpl', '19.02 kmpl',
       '18.41 kmpl', '23.8 kmpl', '16.8 kmpl', '14.6 kmpl', '17.52 kmpl',
       '20.36 kmpl', '18.6 kmpl', '16 kmpl', '15.5 kmpl', '16.2 kmpl',
       '23 kmpl', '19.12 kmpl', '14.3 kmpl', '20.14 kmpl', '24.52 kmpl',
       '16.35 kmpl', '16.09 kmpl', '12.51 kmpl', '15.6 kmpl',
       '17.99 kmpl', '19.4 kmpl', '15.81 kmpl', '13.5 kmpl', '13.6 kmpl',
       '18.49 kmpl', '21.21 kmpl', '15.26 kmpl', '20.38 kmpl',
       '21.66 kmpl', '19.1 kmpl', '22.41 kmpl', '15.34 kmpl', '7.81 kmpl',
       '18.12 kmpl', '20.51 kmpl', '19.08 kmpl', '22.05 kmpl',
       '18.86 kmpl', '14.82 kmpl', '19.56 kmpl', '23.95 kmpl', '24 kmpl',
       '19.49 kmpl', '25.24 kmpl', '24.7 kmpl', '21.74 kmpl',
       '19.67 kmpl', '16.1 kmpl', '15.1 kmpl', '17.6 kmpl', '21.14 kmpl',
       '22.95 kmpl', '26 kmpl', '20.28 kmpl', '23.7 kmpl', '16.5 kmpl',
       '15.73 kmpl', '25.17 kmpl', '16.14 kmpl', '17.21 kmpl',
       '13.38 kmpl', '15.04 kmpl', '26.68 kmpl', '20.89 kmpl',
       '24.39 kmpl', '21.7 kmpl', '15.8 kmpl', '11.7 kmpl', '24.3 kmpl',
       '25.8 kmpl', '20.73 kmpl', '18.5 kmpl', '21.01 kmpl', '17.09 kmpl',
       '26.21 kmpl', '23.84 kmpl', '21.1 kmpl', '12.8 kmpl', '16.47 kmpl',
       '20.92 kmpl', '22.7 kmpl', '17.03 kmpl', '15.29 kmpl',
       '16.95 kmpl', '19.01 kmpl', '18.97 kmpl', '19.3 kmpl',
       '21.76 kmpl', '15.2 kmpl', '19.28 kmpl', '21.63 kmpl', '19.5 kmpl',
       '21.19 kmpl', '12 kmpl', '17.41 kmpl', '22.54 kmpl', '12.08 kmpl',
       '17.9 kmpl', '16.78 kmpl', '17.2 kmpl', '11.5 kmpl', '14.16 kmpl',
       '19.23 kmpl', '8.5 kmpl', '15.97 kmpl', '9 kmpl', '22.38 kmpl',
       '23.65 kmpl', '15.85 kmpl', '19.7 kmpl', '17.68 kmpl',
       '19.03 kmpl', '14.84 kmpl', '25.6 kmpl', '22.3 kmpl', '20.1 kmpl',
       '18.72 kmpl', '17.19 kmpl', '18.3 kmpl', '13.96 kmpl',
       '22.77 kmpl', '15.3 kmpl', '23.01 kmpl', '16.65 kmpl',
       '12.62 kmpl', '20.5 kmpl', '19.44 kmpl', '14.62 kmpl',
       '22.69 kmpl', '18.78 kmpl', '16.36 kmpl', '16.38 kmpl',
       '14.69 kmpl', '23.64 kmpl', '26.59 kmpl', '19.71 kmpl',
       '20.4 kmpl', '17.11 kmpl', '22.32 kmpl', '24.4 kmpl', '23.2 kmpl',
       '13.17 kmpl', '20.85 kmpl', '14.24 kmpl', '19.15 kmpl', '25 kmpl',
       '22.25 kmpl', '22.15 kmpl', '23.56 kmpl', '20.09 kmpl',
       '23.4 kmpl', '18.88 kmpl', '15.4 kmpl', '19.62 kmpl', '14.5 kmpl',
       '21.9 kmpl', '16.25 kmpl', '19.72 kmpl', '22.9 kmpl', '18.76 kmpl',
       '12.07 kmpl', '17.88 kmpl', '19.34 kmpl', '14.4 kmpl', '25.4 kmpl',
       '27.62 kmpl', '22.74 kmpl', '25.44 kmpl', '18.27 kmpl',
       '21.72 kmpl', '21.79 kmpl', '22.07 kmpl', '20.71 kmpl', '9.8 kmpl',
       '13.14 kmpl', '11.33 kmpl', '25.19 kmpl', '18.16 kmpl',
       '24.29 kmpl', '15.63 kmpl', '19.16 kmpl', '16.73 kmpl',
       '14.2 kmpl', '17.3 kmpl', '19.83 kmpl', '27.28 kmpl', '25.83 kmpl',
       '16.3 kmpl', '22.1 kmpl', '12.2 kmpl', '18.4 kmpl', '12.78 kmpl',
       '20.68 kmpl', '24.04 kmpl', '27.39 kmpl', '20.08 kmpl',
       '12.05 kmpl', '25.32 kmpl', '20.52 kmpl', '18.75 kmpl',
       '14.49 kmpl', '11.74 kmpl', '12.99 kmpl', '20.58 kmpl',
       '24.35 kmpl', '11.36 kmpl', '14.19 kmpl', '18.19 kmpl',
       '17.05 kmpl', '12.7 kmpl', '26.49 km/kg', '11.3 kmpl', '15.7 kmpl',
       '13.7 kmpl', '13.9 kmpl', '16.98 kmpl', '21.56 kmpl', '23.9 kmpl',
       '16.02 kmpl', '16.11 kmpl', '17.57 kmpl', '20.54 kmpl',
       '13.8 kmpl', '18.05 kmpl', '18.24 kmpl', '17.92 kmpl',
       '18.06 kmpl', '20.25 kmpl', '24.2 kmpl', '19.2 kmpl', '18.1 kmpl',
       '15.64 kmpl', '21.13 kmpl', '19.19 kmpl', '13.01 kmpl',
       '16.42 kmpl', '12.83 kmpl', '22.35 kmpl', '14.59 kmpl',
       '17.67 kmpl', '11.24 kmpl', '20.77 kmpl', '12.18 kmpl',
       '18.8 kmpl', '20.65 kmpl', '20.8 kmpl', '26.2 kmpl', '14.7 kmpl',
       '23.08 kmpl', '16.24 kmpl', '19.87 kmpl', '22.37 kmpl',
       '19.33 kmpl', '16.9 kmpl', '14.57 kmpl', '19.59 kmpl',
       '14.85 kmpl', '16.13 kmpl', '15.17 kmpl', '18.55 kmpl',
       '14.74 kmpl', '20.45 kmpl', '14.28 kmpl', '20.63 kmpl',
       '21.27 kmpl', '17.33 kmpl', '18.48 kmpl', '13.45 kmpl',
       '12.6 kmpl', '15.56 kmpl', '19.98 kmpl', '27.03 kmpl',
       '16.56 kmpl', '13.2 kmpl', '14.1 kmpl', '13.24 kmpl', '10.91 kmpl',
       '16.07 kmpl', '11.1 kmpl', '11.4 kmpl', '11.72 kmpl', '13.32 kmpl',
       '10 kmpl', '11.18 kmpl', '14.21 kmpl', '10.9 kmpl', '15.43 kmpl',
       '14.11 kmpl', '22.56 kmpl', '14.67 kmpl', '14.71 kmpl',
       '17.69 kmpl', '12.55 kmpl', '17.7 kmpl', '13.06 kmpl', '12.3 kmpl',
       '17.14 kmpl', '21.03 kmpl', '22.5 kmpl', '21.46 kmpl',
       '17.42 kmpl', '18.56 kmpl', '13.79 kmpl', '18.25 kmpl',
       '14.99 kmpl', '11.9 kmpl', '11.57 kmpl', '20.04 kmpl', '110 kmpl',
       '14 kmpl', '18.45 kmpl', '16.96 kmpl', '12.65 kmpl', '19.65 kmpl',
       '10.75 kmpl', '21.73 kmpl', '13.4 kmpl', '20.46 kmpl',
       '12.35 kmpl', '20.88 km/kg', '26.11 kmpl', '13.58 kmpl',
       '10.54 kmpl', '19.64 kmpl', '140 kmpl', '19.69 kmpl', '15.41 kmpl',
       '14.9 kmpl', '19.47 kmpl', '10.5 kmpl', '19.09 kmpl', '21.64 kmpl',
       '22.61 kmpl', '18.09 kmpl', '8.9 kmpl', '23.59 kmpl', '15.96 kmpl',
       '13.93 kmpl', '16.4 kmpl', '16.28 kmpl', '20.86 kmpl',
       '18.07 kmpl', '16.6 kmpl', '26.1 kmpl', '13.92 kmpl', '14.02 kmpl',
       '31.59 km/kg', '21.8 kmpl', '24.76 kmpl', '12.34 kmpl',
       '21.11 kmpl', '14.23 kmpl', '26.82 kmpl', '11 kmpl', '17.32 kmpl',
       '25.3 kmpl', '19.95 kmpl', '35.6 km/kg', '21.12 kmpl',
       '11.96 kmpl', '21.02 kmpl', '19.68 kmpl', '25.1 kmpl',
       '13.47 kmpl', '18.23 kmpl', '31.12 kmpl', '23.22 kmpl',
       '17.38 kmpl', '15.68 kmpl', '17.97 kmpl', '22.27 kmpl',
       '16.97 kmpl', '13.33 kmpl', '19.89 kmpl', '27.4 kmpl', '26.5 kmpl',
       '25.01 kmpl', '17.43 kmpl', '22.71 kmpl', '20.34 kmpl',
       '33.54 kmpl', '12.9 kmpl', '12.4 kmpl', '32.52 kmpl', '24.1 kmpl',
       '30.47 km/kg', '17.29 kmpl', '21.49 kmpl', '13.1 kmpl',
       '14.47 kmpl', '21.1 km/kg', '18.43 kmpl', '12.12 kmpl',
       '26.8 kmpl', '9.74 kmpl', '14.34 kmpl', '11.67 kmpl', '12.74 kmpl',
       '28 km/kg', '12.5 kmpl', '14.025 kmpl', '30.48 km/kg',
       '19.61 kmpl', '26.08 km/kg', '12.1 kmpl', '12.81 kmpl', '9.2 kmpl',
       '17.71 kmpl', '16.34 kmpl', '30.46 kmpl', '11.21 kmpl',
       '16.39 kmpl', '11.2 kmpl', '12.04 kmpl', '16.12 kmpl',
       '26.55 kmpl', '7.08 kmpl', '31.2 kmpl', '12.33 kmpl', '31.79 kmpl',
       '8.13 kmpl', '16.72 kmpl', '22.48 kmpl', '20.6 kmpl', '14.01 kmpl',
       '10.8 kmpl', '9.26 kmpl', '12.95 kmpl', '16.7 kmpl', '10.4 kmpl',
       '20.15 kmpl', '31.12 km/kg', '11.88 kmpl', '18.69 kmpl',
       '18.9 km/kg', '15.01 kmpl', '10.26 kmpl', '19.39 kmpl',
       '8.45 kmpl', '26.11 km/kg', '12.63 kmpl', '26.6 kmpl',
       '10.13 kmpl', '20.27 kmpl', '14.09 kmpl', '20.01 kmpl',
       '10.93 kmpl', '26.6 km/kg', '26.83 kmpl', '16.77 kmpl',
       '19.17 kmpl', '21.38 kmpl', '23.57 kmpl', '24.8 kmpl', '7.94 kmpl',
       '26.49 kmpl', '25.47 kmpl', '18.33 kmpl', '9.4 kmpl', '7.5 kmpl',
       '13.44 kmpl', '14.94 kmpl', '23.03 kmpl', '15.39 kmpl',
       '24.97 kmpl', '34.05 kmpl', '17.85 kmpl', '27.97 kmpl',
       '20.62 kmpl', '15.15 kmpl', '19.8 kmpl', '14.95 kmpl',
       '11.81 kmpl', '12.98 kmpl'], dtype=object)

In [324]:
car['Mileage'] = car['Mileage'].str.replace(r'\s*kmpl', '', regex=True)  # Remove 'mm'
car['Mileage'] = car['Mileage'].str.replace(',', '')  # Remove commas

In [325]:
car['Mileage'].isna().sum()

650

In [326]:
car['Mileage']=car['Mileage'].fillna(car['Mileage'].mode()[0])

In [327]:
for i in range(len(car['Mileage'])):
    if pd.notna(car['Mileage'][i]) and str(car['Mileage'][i]).endswith('km/kg'):
        car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Mileage'][i] = float(car['Mileage'][i][:-6]) * 1.40
C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\4142282532.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:


In [328]:
car['Mileage'] = pd.to_numeric(car['Mileage'], errors='coerce')

In [329]:
car['Mileage'].head(150)

0      18.90
1      15.37
2      20.00
3      19.81
4      18.70
5      13.00
6      23.10
7      19.00
8      16.55
9      14.80
10     21.00
11     18.20
12     20.37
13     22.00
14     18.90
15     21.50
16     17.10
17     17.40
18     18.90
19     18.00
20     20.30
21     18.00
22     25.20
23     17.80
24     18.90
25     17.01
26     18.15
27     17.80
28     13.53
29     17.40
30     21.40
31     18.90
32     23.10
33      8.00
34     23.10
35     18.00
36     17.50
37     27.30
38     15.00
39     15.90
40     21.40
41     18.15
42     19.60
43     20.70
44     18.00
45     14.53
46     16.82
47     21.43
48     28.40
49     17.00
50     18.53
51     18.20
52     13.22
53     25.50
54     28.09
55     28.09
56     14.75
57     13.68
58     19.27
59     16.46
60     17.00
61     17.74
62     16.55
63     14.08
64     19.02
65     13.00
66     20.30
67     18.41
68     23.80
69     16.82
70     16.80
71     14.60
72     17.52
73     18.90
74     21.40
75     20.36
76     17.00
77     21.40
78     18.60
79     16.00
80     17.10
81     18.70
82     15.50
83     16.20
84     23.00
85     19.12
86     14.30
87     18.60
88     21.40
89     20.14
90     19.00
91     24.52
92     16.35
93     21.40
94     16.09
95     17.00
96     17.40
97     12.51
98     15.60
99     17.99
100    17.80
101    20.30
102    17.00
103    19.40
104    15.81
105    13.50
106    18.90
107    18.60
108    19.00
109    21.40
110    13.60
111    16.20
112    25.20
113    18.49
114    21.21
115    15.26
116    20.38
117    18.49
118    28.09
119    21.66
120    19.10
121    17.80
122    17.50
123    20.70
124    18.60
125    21.21
126    22.41
127    15.34
128    18.90
129    21.40
130    21.21
131     7.81
132    18.70
133    18.70
134    13.00
135    18.12
136    16.46
137    23.10
138    21.43
139    20.51
140    21.40
141    18.60
142    23.10
143    19.08
144    18.90
145    20.38
146    22.41
147    18.90
148    18.90
149    22.05
Name: Mileage, dtype: float64

In [330]:
car['Mileage'].unique()

array([ 18.9  ,  15.37 ,  20.   ,  19.81 ,  18.7  ,  13.   ,  23.1  ,
        19.   ,  16.55 ,  14.8  ,  21.   ,  18.2  ,  20.37 ,  22.   ,
        21.5  ,  17.1  ,  17.4  ,  18.   ,  20.3  ,  25.2  ,  17.8  ,
        17.01 ,  18.15 ,  13.53 ,  21.4  ,   8.   ,  17.5  ,  27.3  ,
        15.   ,  15.9  ,  19.6  ,  20.7  ,  14.53 ,  16.82 ,  21.43 ,
        28.4  ,  17.   ,  18.53 ,  13.22 ,  25.5  ,  28.09 ,  14.75 ,
        13.68 ,  19.27 ,  16.46 ,  17.74 ,  14.08 ,  19.02 ,  18.41 ,
        23.8  ,  16.8  ,  14.6  ,  17.52 ,  20.36 ,  18.6  ,  16.   ,
        15.5  ,  16.2  ,  23.   ,  19.12 ,  14.3  ,  20.14 ,  24.52 ,
        16.35 ,  16.09 ,  12.51 ,  15.6  ,  17.99 ,  19.4  ,  15.81 ,
        13.5  ,  13.6  ,  18.49 ,  21.21 ,  15.26 ,  20.38 ,  21.66 ,
        19.1  ,  22.41 ,  15.34 ,   7.81 ,  18.12 ,  20.51 ,  19.08 ,
        22.05 ,  18.86 ,  14.82 ,  19.56 ,  23.95 ,  24.   ,  19.49 ,
        25.24 ,  24.7  ,  21.74 ,  19.67 ,  16.1  ,  15.1  ,  17.6  ,
        21.14 ,  22.95 ,  26.   ,  20.28 ,  23.7  ,  16.5  ,  15.73 ,
        25.17 ,  16.14 ,  17.21 ,  13.38 ,  15.04 ,  26.68 ,  20.89 ,
        24.39 ,  21.7  ,  15.8  ,  11.7  ,  24.3  ,  25.8  ,  20.73 ,
        18.5  ,  21.01 ,  17.09 ,  26.21 ,  23.84 ,  21.1  ,  12.8  ,
        16.47 ,  20.92 ,  22.7  ,  17.03 ,  15.29 ,  16.95 ,  19.01 ,
        18.97 ,  19.3  ,  21.76 ,  15.2  ,  19.28 ,  21.63 ,  19.5  ,
        21.19 ,  12.   ,  17.41 ,  22.54 ,  12.08 ,  17.9  ,  16.78 ,
        17.2  ,  11.5  ,  14.16 ,  19.23 ,   8.5  ,  15.97 ,   9.   ,
        22.38 ,  23.65 ,  15.85 ,  19.7  ,  17.68 ,  19.03 ,  14.84 ,
        25.6  ,  22.3  ,  20.1  ,  18.72 ,  17.19 ,  18.3  ,  13.96 ,
        22.77 ,  15.3  ,  23.01 ,  16.65 ,  12.62 ,  20.5  ,  19.44 ,
        14.62 ,  22.69 ,  18.78 ,  16.36 ,  16.38 ,  14.69 ,  23.64 ,
        26.59 ,  19.71 ,  20.4  ,  17.11 ,  22.32 ,  24.4  ,  23.2  ,
        13.17 ,  20.85 ,  14.24 ,  19.15 ,  25.   ,  22.25 ,  22.15 ,
        23.56 ,  20.09 ,  23.4  ,  18.88 ,  15.4  ,  19.62 ,  14.5  ,
        21.9  ,  16.25 ,  19.72 ,  22.9  ,  18.76 ,  12.07 ,  17.88 ,
        19.34 ,  14.4  ,  25.4  ,  27.62 ,  22.74 ,  25.44 ,  18.27 ,
        21.72 ,  21.79 ,  22.07 ,  20.71 ,   9.8  ,  13.14 ,  11.33 ,
        25.19 ,  18.16 ,  24.29 ,  15.63 ,  19.16 ,  16.73 ,  14.2  ,
        17.3  ,  19.83 ,  27.28 ,  25.83 ,  16.3  ,  22.1  ,  12.2  ,
        18.4  ,  12.78 ,  20.68 ,  24.04 ,  27.39 ,  20.08 ,  12.05 ,
        25.32 ,  20.52 ,  18.75 ,  14.49 ,  11.74 ,  12.99 ,  20.58 ,
        24.35 ,  11.36 ,  14.19 ,  18.19 ,  17.05 ,  12.7  ,  37.086,
        11.3  ,  15.7  ,  13.7  ,  13.9  ,  16.98 ,  21.56 ,  23.9  ,
        16.02 ,  16.11 ,  17.57 ,  20.54 ,  13.8  ,  18.05 ,  18.24 ,
        17.92 ,  18.06 ,  20.25 ,  24.2  ,  19.2  ,  18.1  ,  15.64 ,
        21.13 ,  19.19 ,  13.01 ,  16.42 ,  12.83 ,  22.35 ,  14.59 ,
        17.67 ,  11.24 ,  20.77 ,  12.18 ,  18.8  ,  20.65 ,  20.8  ,
        26.2  ,  14.7  ,  23.08 ,  16.24 ,  19.87 ,  22.37 ,  19.33 ,
        16.9  ,  14.57 ,  19.59 ,  14.85 ,  16.13 ,  15.17 ,  18.55 ,
        14.74 ,  20.45 ,  14.28 ,  20.63 ,  21.27 ,  17.33 ,  18.48 ,
        13.45 ,  12.6  ,  15.56 ,  19.98 ,  27.03 ,  16.56 ,  13.2  ,
        14.1  ,  13.24 ,  10.91 ,  16.07 ,  11.1  ,  11.4  ,  11.72 ,
        13.32 ,  10.   ,  11.18 ,  14.21 ,  10.9  ,  15.43 ,  14.11 ,
        22.56 ,  14.67 ,  14.71 ,  17.69 ,  12.55 ,  17.7  ,  13.06 ,
        12.3  ,  17.14 ,  21.03 ,  22.5  ,  21.46 ,  17.42 ,  18.56 ,
        13.79 ,  18.25 ,  14.99 ,  11.9  ,  11.57 ,  20.04 , 110.   ,
        14.   ,  18.45 ,  16.96 ,  12.65 ,  19.65 ,  10.75 ,  21.73 ,
        13.4  ,  20.46 ,  12.35 ,  29.232,  26.11 ,  13.58 ,  10.54 ,
        19.64 , 140.   ,  19.69 ,  15.41 ,  14.9  ,  19.47 ,  10.5  ,
        19.09 ,  21.64 ,  22.61 ,  18.09 ,   8.9  ,  23.59 ,  15.96 ,
        13.93 ,  16.4  ,  16.28 ,  20.86 ,  18.07 ,  16.6  ,  26.1  ,
        13.92 ,  14.02 ,  44.226,  21.8  ,  24.76 ,  12.34 ,  21.11 ,
        14.23 ,  26.82 ,  11.   ,  17.32 ,  25.3  ,  19.95 ,  49.84 ,
        21.12 ,  11.96 ,  21.02 ,  19.68 ,  25.1  ,  13.47 ,  18.23 ,
        31.12 ,  23.22 ,  17.38 ,  15.68 ,  17.97 ,  22.27 ,  16.97 ,
        13.33 ,  19.89 ,  27.4  ,  26.5  ,  25.01 ,  17.43 ,  22.71 ,
        20.34 ,  33.54 ,  12.9  ,  12.4  ,  32.52 ,  24.1  ,  42.658,
        17.29 ,  21.49 ,  13.1  ,  14.47 ,  29.54 ,  18.43 ,  12.12 ,
        26.8  ,   9.74 ,  14.34 ,  11.67 ,  12.74 ,  39.2  ,  12.5  ,
        14.025,  42.672,  19.61 ,  36.512,  12.1  ,  12.81 ,   9.2  ,
        17.71 ,  16.34 ,  30.46 ,  11.21 ,  16.39 ,  11.2  ,  12.04 ,
        16.12 ,  26.55 ,   7.08 ,  31.2  ,  12.33 ,  31.79 ,   8.13 ,
        16.72 ,  22.48 ,  20.6  ,  14.01 ,  10.8  ,   9.26 ,  12.95 ,
        16.7  ,  10.4  ,  20.15 ,  43.568,  11.88 ,  18.69 ,  26.46 ,
        15.01 ,  10.26 ,  19.39 ,   8.45 ,  36.554,  12.63 ,  26.6  ,
        10.13 ,  20.27 ,  14.09 ,  20.01 ,  10.93 ,  37.24 ,  26.83 ,
        16.77 ,  19.17 ,  21.38 ,  23.57 ,  24.8  ,   7.94 ,  26.49 ,
        25.47 ,  18.33 ,   9.4  ,   7.5  ,  13.44 ,  14.94 ,  23.03 ,
        15.39 ,  24.97 ,  34.05 ,  17.85 ,  27.97 ,  20.62 ,  15.15 ,
        19.8  ,  14.95 ,  11.81 ,  12.98 ])

### DRIVE TYPE -- FWD or RWD or 4X4 -- Handling missing values

In [331]:
car['Miscellaneous - Drive Type']=car.rename(columns={"Miscellaneous - Drive Type":"DriveType"},inplace=True)

In [332]:
car['DriveType'].mode()

0    FWD
Name: DriveType, dtype: object

In [333]:
car['DriveType'].unique()

array(['FWD', 'RWD', nan, 'AWD', '4x2', '2WD', '4WD', 'Front Wheel Drive',
       'FWD ', '2 WD', '4X4', '4X2', 'Two Wheel Drive',
       'Rear Wheel Drive with ESP', '2WD ', 'All Wheel Drive',
       'RWD(with MTT)', '4x4', 'Permanent all-wheel drive quattro',
       'AWD INTEGRATED MANAGEMENT', '4 WD'], dtype=object)

In [334]:
car['DriveType'].isnull().sum()

1923

In [335]:
car['DriveType'].dtype

dtype('O')

In [336]:
# Step 1: Define a mapping for DriveType
mapping = {
    'FWD': 'FWD',
    'FWD ': 'FWD',
    'Front Wheel Drive': 'FWD',
    'RWD': 'RWD',
    'RWD ': 'RWD',
    'Rear Wheel Drive with ESP': 'RWD',
    'RWD(with MTT)': 'RWD',
    '4WD': '4WD',
    '4x4': '4WD',
    '4X4': '4WD',
    '4x2': '4WD',
    '4X2': '4WD',
    '2WD': 'RWD',  # or use 'FWD' based on your preference
    '2 WD': 'RWD',  # same as above
    'Two Wheel Drive': 'RWD',  # same as above
    'AWD': 'AWD',
    'All Wheel Drive': 'AWD',
    'AWD INTEGRATED MANAGEMENT': 'AWD',
    'Permanent all-wheel drive quattro': 'AWD',
    'Real Wheel Drive':'RWD',
    '4 WD': '4WD',
    None: None  # Keep NaN as is
}

# Step 2: Map the values using the defined mapping
car['DriveType'] = car['DriveType'].map(mapping)

# Step 3: Handle missing values using the mode
mode_drive_type = car['DriveType'].mode()[0]
car['DriveType'].fillna(mode_drive_type, inplace=True)

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_31100\330633647.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['DriveType'].fillna(mode_drive_type, inplace=True)

In [337]:
car['DriveType'].unique()

array(['FWD', 'RWD', 'AWD', '4WD'], dtype=object)

## rename some columns

In [338]:
car['bt']=car.rename(columns={"bt":"bodytype"},inplace=True)

In [339]:
car['ft']=car.rename(columns={"ft":"fueltype"},inplace=True)

In [340]:
car['km']=car.rename(columns={"km":"kms driven"},inplace=True)

In [341]:
car['Insurance Validity']=car.rename(columns={"Insurance Validity":"Insurance"},inplace=True)

## Merging the columns needed for final Analysis

In [342]:
columns_to_keep = ['bodytype','fueltype','oem','owner','transmission', 'ownerNo','kms driven', 'Mileage','model','variantName','Seats','DriveType','Insurance',
                   'modelYear', 'Registration Year','Gearbox','Torque','Year of Manufacture','Carlength','Engine Displacement','Carwidth','city','Max Power','price']

In [343]:
final_car = car[columns_to_keep]

# Optionally, save this new DataFrame to a CSV file
final_car.to_csv('finalcardata.csv', index=False)

In [344]:
import pandas as pd

# Assuming 'car' is your DataFrame
# Remove duplicate columns
final_car = final_car.loc[:, ~final_car.columns.duplicated()]

# Remove columns that are entirely empty
final_car = final_car.dropna(axis=1, how='all')

# Save to CSV
final_car.to_csv('finalcarsdata.csv', index=False)

# Display the cleaned DataFrame
print(final_car.head())

    bodytype fueltype      oem      owner transmission  ownerNo kms driven  \
0        SUV   Petrol      Kia  1st Owner    Automatic        1     20,000
1   Minivans   Petrol   Maruti  1st Owner       Manual        1     20,687
2        SUV   Petrol   Nissan  1st Owner       Manual        1     30,000
3  Hatchback   Petrol  Hyundai  1st Owner       Manual        1     59,247
4  Hatchback   Petrol    Honda  1st Owner       Manual        1     50,000

   Mileage           model                    variantName    Seats DriveType  \
0    18.90       Kia Sonet  Turbo DCT Anniversary Edition  5 Seats       FWD
1    15.37     Maruti Eeco         7 Seater Standard BSIV  7 Seats       RWD
2    20.00  Nissan Magnite          Turbo XV Premium BSVI  5 Seats       FWD
3    19.81     Hyundai i10                    Sportz 1.1L  5 Seats       FWD
4    18.70      Honda Jazz                  1.2 VX i VTEC  5 Seats       FWD

               Insurance  modelYear Registration Year  Gearbox  Torque  \
0  Third Party insurance       2022              2022        7  172.00
1          Comprehensive       2015          Feb 2015        5  101.00
2  Third Party insurance       2021              2021        5  160.00
3          Comprehensive       2015          May 2015        5   99.04
4  Third Party insurance       2015              2015        5  110.00

   Year of Manufacture  Carlength Engine Displacement  Carwidth     city  \
0                 2022       3995              998 cc      1790  chennai
1                 2015       3675             1196 cc      1475  chennai
2                 2021       3994              999 cc      1758  chennai
3                 2015       3585             1086 cc      1595  chennai
4                 2015       3955             1199 cc      1694  chennai

   Max Power    price
0     118.36  1150000
1      73.00   415000
2      98.63   750000
3      68.05   398000
4      88.70   550000