In [1]:
import pandas as pd

In [202]:
car=pd.read_csv('cars.csv')

In [203]:
car.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Engine and Transmission - Super Charger,Dimensions & Capacity - Front Tread,Dimensions & Capacity - Rear Tread,Dimensions & Capacity - Gross Weight,Miscellaneous - Turning Radius,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Engine and Transmission - BoreX Stroke,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN,chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN,chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN,chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN,chennai

In [204]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8732 entries, 0 to 8731
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                8732 non-null   int64
 1   ft                                                8732 non-null   object
 2   bt                                                8726 non-null   object
 3   km                                                8732 non-null   object
 4   transmission                                      8732 non-null   object
 5   ownerNo                                           8732 non-null   int64
 6   owner                                             8732 non-null   object
 7   oem                                               8732 non-null   object
 8   model                                             8732 non-null   object
 9   modelYear                                         8732 non-null   int64
 10  centralVariantId                                  8732 non-null   int64
 11  variantName                                       8732 non-null   object
 12  price                                             8732 non-null   object
 13  priceActual                                       1997 non-null   object
 14  priceSaving                                       0 non-null      float64
 15  priceFixedText                                    0 non-null      float64
 16  trendingText                                      8732 non-null   object
 17  heading                                           8369 non-null   object
 18  Registration Year                                 8317 non-null   object
 19  Insurance Validity                                8365 non-null   object
 20  Fuel Type                                         8369 non-null   object
 21  Seats                                             8363 non-null   object
 22  Kms Driven                                        8367 non-null   object
 23  RTO                                               7475 non-null   object
 24  Ownership                                         8337 non-null   object
 25  Engine Displacement                               8365 non-null   object
 26  Transmission                                      8369 non-null   object
 27  Year of Manufacture                               8349 non-null   float64
 28  heading.1                                         8369 non-null   object
 29  top_features                                      8304 non-null   object
 30  Comfort & Convenience - Comfort                   8301 non-null   object
 31  Interior - Interior                               8292 non-null   object
 32  Exterior - Exterior                               8279 non-null   object
 33  Safety - Safety                                   8273 non-null   object
 34  Entertainment & Communication - Entertainment     7274 non-null   object
 35  heading.2                                         8369 non-null   object
 36  Engine                                            8365 non-null   object
 37  Max Power                                         8309 non-null   object
 38  Torque                                            8309 non-null   object
 39  Wheel Size                                        5386 non-null   object
 40  Seats.1                                           8363 non-null   float64
 41  Engine and Transmission - Color                   8366 non-null   object
 42  Engine and Transmission - Engine Type             8074 non-null   object
 43  Engine and Transmission - Displacement            8365 non-null   float64
 44  Engine and Transmission - Max Power               8309 non-null   object
 45  Engine and Transmission - Max Torque              8309 non-null   object
 46  Engine and Transmission - No of Cylinder          8338 non-null   float64
 47  Engine and Transmission - Values per Cylinder     8318 non-null   float64
 48  Engine and Transmission - Fuel Suppy System       6642 non-null   object
 49  Engine and Transmission - Turbo Charger           7329 non-null   object
 50  Dimensions & Capacity - Length                    8290 non-null   object
 51  Dimensions & Capacity - Width                     8286 non-null   object
 52  Dimensions & Capacity - Height                    8290 non-null   object
 53  Dimensions & Capacity - Wheel Base                8206 non-null   object
 54  Dimensions & Capacity - Kerb Weight               8310 non-null   object
 55  Miscellaneous - Gear Box                          8263 non-null   object
 56  Miscellaneous - Drive Type                        6809 non-null   object
 57  Miscellaneous - Seating Capacity                  8363 non-null   float64
 58  Miscellaneous - Steering Type                     8114 non-null   object
 59  Miscellaneous - Front Brake Type                  8273 non-null   object
 60  Miscellaneous - Rear Brake Type                   8273 non-null   object
 61  Miscellaneous - Tyre Type                         8292 non-null   object
 62  Miscellaneous - Alloy Wheel Size                  5386 non-null   object
 63  Miscellaneous - No Door Numbers                   8358 non-null   float64
 64  Miscellaneous - Cargo Volumn                      6776 non-null   object
 65  Mileage                                           8082 non-null   object
 66  Engine and Transmission - Value Configuration     6153 non-null   object
 67  Engine and Transmission - Compression Ratio       1895 non-null   object
 68  Engine and Transmission - Super Charger           6407 non-null   object
 69  Dimensions & Capacity - Front Tread               4811 non-null   object
 70  Dimensions & Capacity - Rear Tread                4799 non-null   object
 71  Dimensions & Capacity - Gross Weight              3828 non-null   object
 72  Miscellaneous - Turning Radius                    6769 non-null   object
 73  Miscellaneous - Top Speed                         4607 non-null   object
 74  Miscellaneous - Acceleration                      4857 non-null   object
 75  Engine and Transmission - BoreX Stroke            2405 non-null   object
 76  Dimensions & Capacity - Ground Clearance Unladen  515 non-null    object
 77  city                                              8732 non-null   object
dtypes: float64(9), int64(4), object(65)
memory usage: 5.2+ MB

In [205]:
car.isna().sum()

it                                                     0
ft                                                     0
bt                                                     6
km                                                     0
transmission                                           0
                                                    ...
Miscellaneous - Top Speed                           4125
Miscellaneous - Acceleration                        3875
Engine and Transmission - BoreX Stroke              6327
Dimensions & Capacity - Ground Clearance Unladen    8217
city                                                   0
Length: 78, dtype: int64

In [206]:
car.shape

(8732, 78)

In [207]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8732 entries, 0 to 8731
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                8732 non-null   int64
 1   ft                                                8732 non-null   object
 2   bt                                                8726 non-null   object
 3   km                                                8732 non-null   object
 4   transmission                                      8732 non-null   object
 5   ownerNo                                           8732 non-null   int64
 6   owner                                             8732 non-null   object
 7   oem                                               8732 non-null   object
 8   model                                             8732 non-null   object
 9   modelYear                                         8732 non-null   int64
 10  centralVariantId                                  8732 non-null   int64
 11  variantName                                       8732 non-null   object
 12  price                                             8732 non-null   object
 13  priceActual                                       1997 non-null   object
 14  priceSaving                                       0 non-null      float64
 15  priceFixedText                                    0 non-null      float64
 16  trendingText                                      8732 non-null   object
 17  heading                                           8369 non-null   object
 18  Registration Year                                 8317 non-null   object
 19  Insurance Validity                                8365 non-null   object
 20  Fuel Type                                         8369 non-null   object
 21  Seats                                             8363 non-null   object
 22  Kms Driven                                        8367 non-null   object
 23  RTO                                               7475 non-null   object
 24  Ownership                                         8337 non-null   object
 25  Engine Displacement                               8365 non-null   object
 26  Transmission                                      8369 non-null   object
 27  Year of Manufacture                               8349 non-null   float64
 28  heading.1                                         8369 non-null   object
 29  top_features                                      8304 non-null   object
 30  Comfort & Convenience - Comfort                   8301 non-null   object
 31  Interior - Interior                               8292 non-null   object
 32  Exterior - Exterior                               8279 non-null   object
 33  Safety - Safety                                   8273 non-null   object
 34  Entertainment & Communication - Entertainment     7274 non-null   object
 35  heading.2                                         8369 non-null   object
 36  Engine                                            8365 non-null   object
 37  Max Power                                         8309 non-null   object
 38  Torque                                            8309 non-null   object
 39  Wheel Size                                        5386 non-null   object
 40  Seats.1                                           8363 non-null   float64
 41  Engine and Transmission - Color                   8366 non-null   object
 42  Engine and Transmission - Engine Type             8074 non-null   object
 43  Engine and Transmission - Displacement            8365 non-null   float64
 44  Engine and Transmission - Max Power               8309 non-null   object
 45  Engine and Transmission - Max Torque              8309 non-null   object
 46  Engine and Transmission - No of Cylinder          8338 non-null   float64
 47  Engine and Transmission - Values per Cylinder     8318 non-null   float64
 48  Engine and Transmission - Fuel Suppy System       6642 non-null   object
 49  Engine and Transmission - Turbo Charger           7329 non-null   object
 50  Dimensions & Capacity - Length                    8290 non-null   object
 51  Dimensions & Capacity - Width                     8286 non-null   object
 52  Dimensions & Capacity - Height                    8290 non-null   object
 53  Dimensions & Capacity - Wheel Base                8206 non-null   object
 54  Dimensions & Capacity - Kerb Weight               8310 non-null   object
 55  Miscellaneous - Gear Box                          8263 non-null   object
 56  Miscellaneous - Drive Type                        6809 non-null   object
 57  Miscellaneous - Seating Capacity                  8363 non-null   float64
 58  Miscellaneous - Steering Type                     8114 non-null   object
 59  Miscellaneous - Front Brake Type                  8273 non-null   object
 60  Miscellaneous - Rear Brake Type                   8273 non-null   object
 61  Miscellaneous - Tyre Type                         8292 non-null   object
 62  Miscellaneous - Alloy Wheel Size                  5386 non-null   object
 63  Miscellaneous - No Door Numbers                   8358 non-null   float64
 64  Miscellaneous - Cargo Volumn                      6776 non-null   object
 65  Mileage                                           8082 non-null   object
 66  Engine and Transmission - Value Configuration     6153 non-null   object
 67  Engine and Transmission - Compression Ratio       1895 non-null   object
 68  Engine and Transmission - Super Charger           6407 non-null   object
 69  Dimensions & Capacity - Front Tread               4811 non-null   object
 70  Dimensions & Capacity - Rear Tread                4799 non-null   object
 71  Dimensions & Capacity - Gross Weight              3828 non-null   object
 72  Miscellaneous - Turning Radius                    6769 non-null   object
 73  Miscellaneous - Top Speed                         4607 non-null   object
 74  Miscellaneous - Acceleration                      4857 non-null   object
 75  Engine and Transmission - BoreX Stroke            2405 non-null   object
 76  Dimensions & Capacity - Ground Clearance Unladen  515 non-null    object
 77  city                                              8732 non-null   object
dtypes: float64(9), int64(4), object(65)
memory usage: 5.2+ MB

In [208]:
car['bt'].unique()

array(['SUV', 'Minivans', 'Hatchback', 'Sedan', 'MUV', 'Hybrids', 'Coupe',
       'Pickup Trucks', 'Convertibles', nan, 'Wagon'], dtype=object)

#### body type - bt - handling missing values

In [209]:
# Find the mode (most frequent category) in 'bt'
bt_mode = car['bt'].mode()[0]

# Impute missing values with the mode
car['bt'].fillna(bt_mode, inplace=True)

print(car['bt'].unique())  # To check the unique values after imputation
print(car['bt'].isnull().sum())  # Verify no missing values remain

['SUV' 'Minivans' 'Hatchback' 'Sedan' 'MUV' 'Hybrids' 'Coupe'
 'Pickup Trucks' 'Convertibles' 'Wagon']
0

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_3068\3652493162.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['bt'].fillna(bt_mode, inplace=True)

In [210]:
car.isna().sum()

it                                                     0
ft                                                     0
bt                                                     0
km                                                     0
transmission                                           0
                                                    ...
Miscellaneous - Top Speed                           4125
Miscellaneous - Acceleration                        3875
Engine and Transmission - BoreX Stroke              6327
Dimensions & Capacity - Ground Clearance Unladen    8217
city                                                   0
Length: 78, dtype: int64

In [211]:
car['Registration Year'].isna().sum()

415

In [212]:
car['Insurance Validity'].isna().sum()

367

In [213]:
car['Fuel Type'].isna().sum()

363

### car Seats -handling missing values

In [214]:
car['Seats'].isna().sum()

369

In [215]:
car['Seats.1'].unique()

array([ 5.,  7.,  6.,  8.,  4., 10.,  9., nan,  2.])

In [216]:
car['Seats.1'].mean()

5.203276336242975

In [217]:
# Find the mode (most frequent number of seats)
seats_mode = car['Seats'].mode()[0]

# Impute missing values with the mode
car['Seats'].fillna(seats_mode, inplace=True)

# Check the unique values and missing values after imputation
print(car['Seats'].unique())
print(car['Seats'].isnull().sum())  # Verify no missing values remain

['5 Seats' '7 Seats' '6 Seats' '8 Seats' '4 Seats' '10 Seats' '9 Seats'
 '2 Seats']
0

C:\Users\Srivathsan\AppData\Local\Temp\ipykernel_3068\31517149.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Seats'].fillna(seats_mode, inplace=True)

### kms driven - handling missing values

In [218]:
car['km'].isna().sum()

0

In [219]:
car['Kms Driven'].isna().sum()

365

In [220]:
car['Kms Driven']=car['Kms Driven'].fillna(car['km'].apply(lambda x: x))

In [221]:
car['Kms Driven'].isna().sum()

0

In [222]:
car['Kms Driven'].head()

0    20,000 Kms
1    20,687 Kms
2    30,000 Kms
3    59,247 Kms
4    50,000 Kms
Name: Kms Driven, dtype: object

### Registration Year -- handling  missing values with respect to modelYear

In [223]:
car['Registration Year']=car['Registration Year'].fillna(car['modelYear'].apply(lambda x: f'1.1.{int(x)}'))

In [224]:
car['Registration Year'].isna().sum()

0

In [225]:
car['Registration Year'].head(122)

0          2022
1      Feb 2015
2          2021
3      May 2015
4          2015
         ...
117        2015
118    Apr 2017
119    Dec 2016
120    Jun 2016
121    Jun 2016
Name: Registration Year, Length: 122, dtype: object

### Fuel type handling missing values  and convert into unique values for repeated values with different case

In [226]:
car['Fuel Type'].isna().sum()

363

In [227]:
car['ft'].isna().sum()

0

In [228]:
car['Fuel Type']=car['Fuel Type'].fillna(car['ft'].apply(lambda x: x))

In [229]:
car['Fuel Type'].isna().sum()

0

In [230]:
car['Fuel Type'].unique()

array(['Petrol', 'Diesel', 'Electric', 'CNG', 'LPG', 'Cng', 'Lpg'],
      dtype=object)

In [231]:
car['ft'].unique()

array(['Petrol', 'Diesel', 'Electric', 'Cng', 'Lpg'], dtype=object)

In [232]:
# Convert 'Cng' and 'Lpg' to 'CNG' and 'LPG' respectively
car['Fuel Type'] = car['Fuel Type'].replace({'CNG': 'Cng', 'LPG': 'Lpg'})

In [233]:
car['Fuel Type'].unique()

array(['Petrol', 'Diesel', 'Electric', 'Cng', 'Lpg'], dtype=object)

### Ownership - Owner handling missing values

In [234]:
car['Ownership'].head()
car['owner'].head(1)

0    1st Owner
Name: owner, dtype: object

In [235]:
car['owner'].isna().sum()

0

In [236]:
car['Ownership'].isna().sum()

395

In [237]:
car['owner'].unique()

array(['1st Owner', '2nd Owner', '3rd Owner', '4th Owner', '0th Owner',
       '5th Owner'], dtype=object)

In [238]:
car['Ownership'].unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner', nan,
       'Fifth Owner'], dtype=object)

In [239]:
# Fill missing values in 'Ownership' column with formatted values from 'owner' column
car['Ownership'] = car['Ownership'].fillna('Zeroth Owner')

In [240]:
car['Ownership'].unique()

array(['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner',
       'Zeroth Owner', 'Fifth Owner'], dtype=object)

In [241]:
car['Ownership'].isna().sum()

0

### Transmission -- handling missing values

In [250]:
car['transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

In [251]:
car['Transmission'].unique()

array(['Automatic', 'Manual', nan], dtype=object)

In [252]:
car['Transmission'].isna().sum()

363

In [253]:
car['Transmission']=car['Transmission'].fillna(car['transmission'].apply(lambda x:x))

In [254]:
car['Transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

### OwnerNO

In [256]:
car['ownerNo'].unique()

array([1, 2, 3, 4, 0, 5], dtype=int64)

In [257]:
car['ownerNo'].isna().sum()

0

### Model - Handling missing values

In [258]:
car['model'].isna().sum()

0

### centralVariantId

In [259]:
car['centralVariantId'].isna().sum()

0

### VariantName

In [260]:
car['variantName'].isna().sum()

0