## First Step Of Project -- 
```
Converting Unstructured Format of Data to a Structured Format 
```
### We're also adding a new column 'City' with city names as rows and combining them as single dataframe

```
Below is EXAMPLE
of code how dict can be used as flat dictionary using ast.literal_eval

```

In [1]:
import ast

# Imagine this is what's in your Excel cell
dict_string = "{'key1': 'value1', 'key2': 42}"

# Convert the string to an actual dictionary
dict_object = ast.literal_eval(dict_string)

print(type(dict_object))  # <class 'dict'>
print(dict_object['key1'])  # 'value1'
print(dict_object['key2'])  # 42

<class 'dict'>
value1
42



### Bangalore Cars Preprocessing

In [25]:
import pandas as pd

# Assuming you've already loaded your Excel file into banglore_df
# If not, uncomment the following line:
banglore_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/bangalore_cars.xlsx')

banglore_df['city']='Bengaluru'

# Create a new dataframe from the "new_car_detail" column

In [9]:
banglore_df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,city
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Bengaluru
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Bengaluru
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Bengaluru
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Bengaluru
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Bengaluru

In [12]:

# Display info about the new dataframe
new_car_detail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   new_car_detail  1481 non-null   object
dtypes: object(1)
memory usage: 11.7+ KB

In [ ]:
for i,r in banglore_df.iterrows():
    print(r['new_car_detail'])

Here's a detailed explanation of the solution, step by step:

### Problem
You have a DataFrame (`new_car_detail_df`) with a column `new_car_detail` that contains dictionaries (stored as strings). You want to extract specific keys from these dictionaries (`ft`, `km`, `oem`, `ownerno`, `owner`, `bt`, `model`) and create a new DataFrame where each of these keys becomes a column.

### Solution

#### Step 1: Convert the Strings to Dictionaries
In the `new_car_detail` column, the dictionary values are stored as strings (like `"{'ft': 'Petrol', 'km': '50000', ...}"`). To work with them as actual dictionaries, we need to convert these strings back to Python dictionaries.

- **Why we use `ast.literal_eval()`**:
  - The `ast` module in Python provides a function called `literal_eval`, which safely evaluates a string containing a Python literal (like a dictionary) and converts it into the actual data type (in this case, a dictionary).
  - Using `eval()` is generally avoided because it can execute arbitrary code, which is risky. `literal_eval()` only evaluates safe expressions like literals.

```python
new_car_detail_df['new_car_detail'] = new_car_detail_df['new_car_detail'].apply(lambda x: ast.literal_eval(x))
```

- **What happens here**:
  - We apply a `lambda` function that takes each value `x` from the `new_car_detail` column and converts it from a string to a dictionary using `ast.literal_eval()`.
  - Now, the `new_car_detail` column contains actual dictionaries instead of strings.

#### Step 2: Define a Function to Extract Specific Keys
Next, we define a helper function, `extract_car_details`, which will be applied to each row of the DataFrame. This function extracts only the specified keys (`ft`, `km`, `oem`, `ownerno`, `owner`, `bt`, `model`) from each dictionary.

- **Why we use `get()`**:
  - The `get()` method on dictionaries is used to safely access the value of a key. If the key does not exist, it returns `None` instead of raising an error. This is useful in case some rows are missing certain keys.
  
```python
def extract_car_details(row):
    car_detail = row['new_car_detail']
    return {
        'ft': car_detail.get('ft'),
        'km': car_detail.get('km'),
        'oem': car_detail.get('oem'),
        'ownerno': car_detail.get('ownerno'),
        'owner': car_detail.get('owner'),
        'bt': car_detail.get('bt'),
        'model': car_detail.get('model')
    }
```

- **What happens here**:
  - For each row in the DataFrame, the function takes the dictionary from the `new_car_detail` column.
  - It extracts the values associated with the specified keys (`ft`, `km`, `oem`, etc.).
  - If a key is missing in any dictionary, it will return `None` for that key.

#### Step 3: Apply the Function to Each Row
Now, we apply the `extract_car_details` function to each row of the DataFrame using `apply()`.

- **Why we use `apply()`**:
  - The `apply()` function allows us to apply a function along either axis (rows or columns) of a DataFrame. Here, we apply it row-wise (axis=1).
  - The `result_type='expand'` ensures that the result (a dictionary for each row) is expanded into multiple columns.

```python
extracted_columns_df = new_car_detail_df.apply(extract_car_details, axis=1, result_type='expand')
```

- **What happens here**:
  - The `extract_car_details` function is applied to each row, creating a dictionary with the desired keys (`ft`, `km`, `oem`, etc.) for each row.
  - The `result_type='expand'` tells Pandas to convert the resulting dictionaries into individual columns, where each key becomes a column and the corresponding values fill those columns.

#### Step 4: Display the Final DataFrame
Finally, you can view the new DataFrame (`extracted_columns_df`) that contains the extracted keys as columns.

```python
print(extracted_columns_df.head())
```

This DataFrame will now have columns like `ft`, `km`, `oem`, `ownerno`, `owner`, `bt`, and `model`, populated with the respective values from the original dictionaries in the `new_car_detail` column.

---

### Summary
1. **Converted strings to dictionaries** using `ast.literal_eval()` to properly work with them.
2. **Defined a function** to extract only the required keys from each dictionary.
3. **Applied the function** to each row in the DataFrame using `apply()` to create a new DataFrame with the desired keys as columns.

This approach is both safe and efficient, ensuring that you get the required keys as new columns while handling missing keys gracefully.

In [27]:
import pandas as pd
import ast

# Load the Excel file
banglore_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/bangalore_cars.xlsx')

# Convert the 'new_car_detail' column from string to dictionary using ast.literal_eval
banglore_df['new_car_detail'] = banglore_df['new_car_detail'].apply(lambda x: ast.literal_eval(str(x)))

# Function to extract all keys from the dictionary
def extract_all_keys(row):
    car_detail = row['new_car_detail']
    
    # Get all keys in the dictionary for that row
    keys = car_detail.keys()
    
    # Extract key-value pairs using .get(), safely handling missing keys
    return {key: car_detail.get(key) for key in keys}

# Apply the function to each row and create a new DataFrame with the extracted values
new_car_detail = banglore_df.apply(extract_all_keys, axis=1, result_type='expand')

# # Concatenate the original dataframe with the new columns
#bdf = pd.concat([banglore_df, new_car_detail], axis=1)

# # Display the updated dataframe
# bdf.head()
new_car_detail.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,₹ 7.90 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [7]:
# bdf = bdf.drop(columns=['new_car_detail','new_car_overview','new_car_feature','new_car_specs','car_links'])

In [28]:
# bdf.head()

In [32]:
import pandas as pd
import ast

# Load your Excel file
bangalore_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/bangalore_cars.xlsx')

# Ensure the 'new_car_overview' column is in dictionary format (if stored as a string, convert it)
bangalore_df['new_car_overview'] = bangalore_df['new_car_overview'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
data_rows = []

# Loop through each row in the DataFrame
for idx, row in bangalore_df.iterrows():
    # Extract the dictionary from 'new_car_overview'
    car_overview = row['new_car_overview']
    
    # Extract the heading
    heading = car_overview.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    top_details = car_overview.get('top', [])
    
    # Convert the list of dictionaries (top) into a flat dictionary
    top_dict = {item['key']: item['value'] for item in top_details if isinstance(item, dict)}
    
    # Combine the heading with the top details
    combined_data = {'heading': heading}
    combined_data.update(top_dict)
    
    # Append the combined data to the list
    data_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_overview = pd.DataFrame(data_rows)

# Display the final DataFrame
new_car_overview.head()

,heading,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,Car overview,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Car overview,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Car overview,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Car overview,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0
4,Car overview,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0

Let's break down the code you have in a simple and clear way:

### 1. **Loading the Excel File**
```python
bangalore_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/bangalore_cars.xlsx')
```
- **What it does**: This line reads the Excel file and loads it into a pandas DataFrame called `bangalore_df`. Each row in this DataFrame corresponds to a row in the Excel file, and each column is taken from the Excel file.

---

### 2. **Converting the 'new_car_overview' Column to Dictionary Format**
```python
bangalore_df['new_car_overview'] = bangalore_df['new_car_overview'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)
```
- **What it does**: The `new_car_overview` column contains data that should be in dictionary format (with keys and values), but sometimes it may be stored as a string.
  - **`ast.literal_eval()`**: This converts the string representation of a dictionary back into an actual Python dictionary.
  - **Why use `apply()`?**: It applies the conversion to each row in the `new_car_overview` column.

---

### 3. **Initializing an Empty List**
```python
data_rows = []
```
- **What it does**: This creates an empty list to store the processed data for each row in the DataFrame. We will fill this list with dictionaries, where each dictionary represents a row of extracted data.

---

### 4. **Looping Through Each Row of the DataFrame**
```python
for idx, row in bangalore_df.iterrows():
```
- **What it does**: This loop goes through every row in the DataFrame (`bangalore_df`), one by one.
  - **`idx`**: Index of the current row.
  - **`row`**: The actual data of the current row, where each column is accessible by name.

---

### 5. **Extracting Data from 'new_car_overview' Column**
```python
car_overview = row['new_car_overview']
```
- **What it does**: This extracts the dictionary from the `new_car_overview` column for the current row. We now have the `new_car_overview` dictionary from this row stored in the `car_overview` variable.

---

### 6. **Extracting 'heading' from the Dictionary**
```python
heading = car_overview.get('heading', None)
```
- **What it does**: This retrieves the `heading` from the `car_overview` dictionary. If there is no `heading` key, it will return `None` instead of causing an error.

---

### 7. **Extracting the 'top' Details (List of Dictionaries)**
```python
top_details = car_overview.get('top', [])
```
- **What it does**: This retrieves the `top` field from the `car_overview` dictionary. The `top` field contains a list of dictionaries with details about the car. If the `top` field doesn’t exist, it returns an empty list.

---

### 8. **Converting the List of Dictionaries into a Flat Dictionary**
```python
top_dict = {item['key']: item['value'] for item in top_details if isinstance(item, dict)}
```
- **What it does**: This converts the list of dictionaries (in `top_details`) into a single flat dictionary.
  - **How**: It loops through each item in the list (`top_details`), and for each item, it creates a key-value pair where:
    - **`key`**: The `key` from each dictionary in the list.
    - **`value`**: The `value` associated with that key.
  - **Example**: If `top` has `{'key': 'Registration Year', 'value': '2017'}`, it turns into `{'Registration Year': '2017'}`.

---

### 9. **Combining 'heading' and the Flattened 'top' Dictionary**
```python
combined_data = {'heading': heading}
combined_data.update(top_dict)
```
- **What it does**: This creates a dictionary (`combined_data`) that starts with the `heading` and then adds all the key-value pairs from `top_dict`. Now, we have a single dictionary with all the data we need for this row.

---

### 10. **Appending the Data to the List**
```python
data_rows.append(combined_data)
```
- **What it does**: This adds the combined dictionary (`combined_data`) to the `data_rows` list. This way, after the loop finishes, `data_rows` will contain a list of dictionaries, where each dictionary represents one row of processed data.

---

### 11. **Converting the List of Dictionaries into a DataFrame**
```python
final_df = pd.DataFrame(data_rows)
```
- **What it does**: This converts the list of dictionaries (`data_rows`) into a pandas DataFrame (`final_df`). Each dictionary in `data_rows` becomes a row in the DataFrame, and the keys of the dictionaries become the column names.

---

### 12. **Displaying the new_car_overview final DataFrame**
```python
print(final_df.head())
```
- **What it does**: This prints the first five rows of the new DataFrame (`final_df`), showing you the extracted and processed data.

---

In [33]:
import pandas as pd
import ast

# Assuming your Excel file is already loaded as bangalore_df
# Ensure the 'new_car_feature' column is in dictionary format (if stored as a string, convert it)
bangalore_df['new_car_feature'] = bangalore_df['new_car_feature'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
feature_rows = []

# Loop through each row in the DataFrame
for idx, row in bangalore_df.iterrows():
    # Extract the dictionary from 'new_car_feature'
    car_feature = row['new_car_feature']
    
    # Extract the heading
    heading = car_feature.get('heading', None)
    
    # Extract the top details (list of features)
    top_features = ', '.join([item['value'] for item in car_feature.get('top', []) if 'value' in item])
    
    # Extract the detailed feature sections from 'data'
    feature_details = car_feature.get('data', [])
    
    # Convert the detailed feature sections into a flat dictionary
    feature_dict = {}
    for section in feature_details:
        section_name = section.get('heading', '')
        sub_section_name = section.get('subHeading', '')
        feature_list = ', '.join([item['value'] for item in section.get('list', []) if 'value' in item])
        feature_dict[f'{section_name} - {sub_section_name}'] = feature_list
    
    # Combine the heading, top features, and detailed features
    combined_data = {'heading': heading, 'top_features': top_features}
    combined_data.update(feature_dict)
    
    # Append the combined data to the list
    feature_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_feature = pd.DataFrame(feature_rows)

# Display the final DataFrame
new_car_feature.head()

,heading,top_features,Comfort & Convenience - Comfort,Interior - Interior,Exterior - Exterior,Safety - Safety,Entertainment & Communication - Entertainment
0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Centeral Locking, Child Safety Locks, Day Nigh...",NaN
1,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
2,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
3,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
4,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Radio, Audio System Remote Control, Speakers F..."

## step-by-step explanations:

### Step 1: Load the Data

```python
import pandas as pd
import ast

# Load the Excel file
bangalore_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/bangalore_cars.xlsx')
```

- **Import Libraries:** Import `pandas` for handling data and `ast` for safely evaluating strings as Python literals.
- **Load Data:** Read the Excel file into a DataFrame named `bangalore_df`.

### Step 2: Ensure Dictionary Format

```python
# Convert any string entries in the 'new_car_features' column into dictionaries
bangalore_df['new_car_features'] = bangalore_df['new_car_features'].apply(
    lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x
)
```

- **Convert Strings to Dictionaries:** If any entry in the `new_car_features` column is a string, convert it to a dictionary using `ast.literal_eval`. This step ensures that you can work with the data as dictionaries.

### Step 3: Extract and Process Data

```python
# Create a list to store extracted data
features_data_rows = []

for idx, row in bangalore_df.iterrows():
    # Get the dictionary from the 'new_car_features' column
    car_features = row['new_car_features']
    
    # Extract the heading (e.g., 'Features')
    heading = car_features.get('heading', None)
    
    # Extract and process the 'top' features (list of dictionaries or strings)
    top_features = car_features.get('top', [])
    top_features_list = [item['value'] for item in top_features if isinstance(item, dict)]
    
    # Initialize a dictionary to hold the combined data
    combined_features_data = {'heading': heading}
    combined_features_data['top_features'] = ', '.join(top_features_list)  # Combine top features into one string

    # Extract detailed features from 'data'
    detailed_features = car_features.get('data', [])
    for category in detailed_features:
        category_heading = category.get('heading', None)
        category_list = category.get('list', [])
        for item in category_list:
            if isinstance(item, dict):
                combined_features_data[f"{category_heading} - {item['key']}"] = item['value']
    
    # Add the processed data to the list
    features_data_rows.append(combined_features_data)
```

- **Initialize List:** Create an empty list `features_data_rows` to store the processed data.
- **Loop Through Rows:** Iterate through each row in the DataFrame.
    - **Get Dictionary:** Extract the dictionary from the `new_car_features` column.
    - **Extract Heading:** Get the `heading` value (e.g., "Features").
    - **Process Top Features:** Extract and combine the `top` features into a single string.
        - **Filter and Collect:** Collect `value` from each dictionary in the `top` list.

    - **Prepare Combined Data:** Create a dictionary `combined_features_data` starting with the heading and top features.
    - **Extract Detailed Features:** Iterate through `data` to get detailed information.
        - **Category-wise Extraction:** For each category (e.g., "Comfort"), extract key-value pairs and add them to `combined_features_data`.
    - **Append to List:** Add the processed data dictionary to the `features_data_rows` list.


### Step 4: Create a New DataFrame

```python
# Convert the list of dictionaries into a DataFrame
final_features_df = pd.DataFrame(features_data_rows)

# Show the DataFrame
print(final_features_df.head())
```

- **Create DataFrame:** Convert the list of dictionaries into a new DataFrame named `final_features_df`.
- **Display Data:** Print the first few rows of the new DataFrame to verify the results.

This process transforms complex, nested dictionary data into a simpler tabular format, making it easier to analyze and use.

In [34]:
import pandas as pd
import ast

# Load your Excel file
bangalore_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/bangalore_cars.xlsx')

# Ensure the 'new_car_specs' column is in dictionary format (if stored as a string, convert it)
bangalore_df['new_car_specs'] = bangalore_df['new_car_specs'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data for new_car_specs
specs_data_rows = []

# Loop through each row in the DataFrame
for idx, row in bangalore_df.iterrows():
    # Extract the dictionary from 'new_car_specs'
    car_specs = row['new_car_specs']
    
    # Extract the heading
    specs_heading = car_specs.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    specs_top_details = car_specs.get('top', [])
    
    # Convert the top list of dictionaries into a flat dictionary
    specs_top_dict = {item['key']: item['value'] for item in specs_top_details if isinstance(item, dict)}
    
    # Initialize a dictionary for combined data
    combined_specs_data = {'heading': specs_heading}
    combined_specs_data.update(specs_top_dict)  # Add the top details

    # Extract the detailed specs (from the 'data' field)
    detailed_specs = car_specs.get('data', [])
    
    # Loop through each category of detailed specifications
    for category in detailed_specs:
        # Get the category heading (e.g., 'Engine and Transmission', 'Dimensions & Capacity')
        category_heading = category.get('heading', None)
        
        # Get the list of specifications within this category
        category_list = category.get('list', [])
        
        # Convert the list of dictionaries into a flat dictionary
        for item in category_list:
            if isinstance(item, dict):
                combined_specs_data[f"{category_heading} - {item['key']}"] = item['value']
    
    # Append the combined specs data to the list
    specs_data_rows.append(combined_specs_data)

# Convert the list of dictionaries into a DataFrame
new_car_specs = pd.DataFrame(specs_data_rows)

# Display the final DataFrame with new_car_specs
new_car_specs.head()

,heading,Mileage,Engine,Max Power,Torque,Seats,Engine and Transmission - Color,Engine and Transmission - Engine Type,Engine and Transmission - Displacement,Engine and Transmission - Max Power,...,Miscellaneous - Front Brake Type,Miscellaneous - Rear Brake Type,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Miscellaneous - Tyre Type,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Wheel Size,Miscellaneous - Alloy Wheel Size,Dimensions & Capacity - Ground Clearance Unladen
0,Specifications,23.1 kmpl,998 CC,67.04bhp,90Nm,5,White,K10B Engine,998,67.04bhp@6000rpm,...,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN,NaN
1,Specifications,17 kmpl,1497 CC,121.31bhp,150Nm,5,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,...,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16,NaN
2,Specifications,23.84 kmpl,1199 CC,84bhp,114Nm,5,Red,Revotron Engine,1199,84bhp@6000rpm,...,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,14,NaN
3,Specifications,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5,Others,Kappa VTVT Petrol Engine,1197,81.86bhp@6000rpm,...,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,14,NaN
4,Specifications,23.65 kmpl,1248 CC,88.5bhp,200Nm,5,Gray,DDiS 200 Diesel Engine,1248,88.5bhp@4000rpm,...,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,16,NaN

### Explanation:

1. **Loading and Converting `new_car_specs`:**
   ```python
   bangalore_df['new_car_specs'] = bangalore_df['new_car_specs'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)
   ```
   - This ensures that the `new_car_specs` column is in dictionary format if it's stored as a string.

2. **Processing Each Row:**
   - **Extract `heading`:** 
     ```python
     specs_heading = car_specs.get('heading', None)
     ```
     - Extracts the main heading (like "Specifications").

   - **Extract `top` details:**
     ```python
     specs_top_details = car_specs.get('top', [])
     specs_top_dict = {item['key']: item['value'] for item in specs_top_details if isinstance(item, dict)}
     ```
     - Converts the list of dictionaries in `top` (which contains details like Mileage, Engine, etc.) into a flat dictionary.

   - **Extract `data` (detailed specs):**
     ```python
     detailed_specs = car_specs.get('data', [])
     ```
     - Extracts the detailed specs (engine, dimensions, etc.).

   - **Loop through each category in `data`:**
     ```python
     for category in detailed_specs:
         category_heading = category.get('heading', None)
         category_list = category.get('list', [])
         for item in category_list:
             if isinstance(item, dict):
                 combined_specs_data[f"{category_heading} - {item['key']}"] = item['value']
     ```
     - This loops through each category in the `data` field (like "Engine and Transmission", "Dimensions & Capacity") and extracts the key-value pairs within each category.
     - Each key is prefixed by the category heading (for clarity), and the values are added to the combined dictionary.

3. **new_car_specs DataFrame:**
   - The `specs_data_rows` list is converted into a DataFrame using:
     ```python
     final_specs_df = pd.DataFrame(specs_data_rows)
     ```
     - This creates a table where each row represents one car's specifications, with the top-level and detailed data combined.


### What this code does:
- For each car, it extracts the high-level specs (like Mileage, Engine, etc.) and the detailed specs (like Engine Type, Displacement, etc.) from the `new_car_specs` column.
- It organizes this data into a structured DataFrame, making it easy to analyze.

In [38]:
bg = pd.concat([new_car_detail , new_car_overview , new_car_feature , new_car_specs],axis=1)

In [47]:
bg['city']='bengaluru'

In [48]:
bg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                1481 non-null   int64
 1   ft                                                1481 non-null   object
 2   bt                                                1481 non-null   object
 3   km                                                1481 non-null   object
 4   transmission                                      1481 non-null   object
 5   ownerNo                                           1481 non-null   int64
 6   owner                                             1481 non-null   object
 7   oem                                               1481 non-null   object
 8   model                                             1481 non-null   object
 9   modelYear                                         1481 non-null   int64
 10  centralVariantId                                  1481 non-null   int64
 11  variantName                                       1481 non-null   object
 12  price                                             1481 non-null   object
 13  priceActual                                       1481 non-null   object
 14  priceSaving                                       1481 non-null   object
 15  priceFixedText                                    0 non-null      object
 16  trendingText                                      1481 non-null   object
 17  heading                                           1481 non-null   object
 18  Registration Year                                 1474 non-null   object
 19  Insurance Validity                                1478 non-null   object
 20  Fuel Type                                         1481 non-null   object
 21  Seats                                             1480 non-null   object
 22  Kms Driven                                        1481 non-null   object
 23  RTO                                               1313 non-null   object
 24  Ownership                                         1481 non-null   object
 25  Engine Displacement                               1478 non-null   object
 26  Transmission                                      1481 non-null   object
 27  Year of Manufacture                               1474 non-null   float64
 28  heading                                           1481 non-null   object
 29  top_features                                      1481 non-null   object
 30  Comfort & Convenience - Comfort                   1467 non-null   object
 31  Interior - Interior                               1464 non-null   object
 32  Exterior - Exterior                               1460 non-null   object
 33  Safety - Safety                                   1459 non-null   object
 34  Entertainment & Communication - Entertainment     1345 non-null   object
 35  heading                                           1481 non-null   object
 36  Mileage                                           1439 non-null   object
 37  Engine                                            1478 non-null   object
 38  Max Power                                         1465 non-null   object
 39  Torque                                            1465 non-null   object
 40  Seats                                             1480 non-null   object
 41  Engine and Transmission - Color                   1479 non-null   object
 42  Engine and Transmission - Engine Type             1423 non-null   object
 43  Engine and Transmission - Displacement            1478 non-null   object
 44  Engine and Transmission - Max Power               1465 non-null   object
 45  Engine and Transmission - Max Torque              1465 non-null   object
 46  Engine and Transmission - No of Cylinder          1475 non-null   float64
 47  Engine and Transmission - Values per Cylinder     1470 non-null   float64
 48  Engine and Transmission - Value Configuration     1091 non-null   object
 49  Engine and Transmission - Fuel Suppy System       1184 non-null   object
 50  Engine and Transmission - BoreX Stroke            383 non-null    object
 51  Engine and Transmission - Compression Ratio       317 non-null    object
 52  Engine and Transmission - Turbo Charger           1288 non-null   object
 53  Engine and Transmission - Super Charger           1142 non-null   object
 54  Dimensions & Capacity - Length                    1460 non-null   object
 55  Dimensions & Capacity - Width                     1460 non-null   object
 56  Dimensions & Capacity - Height                    1460 non-null   object
 57  Dimensions & Capacity - Wheel Base                1446 non-null   object
 58  Dimensions & Capacity - Front Tread               882 non-null    object
 59  Dimensions & Capacity - Rear Tread                879 non-null    object
 60  Dimensions & Capacity - Kerb Weight               1467 non-null   object
 61  Dimensions & Capacity - Gross Weight              688 non-null    object
 62  Miscellaneous - Gear Box                          1457 non-null   object
 63  Miscellaneous - Drive Type                        1182 non-null   object
 64  Miscellaneous - Seating Capacity                  1480 non-null   object
 65  Miscellaneous - Steering Type                     1448 non-null   object
 66  Miscellaneous - Turning Radius                    1198 non-null   object
 67  Miscellaneous - Front Brake Type                  1460 non-null   object
 68  Miscellaneous - Rear Brake Type                   1460 non-null   object
 69  Miscellaneous - Top Speed                         809 non-null    object
 70  Miscellaneous - Acceleration                      848 non-null    object
 71  Miscellaneous - Tyre Type                         1471 non-null   object
 72  Miscellaneous - No Door Numbers                   1479 non-null   object
 73  Miscellaneous - Cargo Volumn                      1198 non-null   object
 74  Wheel Size                                        1029 non-null   object
 75  Miscellaneous - Alloy Wheel Size                  1029 non-null   object
 76  Dimensions & Capacity - Ground Clearance Unladen  87 non-null     object
 77  city                                              1481 non-null   object
dtypes: float64(3), int64(4), object(71)
memory usage: 902.6+ KB

In [45]:
bg.shape

(1481, 78)

In [46]:
bg.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Rear Brake Type,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Miscellaneous - Tyre Type,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Wheel Size,Miscellaneous - Alloy Wheel Size,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN,NaN,bengaluru
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,Drum,NaN,NaN,"Tubeless,Radial",4,352-litres,16,16,NaN,bengaluru
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Drum,150 kmph,14.3 Seconds,Tubeless,5,242-litres,14,14,NaN,bengaluru
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4,407-litres,14,14,NaN,bengaluru
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5,353-litres,16,16,NaN,bengaluru

### Chennai cars Preprocessing

In [49]:
import pandas as pd

# Assuming you've already loaded your Excel file into chennai_df
# If not, uncomment the following line:
chennai_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/chennai_cars.xlsx')

In [50]:
chennai_df.head()

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [51]:
chennai_df.shape

(1419, 5)

In [52]:
import pandas as pd
import ast

# Load the Excel file
chennai_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/chennai_cars.xlsx')

# Convert the 'new_car_detail' column from string to dictionary using ast.literal_eval
chennai_df['new_car_detail'] = chennai_df['new_car_detail'].apply(lambda x: ast.literal_eval(str(x)))

# Function to extract all keys from the dictionary
def extract_all_keys(row):
    car_detail = row['new_car_detail']
    
    # Get all keys in the dictionary for that row
    keys = car_detail.keys()
    
    # Extract key-value pairs using .get(), safely handling missing keys
    return {key: car_detail.get(key) for key in keys}

# Apply the function to each row and create a new DataFrame with the extracted values
new_car_detail = chennai_df.apply(extract_all_keys, axis=1, result_type='expand')

In [53]:
new_car_detail.head(3)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [54]:
import pandas as pd
import ast

# Load your Excel file
chennai_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/chennai_cars.xlsx')

# Ensure the 'new_car_overview' column is in dictionary format (if stored as a string, convert it)
chennai_df['new_car_overview'] = chennai_df['new_car_overview'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
data_rows = []

# Loop through each row in the DataFrame
for idx, row in chennai_df.iterrows():
    # Extract the dictionary from 'new_car_overview'
    car_overview = row['new_car_overview']
    
    # Extract the heading
    heading = car_overview.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    top_details = car_overview.get('top', [])
    
    # Convert the list of dictionaries (top) into a flat dictionary
    top_dict = {item['key']: item['value'] for item in top_details if isinstance(item, dict)}
    
    # Combine the heading with the top details
    combined_data = {'heading': heading}
    combined_data.update(top_dict)
    
    # Append the combined data to the list
    data_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_overview = pd.DataFrame(data_rows)

# Display the final DataFrame
new_car_overview.head()

,heading,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,Car overview,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022
1,Car overview,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015
2,Car overview,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021
3,Car overview,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015
4,Car overview,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015

In [55]:
import pandas as pd
import ast

# Assuming your Excel file is already loaded as bangalore_df
# Ensure the 'new_car_feature' column is in dictionary format (if stored as a string, convert it)
chennai_df['new_car_feature'] = chennai_df['new_car_feature'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
feature_rows = []

# Loop through each row in the DataFrame
for idx, row in chennai_df.iterrows():
    # Extract the dictionary from 'new_car_feature'
    car_feature = row['new_car_feature']
    
    # Extract the heading
    heading = car_feature.get('heading', None)
    
    # Extract the top details (list of features)
    top_features = ', '.join([item['value'] for item in car_feature.get('top', []) if 'value' in item])
    
    # Extract the detailed feature sections from 'data'
    feature_details = car_feature.get('data', [])
    
    # Convert the detailed feature sections into a flat dictionary
    feature_dict = {}
    for section in feature_details:
        section_name = section.get('heading', '')
        sub_section_name = section.get('subHeading', '')
        feature_list = ', '.join([item['value'] for item in section.get('list', []) if 'value' in item])
        feature_dict[f'{section_name} - {sub_section_name}'] = feature_list
    
    # Combine the heading, top features, and detailed features
    combined_data = {'heading': heading, 'top_features': top_features}
    combined_data.update(feature_dict)
    
    # Append the combined data to the list
    feature_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_feature = pd.DataFrame(feature_rows)

# Display the final DataFrame
new_car_feature.head()

,heading,top_features,Comfort & Convenience - Comfort,Interior - Interior,Exterior - Exterior,Safety - Safety,Entertainment & Communication - Entertainment
0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat..."
1,Features,"Low Fuel Warning Light, Accessory Power Outlet...","Low Fuel Warning Light, Accessory Power Outlet...","Heater, Digital Odometer, Electronic Multi Tri...","Adjustable Head Lights, Manually Adjustable Ex...","Anti Lock Braking System, Child Safety Locks, ...",NaN
2,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat..."
3,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Manu...","Centeral Locking, Power Door Locks, Child Safe...","Cd Player, Radio, Speakers Front, Speakers Rea..."
4,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Dvd Player, Radio, Speakers Front, ..."

In [56]:
import pandas as pd
import ast

# Load your Excel file
chennai_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/chennai_cars.xlsx')

# Ensure the 'new_car_specs' column is in dictionary format (if stored as a string, convert it)
chennai_df['new_car_specs'] = chennai_df['new_car_specs'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data for new_car_specs
specs_data_rows = []

# Loop through each row in the DataFrame
for idx, row in chennai_df.iterrows():
    # Extract the dictionary from 'new_car_specs'
    car_specs = row['new_car_specs']
    
    # Extract the heading
    specs_heading = car_specs.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    specs_top_details = car_specs.get('top', [])
    
    # Convert the top list of dictionaries into a flat dictionary
    specs_top_dict = {item['key']: item['value'] for item in specs_top_details if isinstance(item, dict)}
    
    # Initialize a dictionary for combined data
    combined_specs_data = {'heading': specs_heading}
    combined_specs_data.update(specs_top_dict)  # Add the top details

    # Extract the detailed specs (from the 'data' field)
    detailed_specs = car_specs.get('data', [])
    
    # Loop through each category of detailed specifications
    for category in detailed_specs:
        # Get the category heading (e.g., 'Engine and Transmission', 'Dimensions & Capacity')
        category_heading = category.get('heading', None)
        
        # Get the list of specifications within this category
        category_list = category.get('list', [])
        
        # Convert the list of dictionaries into a flat dictionary
        for item in category_list:
            if isinstance(item, dict):
                combined_specs_data[f"{category_heading} - {item['key']}"] = item['value']
    
    # Append the combined specs data to the list
    specs_data_rows.append(combined_specs_data)

# Convert the list of dictionaries into a DataFrame
new_car_specs = pd.DataFrame(specs_data_rows)

# Display the final DataFrame with new_car_specs
new_car_specs.head()

,heading,Engine,Max Power,Torque,Wheel Size,Seats,Engine and Transmission - Color,Engine and Transmission - Engine Type,Engine and Transmission - Displacement,Engine and Transmission - Max Power,...,Engine and Transmission - Compression Ratio,Engine and Transmission - Super Charger,Dimensions & Capacity - Front Tread,Dimensions & Capacity - Rear Tread,Dimensions & Capacity - Gross Weight,Miscellaneous - Turning Radius,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Engine and Transmission - BoreX Stroke,Dimensions & Capacity - Ground Clearance Unladen
0,Specifications,998 CC,118.36bhp,172nm,16,5,Black,Smartstream G1.0 T - GDi,998,118.36bhp@6000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Specifications,1196 CC,73bhp,101Nm,NaN,7,Grey,In-Line Engine,1196,73bhp@6000rpm,...,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN
2,Specifications,999 CC,98.63bhp,160Nm,16,5,Others,HRA0 1.0 TURBO PETROL,999,98.63bhp@5000rpm,...,NaN,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN
3,Specifications,1086 CC,68.05bhp,99.04Nm,NaN,5,Silver,IRDE2 Engine,1086,68.05bhp@5500rpm,...,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN
4,Specifications,1199 CC,88.7bhp,110Nm,15,5,Others,i-VTEC Petrol Engine,1199,88.7bhp@6000rpm,...,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN

In [11]:

cg = pd.concat([new_car_detail , new_car_overview , new_car_feature , new_car_specs],axis=1)
cg['city']='chennai'

In [59]:
cg.shape

(1419, 78)

In [60]:
cg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1419 entries, 0 to 1418
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                1419 non-null   int64
 1   ft                                                1419 non-null   object
 2   bt                                                1419 non-null   object
 3   km                                                1419 non-null   object
 4   transmission                                      1419 non-null   object
 5   ownerNo                                           1419 non-null   int64
 6   owner                                             1419 non-null   object
 7   oem                                               1419 non-null   object
 8   model                                             1419 non-null   object
 9   modelYear                                         1419 non-null   int64
 10  centralVariantId                                  1419 non-null   int64
 11  variantName                                       1419 non-null   object
 12  price                                             1419 non-null   object
 13  priceActual                                       1419 non-null   object
 14  priceSaving                                       1419 non-null   object
 15  priceFixedText                                    0 non-null      object
 16  trendingText                                      1419 non-null   object
 17  heading                                           1419 non-null   object
 18  Registration Year                                 1397 non-null   object
 19  Insurance Validity                                1419 non-null   object
 20  Fuel Type                                         1419 non-null   object
 21  Seats                                             1419 non-null   object
 22  Kms Driven                                        1419 non-null   object
 23  RTO                                               1309 non-null   object
 24  Ownership                                         1397 non-null   object
 25  Engine Displacement                               1419 non-null   object
 26  Transmission                                      1419 non-null   object
 27  Year of Manufacture                               1419 non-null   int64
 28  heading                                           1419 non-null   object
 29  top_features                                      1419 non-null   object
 30  Comfort & Convenience - Comfort                   1402 non-null   object
 31  Interior - Interior                               1401 non-null   object
 32  Exterior - Exterior                               1398 non-null   object
 33  Safety - Safety                                   1398 non-null   object
 34  Entertainment & Communication - Entertainment     1266 non-null   object
 35  heading                                           1419 non-null   object
 36  Engine                                            1419 non-null   object
 37  Max Power                                         1408 non-null   object
 38  Torque                                            1408 non-null   object
 39  Wheel Size                                        951 non-null    object
 40  Seats                                             1419 non-null   object
 41  Engine and Transmission - Color                   1419 non-null   object
 42  Engine and Transmission - Engine Type             1371 non-null   object
 43  Engine and Transmission - Displacement            1419 non-null   object
 44  Engine and Transmission - Max Power               1408 non-null   object
 45  Engine and Transmission - Max Torque              1408 non-null   object
 46  Engine and Transmission - No of Cylinder          1418 non-null   float64
 47  Engine and Transmission - Values per Cylinder     1413 non-null   float64
 48  Engine and Transmission - Fuel Suppy System       1148 non-null   object
 49  Engine and Transmission - Turbo Charger           1275 non-null   object
 50  Dimensions & Capacity - Length                    1405 non-null   object
 51  Dimensions & Capacity - Width                     1404 non-null   object
 52  Dimensions & Capacity - Height                    1405 non-null   object
 53  Dimensions & Capacity - Wheel Base                1388 non-null   object
 54  Dimensions & Capacity - Kerb Weight               1407 non-null   object
 55  Miscellaneous - Gear Box                          1400 non-null   object
 56  Miscellaneous - Drive Type                        1183 non-null   object
 57  Miscellaneous - Seating Capacity                  1419 non-null   object
 58  Miscellaneous - Steering Type                     1390 non-null   object
 59  Miscellaneous - Front Brake Type                  1400 non-null   object
 60  Miscellaneous - Rear Brake Type                   1400 non-null   object
 61  Miscellaneous - Tyre Type                         1407 non-null   object
 62  Miscellaneous - Alloy Wheel Size                  951 non-null    object
 63  Miscellaneous - No Door Numbers                   1419 non-null   object
 64  Miscellaneous - Cargo Volumn                      1204 non-null   object
 65  Mileage                                           1375 non-null   object
 66  Engine and Transmission - Value Configuration     1083 non-null   object
 67  Engine and Transmission - Compression Ratio       326 non-null    object
 68  Engine and Transmission - Super Charger           1109 non-null   object
 69  Dimensions & Capacity - Front Tread               810 non-null    object
 70  Dimensions & Capacity - Rear Tread                804 non-null    object
 71  Dimensions & Capacity - Gross Weight              602 non-null    object
 72  Miscellaneous - Turning Radius                    1136 non-null   object
 73  Miscellaneous - Top Speed                         819 non-null    object
 74  Miscellaneous - Acceleration                      866 non-null    object
 75  Engine and Transmission - BoreX Stroke            423 non-null    object
 76  Dimensions & Capacity - Ground Clearance Unladen  102 non-null    object
 77  city                                              1419 non-null   object
dtypes: float64(2), int64(5), object(71)
memory usage: 864.8+ KB

In [61]:
cg.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Engine and Transmission - Super Charger,Dimensions & Capacity - Front Tread,Dimensions & Capacity - Rear Tread,Dimensions & Capacity - Gross Weight,Miscellaneous - Turning Radius,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Engine and Transmission - BoreX Stroke,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN,chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN,chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN,chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN,chennai

In [63]:
bg=bg.to_csv('bg.csv',index=False)

In [64]:
cg=cg.to_csv('cg.csv',index=False)

### Delhi Cars PreProcessing

In [1]:
import pandas as pd

# Assuming you've already loaded your Excel file into chennai_df
# If not, uncomment the following line:
delhi_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/delhi_cars.xlsx')

In [2]:
import pandas as pd
import ast

# Load the Excel file
delhi_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/delhi_cars.xlsx')

# Convert the 'new_car_detail' column from string to dictionary using ast.literal_eval
delhi_df['new_car_detail'] = delhi_df['new_car_detail'].apply(lambda x: ast.literal_eval(str(x)))

# Function to extract all keys from the dictionary
def extract_all_keys(row):
    car_detail = row['new_car_detail']
    
    # Get all keys in the dictionary for that row
    keys = car_detail.keys()
    
    # Extract key-value pairs using .get(), safely handling missing keys
    return {key: car_detail.get(key) for key in keys}

# Apply the function to each row and create a new DataFrame with the extracted values
new_car_detail = delhi_df.apply(extract_all_keys, axis=1, result_type='expand')

In [3]:
new_car_detail.head(1)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,7121,GTX Plus Diesel AT,₹ 19 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [6]:
import pandas as pd
import ast

# Load your Excel file
delhi_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/delhi_cars.xlsx')

# Ensure the 'new_car_overview' column is in dictionary format (if stored as a string, convert it)
delhi_df['new_car_overview'] = delhi_df['new_car_overview'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
data_rows = []

# Loop through each row in the DataFrame
for idx, row in delhi_df.iterrows():
    # Extract the dictionary from 'new_car_overview'
    car_overview = row['new_car_overview']
    
    # Extract the heading
    heading = car_overview.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    top_details = car_overview.get('top', [])
    
    # Convert the list of dictionaries (top) into a flat dictionary
    top_dict = {item['key']: item['value'] for item in top_details if isinstance(item, dict)}
    
    # Combine the heading with the top details
    combined_data = {'heading': heading}
    combined_data.update(top_dict)
    
    # Append the combined data to the list
    data_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_overview = pd.DataFrame(data_rows)

# Display the final DataFrame
new_car_overview.head(120)

,heading,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,Ownership,Engine Displacement,Transmission,Year of Manufacture,RTO
0,Car overview,2022,Third Party insurance,Diesel,5 Seats,"10,000 Kms",First Owner,1493 cc,Automatic,2022,NaN
1,Car overview,May 2016,Zero Dep,Petrol,5 Seats,"57,437 Kms",Second Owner,1591 cc,Manual,2016,HR51
2,Car overview,Dec 2020,Comprehensive,Petrol,5 Seats,"8,000 Kms",First Owner,1991 cc,Automatic,2020,DL01
3,Car overview,Jan 2019,Comprehensive,Petrol,5 Seats,"28,151 Kms",Second Owner,1197 cc,Manual,2018,DL4C
4,Car overview,2017,Third Party insurance,Petrol,5 Seats,"60,000 Kms",First Owner,1591 cc,Manual,2017,DL8C
...,...,...,...,...,...,...,...,...,...,...,...
115,Car overview,2020,Third Party insurance,Petrol,5 Seats,"50,000 Kms",First Owner,1197 cc,Manual,2020,DL12
116,Car overview,2010,Third Party insurance,Petrol,5 Seats,"1,00,000 Kms",Third Owner,1086 cc,Manual,2010,DL9C
117,Car overview,Jan 2019,Comprehensive,Petrol,5 Seats,"34,250 Kms",First Owner,799 cc,Manual,2018,HR29
118,Car overview,2012,Third Party insurance,Petrol,5 Seats,"90,000 Kms",Second Owner,1198 cc,Manual,2012,NaN
119,Car overview,Jun 2020,Third Party,CNG,5 Seats,"64,847 Kms",First Owner,1197 cc,Manual,2020,DL7C

In [7]:
new_car_overview.shape

(1485, 11)

In [8]:
import pandas as pd
import ast

# Assuming your Excel file is already loaded as bangalore_df
# Ensure the 'new_car_feature' column is in dictionary format (if stored as a string, convert it)
delhi_df['new_car_feature'] = delhi_df['new_car_feature'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
feature_rows = []

# Loop through each row in the DataFrame
for idx, row in delhi_df.iterrows():
    # Extract the dictionary from 'new_car_feature'
    car_feature = row['new_car_feature']
    
    # Extract the heading
    heading = car_feature.get('heading', None)
    
    # Extract the top details (list of features)
    top_features = ', '.join([item['value'] for item in car_feature.get('top', []) if 'value' in item])
    
    # Extract the detailed feature sections from 'data'
    feature_details = car_feature.get('data', [])
    
    # Convert the detailed feature sections into a flat dictionary
    feature_dict = {}
    for section in feature_details:
        section_name = section.get('heading', '')
        sub_section_name = section.get('subHeading', '')
        feature_list = ', '.join([item['value'] for item in section.get('list', []) if 'value' in item])
        feature_dict[f'{section_name} - {sub_section_name}'] = feature_list
    
    # Combine the heading, top features, and detailed features
    combined_data = {'heading': heading, 'top_features': top_features}
    combined_data.update(feature_dict)
    
    # Append the combined data to the list
    feature_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_feature = pd.DataFrame(feature_rows)

# Display the final DataFrame
new_car_feature.head()

,heading,top_features,Comfort & Convenience - Comfort,Interior - Interior,Exterior - Exterior,Safety - Safety,Entertainment & Communication - Entertainment
0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat..."
1,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
2,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Integrat..."
3,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Usb Auxi..."
4,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."

In [9]:
new_car_feature.shape

(1485, 7)

In [10]:
import pandas as pd
import ast

# Load your Excel file
delhi_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/delhi_cars.xlsx')

# Ensure the 'new_car_specs' column is in dictionary format (if stored as a string, convert it)
delhi_df['new_car_specs'] = delhi_df['new_car_specs'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data for new_car_specs
specs_data_rows = []

# Loop through each row in the DataFrame
for idx, row in delhi_df.iterrows():
    # Extract the dictionary from 'new_car_specs'
    car_specs = row['new_car_specs']
    
    # Extract the heading
    specs_heading = car_specs.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    specs_top_details = car_specs.get('top', [])
    
    # Convert the top list of dictionaries into a flat dictionary
    specs_top_dict = {item['key']: item['value'] for item in specs_top_details if isinstance(item, dict)}
    
    # Initialize a dictionary for combined data
    combined_specs_data = {'heading': specs_heading}
    combined_specs_data.update(specs_top_dict)  # Add the top details

    # Extract the detailed specs (from the 'data' field)
    detailed_specs = car_specs.get('data', [])
    
    # Loop through each category of detailed specifications
    for category in detailed_specs:
        # Get the category heading (e.g., 'Engine and Transmission', 'Dimensions & Capacity')
        category_heading = category.get('heading', None)
        
        # Get the list of specifications within this category
        category_list = category.get('list', [])
        
        # Convert the list of dictionaries into a flat dictionary
        for item in category_list:
            if isinstance(item, dict):
                combined_specs_data[f"{category_heading} - {item['key']}"] = item['value']
    
    # Append the combined specs data to the list
    specs_data_rows.append(combined_specs_data)

# Convert the list of dictionaries into a DataFrame
new_car_specs = pd.DataFrame(specs_data_rows)

# Display the final DataFrame with new_car_specs
new_car_specs.head()

,heading,Mileage,Engine,Max Power,Torque,Wheel Size,Seats,Engine and Transmission - Color,Engine and Transmission - Engine Type,Engine and Transmission - Displacement,...,Engine and Transmission - Super Charger,Miscellaneous - Turning Radius,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Dimensions & Capacity - Gross Weight,Dimensions & Capacity - Front Tread,Dimensions & Capacity - Rear Tread,Engine and Transmission - BoreX Stroke,Engine and Transmission - Compression Ratio,Dimensions & Capacity - Ground Clearance Unladen
0,Specifications,18 kmpl,1493 CC,113.43bhp,250Nm,17,5,Gray,1.5 L CRDi VGT,1493,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Specifications,15.29 kmpl,1591 CC,121.3bhp,151Nm,NaN,5,White,VTVT Petrol Engine,1591,...,No,5.3 metres,165 Kmph,10.5 Seconds,NaN,NaN,NaN,NaN,NaN,NaN
2,Specifications,12.74 kmpl,1991 CC,197bhp,320nm,19,5,Grey,M 264 petrol engine,1991,...,NaN,NaN,217 Kmph,NaN,2360kg,NaN,NaN,NaN,NaN,NaN
3,Specifications,22.38 kmpl,1197 CC,88.50bhp,113Nm,NaN,5,Silver,K Series Dual jet,1197,...,NaN,4.8,NaN,NaN,1335,1530,1530,NaN,NaN,NaN
4,Specifications,15.29 kmpl,1591 CC,121.3bhp,151Nm,NaN,5,White,VTVT Petrol Engine,1591,...,No,5.3 metres,165 Kmph,10.5 Seconds,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:

dg = pd.concat([new_car_detail , new_car_overview , new_car_feature , new_car_specs],axis=1)
dg['city']='delhi'

In [13]:
dg.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Turning Radius,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Dimensions & Capacity - Gross Weight,Dimensions & Capacity - Front Tread,Dimensions & Capacity - Rear Tread,Engine and Transmission - BoreX Stroke,Engine and Transmission - Compression Ratio,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,delhi
1,0,Petrol,SUV,"57,437",Manual,2,2nd Owner,Hyundai,Hyundai Creta,2016,...,5.3 metres,165 Kmph,10.5 Seconds,NaN,NaN,NaN,NaN,NaN,NaN,delhi
2,0,Petrol,SUV,"8,000",Automatic,1,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020,...,NaN,217 Kmph,NaN,2360kg,NaN,NaN,NaN,NaN,NaN,delhi
3,0,Petrol,Hatchback,"28,151",Manual,2,2nd Owner,Maruti,Maruti Swift,2018,...,4.8,NaN,NaN,1335,1530,1530,NaN,NaN,NaN,delhi
4,0,Petrol,SUV,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2017,...,5.3 metres,165 Kmph,10.5 Seconds,NaN,NaN,NaN,NaN,NaN,NaN,delhi

In [14]:
dg=dg.to_csv('dg.csv',index=False)

### Hyderabad Cars Preprocessing

In [15]:
import pandas as pd
import ast
hyderabad_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/hyderabad_cars.xlsx')

In [16]:
import pandas as pd
import ast

# Load the Excel file
hyderabad_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/hyderabad_cars.xlsx')

# Convert the 'new_car_detail' column from string to dictionary using ast.literal_eval
hyderabad_df['new_car_detail'] = hyderabad_df['new_car_detail'].apply(lambda x: ast.literal_eval(str(x)))

# Function to extract all keys from the dictionary
def extract_all_keys(row):
    car_detail = row['new_car_detail']
    
    # Get all keys in the dictionary for that row
    keys = car_detail.keys()
    
    # Extract key-value pairs using .get(), safely handling missing keys
    return {key: car_detail.get(key) for key in keys}

# Apply the function to each row and create a new DataFrame with the extracted values
new_car_detail = hyderabad_df.apply(extract_all_keys, axis=1, result_type='expand')

In [17]:
new_car_detail.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,7746,1.0 TSI Highline Plus AT,₹ 10.44 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,1502,Era Plus,₹ 2.60 Lakh,,,None,{'imgUrl': 'https://stimg.cardekho.com/used-ca...

In [18]:
import pandas as pd
import ast

# Load your Excel file
hyderabad_df_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/hyderabad_cars.xlsx')

# Ensure the 'new_car_overview' column is in dictionary format (if stored as a string, convert it)
hyderabad_df['new_car_overview'] = hyderabad_df['new_car_overview'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
data_rows = []

# Loop through each row in the DataFrame
for idx, row in hyderabad_df.iterrows():
    # Extract the dictionary from 'new_car_overview'
    car_overview = row['new_car_overview']
    
    # Extract the heading
    heading = car_overview.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    top_details = car_overview.get('top', [])
    
    # Convert the list of dictionaries (top) into a flat dictionary
    top_dict = {item['key']: item['value'] for item in top_details if isinstance(item, dict)}
    
    # Combine the heading with the top details
    combined_data = {'heading': heading}
    combined_data.update(top_dict)
    
    # Append the combined data to the list
    data_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_overview = pd.DataFrame(data_rows)

# Display the final DataFrame
new_car_overview.head(2)

,heading,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,Car overview,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TS04,First Owner,999 cc,Automatic,2022.0
1,Car overview,Oct 2014,Third Party insurance,Petrol,5 Seats,"85,582 Kms",TS09,Second Owner,814 cc,Manual,2014.0

In [19]:
import pandas as pd
import ast

# Assuming your Excel file is already loaded as bangalore_df
# Ensure the 'new_car_feature' column is in dictionary format (if stored as a string, convert it)
hyderabad_df['new_car_feature'] = hyderabad_df['new_car_feature'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
feature_rows = []

# Loop through each row in the DataFrame
for idx, row in hyderabad_df.iterrows():
    # Extract the dictionary from 'new_car_feature'
    car_feature = row['new_car_feature']
    
    # Extract the heading
    heading = car_feature.get('heading', None)
    
    # Extract the top details (list of features)
    top_features = ', '.join([item['value'] for item in car_feature.get('top', []) if 'value' in item])
    
    # Extract the detailed feature sections from 'data'
    feature_details = car_feature.get('data', [])
    
    # Convert the detailed feature sections into a flat dictionary
    feature_dict = {}
    for section in feature_details:
        section_name = section.get('heading', '')
        sub_section_name = section.get('subHeading', '')
        feature_list = ', '.join([item['value'] for item in section.get('list', []) if 'value' in item])
        feature_dict[f'{section_name} - {sub_section_name}'] = feature_list
    
    # Combine the heading, top features, and detailed features
    combined_data = {'heading': heading, 'top_features': top_features}
    combined_data.update(feature_dict)
    
    # Append the combined data to the list
    feature_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_feature = pd.DataFrame(feature_rows)

# Display the final DataFrame
new_car_feature.head(2)

,heading,top_features,Comfort & Convenience - Comfort,Interior - Interior,Exterior - Exterior,Safety - Safety,Entertainment & Communication - Entertainment
0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Fog ...","Anti Lock Braking System, Centeral Locking, Po...","Radio, Speakers Front, Speakers Rear, Usb Auxi..."
1,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Remote Tr...","Air Conditioner, Heater, Digital Odometer, Ele...","Adjustable Head Lights, Manually Adjustable Ex...","Child Safety Locks, Driver Air Bag, Day Night ...",NaN

In [20]:
import pandas as pd
import ast

# Load your Excel file
hyderabad_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/hyderabad_cars.xlsx')

# Ensure the 'new_car_specs' column is in dictionary format (if stored as a string, convert it)
hyderabad_df['new_car_specs'] = hyderabad_df['new_car_specs'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data for new_car_specs
specs_data_rows = []

# Loop through each row in the DataFrame
for idx, row in hyderabad_df.iterrows():
    # Extract the dictionary from 'new_car_specs'
    car_specs = row['new_car_specs']
    
    # Extract the heading
    specs_heading = car_specs.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    specs_top_details = car_specs.get('top', [])
    
    # Convert the top list of dictionaries into a flat dictionary
    specs_top_dict = {item['key']: item['value'] for item in specs_top_details if isinstance(item, dict)}
    
    # Initialize a dictionary for combined data
    combined_specs_data = {'heading': specs_heading}
    combined_specs_data.update(specs_top_dict)  # Add the top details

    # Extract the detailed specs (from the 'data' field)
    detailed_specs = car_specs.get('data', [])
    
    # Loop through each category of detailed specifications
    for category in detailed_specs:
        # Get the category heading (e.g., 'Engine and Transmission', 'Dimensions & Capacity')
        category_heading = category.get('heading', None)
        
        # Get the list of specifications within this category
        category_list = category.get('list', [])
        
        # Convert the list of dictionaries into a flat dictionary
        for item in category_list:
            if isinstance(item, dict):
                combined_specs_data[f"{category_heading} - {item['key']}"] = item['value']
    
    # Append the combined specs data to the list
    specs_data_rows.append(combined_specs_data)

# Convert the list of dictionaries into a DataFrame
new_car_specs = pd.DataFrame(specs_data_rows)

# Display the final DataFrame with new_car_specs
new_car_specs.head()

,heading,Mileage,Engine,Max Power,Torque,Wheel Size,Seats,Engine and Transmission - Color,Engine and Transmission - Engine Type,Engine and Transmission - Displacement,...,Miscellaneous - Turning Radius,Miscellaneous - Front Brake Type,Miscellaneous - Rear Brake Type,Miscellaneous - Tyre Type,Miscellaneous - Alloy Wheel Size,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Dimensions & Capacity - Ground Clearance Unladen
0,Specifications,16.47 kmpl,999 CC,108.62bhp,175nm,R16,5,Others,1.0L TSI Petrol,999,...,4.9,Disc,Drum,"Tubeless,Radial",R16,5,280,NaN,NaN,NaN
1,Specifications,21.1 kmpl,814 CC,55.2bhp,74.5Nm,NaN,5,Red,Petrol Engine,814,...,4.6 metres,Disc,Drum,Tubeless,NaN,5,215-litres,135 Kmph,19 Seconds,NaN
2,Specifications,NaN,1197 CC,81.80bhp,113.8Nm,NaN,5,Others,1.2 Kappa Petrol,1197,...,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,NaN,NaN,NaN
3,Specifications,21.4 kmpl,1197 CC,83.1bhp,115Nm,16,5,Red,VVT Petrol Engine,1197,...,4.9 meters,Disc,Drum,"Tubeless,Radial",16,5,339-litres,180 Kmph,12.36 seconds,NaN
4,Specifications,NaN,1997 CC,150bhp,320Nm,18,4,Others,mStallion 150 TGDi Engine,1997,...,NaN,Disc,Drum,"Radial, Tubeless",18,3,NaN,NaN,NaN,NaN

In [21]:
hg=pd.concat([new_car_detail,new_car_overview,new_car_feature,new_car_specs],axis=1)
hg['city']='hyderabad'

In [22]:
hg.head(5)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Front Brake Type,Miscellaneous - Rear Brake Type,Miscellaneous - Tyre Type,Miscellaneous - Alloy Wheel Size,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,Disc,Drum,"Tubeless,Radial",R16,5,280,NaN,NaN,NaN,hyderabad
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,Disc,Drum,Tubeless,NaN,5,215-litres,135 Kmph,19 Seconds,NaN,hyderabad
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,NaN,NaN,NaN,hyderabad
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,Disc,Drum,"Tubeless,Radial",16,5,339-litres,180 Kmph,12.36 seconds,NaN,hyderabad
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,Disc,Drum,"Radial, Tubeless",18,3,NaN,NaN,NaN,NaN,hyderabad

In [23]:
hg.shape

(1483, 78)

In [36]:
hg=hg.to_csv('hg.csv',index=False)

In [24]:
hg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1483 entries, 0 to 1482
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                1483 non-null   int64
 1   ft                                                1483 non-null   object
 2   bt                                                1483 non-null   object
 3   km                                                1483 non-null   object
 4   transmission                                      1483 non-null   object
 5   ownerNo                                           1483 non-null   int64
 6   owner                                             1483 non-null   object
 7   oem                                               1483 non-null   object
 8   model                                             1483 non-null   object
 9   modelYear                                         1483 non-null   int64
 10  centralVariantId                                  1483 non-null   int64
 11  variantName                                       1483 non-null   object
 12  price                                             1483 non-null   object
 13  priceActual                                       1483 non-null   object
 14  priceSaving                                       1483 non-null   object
 15  priceFixedText                                    0 non-null      object
 16  trendingText                                      1483 non-null   object
 17  heading                                           1483 non-null   object
 18  Registration Year                                 1477 non-null   object
 19  Insurance Validity                                1483 non-null   object
 20  Fuel Type                                         1483 non-null   object
 21  Seats                                             1483 non-null   object
 22  Kms Driven                                        1482 non-null   object
 23  RTO                                               1365 non-null   object
 24  Ownership                                         1483 non-null   object
 25  Engine Displacement                               1482 non-null   object
 26  Transmission                                      1483 non-null   object
 27  Year of Manufacture                               1477 non-null   float64
 28  heading                                           1483 non-null   object
 29  top_features                                      1483 non-null   object
 30  Comfort & Convenience - Comfort                   1473 non-null   object
 31  Interior - Interior                               1471 non-null   object
 32  Exterior - Exterior                               1468 non-null   object
 33  Safety - Safety                                   1468 non-null   object
 34  Entertainment & Communication - Entertainment     1297 non-null   object
 35  heading                                           1483 non-null   object
 36  Mileage                                           1441 non-null   object
 37  Engine                                            1482 non-null   object
 38  Max Power                                         1472 non-null   object
 39  Torque                                            1472 non-null   object
 40  Wheel Size                                        913 non-null    object
 41  Seats                                             1483 non-null   object
 42  Engine and Transmission - Color                   1482 non-null   object
 43  Engine and Transmission - Engine Type             1431 non-null   object
 44  Engine and Transmission - Displacement            1482 non-null   object
 45  Engine and Transmission - Max Power               1472 non-null   object
 46  Engine and Transmission - Max Torque              1472 non-null   object
 47  Engine and Transmission - No of Cylinder          1475 non-null   float64
 48  Engine and Transmission - Values per Cylinder     1473 non-null   float64
 49  Engine and Transmission - Value Configuration     1085 non-null   object
 50  Engine and Transmission - Fuel Suppy System       1150 non-null   object
 51  Engine and Transmission - BoreX Stroke            436 non-null    object
 52  Engine and Transmission - Compression Ratio       334 non-null    object
 53  Engine and Transmission - Turbo Charger           1266 non-null   object
 54  Engine and Transmission - Super Charger           1128 non-null   object
 55  Dimensions & Capacity - Length                    1472 non-null   object
 56  Dimensions & Capacity - Width                     1472 non-null   object
 57  Dimensions & Capacity - Height                    1472 non-null   object
 58  Dimensions & Capacity - Wheel Base                1459 non-null   object
 59  Dimensions & Capacity - Front Tread               831 non-null    object
 60  Dimensions & Capacity - Rear Tread                831 non-null    object
 61  Dimensions & Capacity - Kerb Weight               1473 non-null   object
 62  Dimensions & Capacity - Gross Weight              686 non-null    object
 63  Miscellaneous - Gear Box                          1466 non-null   object
 64  Miscellaneous - Drive Type                        1176 non-null   object
 65  Miscellaneous - Seating Capacity                  1483 non-null   object
 66  Miscellaneous - Steering Type                     1433 non-null   object
 67  Miscellaneous - Turning Radius                    1234 non-null   object
 68  Miscellaneous - Front Brake Type                  1470 non-null   object
 69  Miscellaneous - Rear Brake Type                   1470 non-null   object
 70  Miscellaneous - Tyre Type                         1470 non-null   object
 71  Miscellaneous - Alloy Wheel Size                  913 non-null    object
 72  Miscellaneous - No Door Numbers                   1483 non-null   object
 73  Miscellaneous - Cargo Volumn                      1203 non-null   object
 74  Miscellaneous - Top Speed                         766 non-null    object
 75  Miscellaneous - Acceleration                      797 non-null    object
 76  Dimensions & Capacity - Ground Clearance Unladen  106 non-null    object
 77  city                                              1483 non-null   object
dtypes: float64(3), int64(4), object(71)
memory usage: 903.8+ KB

### Jaipur Cars Preprocessing

In [25]:
import pandas as pd
import ast
jaipur_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/jaipur_cars.xlsx')

In [26]:
import pandas as pd
import ast

# Load the Excel file
jaipur_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/hyderabad_cars.xlsx')

# Convert the 'new_car_detail' column from string to dictionary using ast.literal_eval
jaipur_df['new_car_detail'] = jaipur_df['new_car_detail'].apply(lambda x: ast.literal_eval(str(x)))

# Function to extract all keys from the dictionary
def extract_all_keys(row):
    car_detail = row['new_car_detail']
    
    # Get all keys in the dictionary for that row
    keys = car_detail.keys()
    
    # Extract key-value pairs using .get(), safely handling missing keys
    return {key: car_detail.get(key) for key in keys}

# Apply the function to each row and create a new DataFrame with the extracted values
new_car_detail = jaipur_df.apply(extract_all_keys, axis=1, result_type='expand')

In [29]:
import pandas as pd
import ast

# Load your Excel file
jaipur_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/jaipur_cars.xlsx')

# Ensure the 'new_car_overview' column is in dictionary format (if stored as a string, convert it)
jaipur_df['new_car_overview'] = jaipur_df['new_car_overview'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
data_rows = []

# Loop through each row in the DataFrame
for idx, row in jaipur_df.iterrows():
    # Extract the dictionary from 'new_car_overview'
    car_overview = row['new_car_overview']
    
    # Extract the heading
    heading = car_overview.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    top_details = car_overview.get('top', [])
    
    # Convert the list of dictionaries (top) into a flat dictionary
    top_dict = {item['key']: item['value'] for item in top_details if isinstance(item, dict)}
    
    # Combine the heading with the top details
    combined_data = {'heading': heading}
    combined_data.update(top_dict)
    
    # Append the combined data to the list
    data_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_overview = pd.DataFrame(data_rows)

# Display the final DataFrame
new_car_overview.head(2)

,heading,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,Car overview,2015,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",RJ13,Second Owner,1396 cc,Manual,2015.0
1,Car overview,Jan 2012,Third Party,Petrol,5 Seats,"66,951 Kms",RJ14,First Owner,1197 cc,Manual,2012.0

In [30]:
import pandas as pd
import ast

# Assuming your Excel file is already loaded as bangalore_df
# Ensure the 'new_car_feature' column is in dictionary format (if stored as a string, convert it)
jaipur_df['new_car_feature'] = jaipur_df['new_car_feature'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
feature_rows = []

# Loop through each row in the DataFrame
for idx, row in jaipur_df.iterrows():
    # Extract the dictionary from 'new_car_feature'
    car_feature = row['new_car_feature']
    
    # Extract the heading
    heading = car_feature.get('heading', None)
    
    # Extract the top details (list of features)
    top_features = ', '.join([item['value'] for item in car_feature.get('top', []) if 'value' in item])
    
    # Extract the detailed feature sections from 'data'
    feature_details = car_feature.get('data', [])
    
    # Convert the detailed feature sections into a flat dictionary
    feature_dict = {}
    for section in feature_details:
        section_name = section.get('heading', '')
        sub_section_name = section.get('subHeading', '')
        feature_list = ', '.join([item['value'] for item in section.get('list', []) if 'value' in item])
        feature_dict[f'{section_name} - {sub_section_name}'] = feature_list
    
    # Combine the heading, top features, and detailed features
    combined_data = {'heading': heading, 'top_features': top_features}
    combined_data.update(feature_dict)
    
    # Append the combined data to the list
    feature_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_feature = pd.DataFrame(feature_rows)

# Display the final DataFrame
new_car_feature.head(2)

,heading,top_features,Comfort & Convenience - Comfort,Interior - Interior,Exterior - Exterior,Safety - Safety,Entertainment & Communication - Entertainment
0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Powe...","Anti Lock Braking System, Centeral Locking, Po...","Cd Player, Radio, Speakers Front, Speakers Rea..."
1,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Power Adjustable Exter...","Anti Lock Braking System, Brake Assist, Center...","Radio, Speakers Front, Speakers Rear, Usb Auxi..."

In [31]:
import pandas as pd
import ast

# Load your Excel file
jaipur_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/jaipur_cars.xlsx')

# Ensure the 'new_car_specs' column is in dictionary format (if stored as a string, convert it)
jaipur_df['new_car_specs'] = jaipur_df['new_car_specs'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data for new_car_specs
specs_data_rows = []

# Loop through each row in the DataFrame
for idx, row in jaipur_df.iterrows():
    # Extract the dictionary from 'new_car_specs'
    car_specs = row['new_car_specs']
    
    # Extract the heading
    specs_heading = car_specs.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    specs_top_details = car_specs.get('top', [])
    
    # Convert the top list of dictionaries into a flat dictionary
    specs_top_dict = {item['key']: item['value'] for item in specs_top_details if isinstance(item, dict)}
    
    # Initialize a dictionary for combined data
    combined_specs_data = {'heading': specs_heading}
    combined_specs_data.update(specs_top_dict)  # Add the top details

    # Extract the detailed specs (from the 'data' field)
    detailed_specs = car_specs.get('data', [])
    
    # Loop through each category of detailed specifications
    for category in detailed_specs:
        # Get the category heading (e.g., 'Engine and Transmission', 'Dimensions & Capacity')
        category_heading = category.get('heading', None)
        
        # Get the list of specifications within this category
        category_list = category.get('list', [])
        
        # Convert the list of dictionaries into a flat dictionary
        for item in category_list:
            if isinstance(item, dict):
                combined_specs_data[f"{category_heading} - {item['key']}"] = item['value']
    
    # Append the combined specs data to the list
    specs_data_rows.append(combined_specs_data)

# Convert the list of dictionaries into a DataFrame
new_car_specs = pd.DataFrame(specs_data_rows)

# Display the final DataFrame with new_car_specs
new_car_specs.head()

,heading,Mileage,Engine,Max Power,Torque,Wheel Size,Seats,Engine and Transmission - Color,Engine and Transmission - Engine Type,Engine and Transmission - Displacement,...,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Miscellaneous - Tyre Type,Miscellaneous - Alloy Wheel Size,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Dimensions & Capacity - Gross Weight,Engine and Transmission - BoreX Stroke,Engine and Transmission - Compression Ratio,Dimensions & Capacity - Ground Clearance Unladen
0,Specifications,22.54 kmpl,1396 CC,88.73bhp,219.7Nm,16,5,Others,U2 CRDI Diesel Engine,1396,...,180 Kmph,11.9 Seconds,Tubeless,16,5,295-litres,NaN,NaN,NaN,NaN
1,Specifications,22.38 kmpl,1197 CC,88.50bhp,113Nm,NaN,5,White,K Series Dual jet,1197,...,NaN,NaN,"Radial, Tubeless",NaN,5,268,1335,NaN,NaN,NaN
2,Specifications,23.1 kmpl,998 CC,67.04bhp,90Nm,NaN,5,Others,K10B Engine,998,...,150 Kmph,15.05 Seconds,"Tubeless, Radial",NaN,5,235-litres,1250kg,73 X 82 mm,11.0:1,NaN
3,Specifications,18.9 kmpl,1197 CC,81.86bhp,113.75nm,NaN,5,Silver,Kappa VTVT Petrol Engine,1197,...,165 Kmph,12.9 Seconds,Tubeless,NaN,5,256,NaN,NaN,NaN,NaN
4,Specifications,20.51 kmpl,998 CC,67bhp,90Nm,NaN,5,Silver,K10B Petrol Engine,998,...,152 kmph,18.6 Seconds,Tubeless Tyres,NaN,5,180-liters,1350kg,69 x 72 mm,NaN,NaN

In [32]:
jg=pd.concat([new_car_detail,new_car_overview,new_car_feature,new_car_specs],axis=1)
jg['city']='jaipur'

In [33]:
jg.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Acceleration,Miscellaneous - Tyre Type,Miscellaneous - Alloy Wheel Size,Miscellaneous - No Door Numbers,Miscellaneous - Cargo Volumn,Dimensions & Capacity - Gross Weight,Engine and Transmission - BoreX Stroke,Engine and Transmission - Compression Ratio,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,11.9 Seconds,Tubeless,16,5,295-litres,NaN,NaN,NaN,NaN,jaipur
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,NaN,"Radial, Tubeless",NaN,5,268,1335,NaN,NaN,NaN,jaipur

In [34]:
jg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1483 entries, 0 to 1482
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                1483 non-null   int64
 1   ft                                                1483 non-null   object
 2   bt                                                1483 non-null   object
 3   km                                                1483 non-null   object
 4   transmission                                      1483 non-null   object
 5   ownerNo                                           1483 non-null   int64
 6   owner                                             1483 non-null   object
 7   oem                                               1483 non-null   object
 8   model                                             1483 non-null   object
 9   modelYear                                         1483 non-null   int64
 10  centralVariantId                                  1483 non-null   int64
 11  variantName                                       1483 non-null   object
 12  price                                             1483 non-null   object
 13  priceActual                                       1483 non-null   object
 14  priceSaving                                       1483 non-null   object
 15  priceFixedText                                    0 non-null      object
 16  trendingText                                      1483 non-null   object
 17  heading                                           1120 non-null   object
 18  Registration Year                                 1113 non-null   object
 19  Insurance Validity                                1120 non-null   object
 20  Fuel Type                                         1120 non-null   object
 21  Seats                                             1119 non-null   object
 22  Kms Driven                                        1119 non-null   object
 23  RTO                                               950 non-null    object
 24  Ownership                                         1119 non-null   object
 25  Engine Displacement                               1120 non-null   object
 26  Transmission                                      1120 non-null   object
 27  Year of Manufacture                               1114 non-null   float64
 28  heading                                           1120 non-null   object
 29  top_features                                      1120 non-null   object
 30  Comfort & Convenience - Comfort                   1113 non-null   object
 31  Interior - Interior                               1109 non-null   object
 32  Exterior - Exterior                               1107 non-null   object
 33  Safety - Safety                                   1105 non-null   object
 34  Entertainment & Communication - Entertainment     919 non-null    object
 35  heading                                           1120 non-null   object
 36  Mileage                                           1092 non-null   object
 37  Engine                                            1120 non-null   object
 38  Max Power                                         1111 non-null   object
 39  Torque                                            1111 non-null   object
 40  Wheel Size                                        691 non-null    object
 41  Seats                                             1119 non-null   object
 42  Engine and Transmission - Color                   1120 non-null   object
 43  Engine and Transmission - Engine Type             1079 non-null   object
 44  Engine and Transmission - Displacement            1120 non-null   object
 45  Engine and Transmission - Max Power               1111 non-null   object
 46  Engine and Transmission - Max Torque              1111 non-null   object
 47  Engine and Transmission - No of Cylinder          1113 non-null   float64
 48  Engine and Transmission - Values per Cylinder     1113 non-null   float64
 49  Engine and Transmission - Value Configuration     815 non-null    object
 50  Engine and Transmission - Fuel Suppy System       912 non-null    object
 51  Engine and Transmission - Turbo Charger           995 non-null    object
 52  Engine and Transmission - Super Charger           880 non-null    object
 53  Dimensions & Capacity - Length                    1107 non-null   object
 54  Dimensions & Capacity - Width                     1107 non-null   object
 55  Dimensions & Capacity - Height                    1107 non-null   object
 56  Dimensions & Capacity - Wheel Base                1091 non-null   object
 57  Dimensions & Capacity - Front Tread               622 non-null    object
 58  Dimensions & Capacity - Rear Tread                622 non-null    object
 59  Dimensions & Capacity - Kerb Weight               1108 non-null   object
 60  Miscellaneous - Gear Box                          1103 non-null   object
 61  Miscellaneous - Drive Type                        908 non-null    object
 62  Miscellaneous - Seating Capacity                  1119 non-null   object
 63  Miscellaneous - Steering Type                     1089 non-null   object
 64  Miscellaneous - Turning Radius                    921 non-null    object
 65  Miscellaneous - Front Brake Type                  1108 non-null   object
 66  Miscellaneous - Rear Brake Type                   1108 non-null   object
 67  Miscellaneous - Top Speed                         633 non-null    object
 68  Miscellaneous - Acceleration                      671 non-null    object
 69  Miscellaneous - Tyre Type                         1112 non-null   object
 70  Miscellaneous - Alloy Wheel Size                  691 non-null    object
 71  Miscellaneous - No Door Numbers                   1117 non-null   object
 72  Miscellaneous - Cargo Volumn                      875 non-null    object
 73  Dimensions & Capacity - Gross Weight              539 non-null    object
 74  Engine and Transmission - BoreX Stroke            364 non-null    object
 75  Engine and Transmission - Compression Ratio       275 non-null    object
 76  Dimensions & Capacity - Ground Clearance Unladen  59 non-null     object
 77  city                                              1483 non-null   object
dtypes: float64(3), int64(4), object(71)
memory usage: 903.8+ KB

In [35]:
jg.shape

(1483, 78)

In [37]:
jg=jg.to_csv('jg.csv',index=False)

### Kolkata Cars processing

In [38]:
import pandas as pd
import ast
kolkata_df=pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/kolkata_cars.xlsx')

In [39]:
import pandas as pd
import ast

# Load the Excel file
kolkata_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/kolkata_cars.xlsx')

# Convert the 'new_car_detail' column from string to dictionary using ast.literal_eval
kolkata_df['new_car_detail'] = kolkata_df['new_car_detail'].apply(lambda x: ast.literal_eval(str(x)))

# Function to extract all keys from the dictionary
def extract_all_keys(row):
    car_detail = row['new_car_detail']
    
    # Get all keys in the dictionary for that row
    keys = car_detail.keys()
    
    # Extract key-value pairs using .get(), safely handling missing keys
    return {key: car_detail.get(key) for key in keys}

# Apply the function to each row and create a new DataFrame with the extracted values
new_car_detail = kolkata_df.apply(extract_all_keys, axis=1, result_type='expand')

In [40]:
import pandas as pd
import ast

# Load your Excel file
kolkata_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/kolkata_Cars.xlsx')

# Ensure the 'new_car_overview' column is in dictionary format (if stored as a string, convert it)
kolkata_df['new_car_overview'] = kolkata_df['new_car_overview'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
data_rows = []

# Loop through each row in the DataFrame
for idx, row in kolkata_df.iterrows():
    # Extract the dictionary from 'new_car_overview'
    car_overview = row['new_car_overview']
    
    # Extract the heading
    heading = car_overview.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    top_details = car_overview.get('top', [])
    
    # Convert the list of dictionaries (top) into a flat dictionary
    top_dict = {item['key']: item['value'] for item in top_details if isinstance(item, dict)}
    
    # Combine the heading with the top details
    combined_data = {'heading': heading}
    combined_data.update(top_dict)
    
    # Append the combined data to the list
    data_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_overview = pd.DataFrame(data_rows)

# Display the final DataFrame
new_car_overview.head(2)

,heading,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,Car overview,2014,Third Party insurance,Petrol,5 Seats,"70,000 Kms",WB02,Third Owner,2494 cc,Automatic,2014.0
1,Car overview,Jul 2017,Comprehensive,Petrol,5 Seats,"23,981 Kms",WB24,First Owner,799 cc,Manual,2017.0

In [41]:
import pandas as pd
import ast

# Assuming your Excel file is already loaded as bangalore_df
# Ensure the 'new_car_feature' column is in dictionary format (if stored as a string, convert it)
kolkata_df['new_car_feature'] = kolkata_df['new_car_feature'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data
feature_rows = []

# Loop through each row in the DataFrame
for idx, row in kolkata_df.iterrows():
    # Extract the dictionary from 'new_car_feature'
    car_feature = row['new_car_feature']
    
    # Extract the heading
    heading = car_feature.get('heading', None)
    
    # Extract the top details (list of features)
    top_features = ', '.join([item['value'] for item in car_feature.get('top', []) if 'value' in item])
    
    # Extract the detailed feature sections from 'data'
    feature_details = car_feature.get('data', [])
    
    # Convert the detailed feature sections into a flat dictionary
    feature_dict = {}
    for section in feature_details:
        section_name = section.get('heading', '')
        sub_section_name = section.get('subHeading', '')
        feature_list = ', '.join([item['value'] for item in section.get('list', []) if 'value' in item])
        feature_dict[f'{section_name} - {sub_section_name}'] = feature_list
    
    # Combine the heading, top features, and detailed features
    combined_data = {'heading': heading, 'top_features': top_features}
    combined_data.update(feature_dict)
    
    # Append the combined data to the list
    feature_rows.append(combined_data)

# Convert the list of dictionaries into a DataFrame
new_car_feature = pd.DataFrame(feature_rows)

# Display the final DataFrame
new_car_feature.head(2)

,heading,top_features,Comfort & Convenience - Comfort,Interior - Interior,Exterior - Exterior,Safety - Safety,Entertainment & Communication - Entertainment
0,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Power Win...","Air Conditioner, Heater, Adjustable Steering, ...","Adjustable Head Lights, Fog Lights Front, Fog ...","Anti Lock Braking System, Brake Assist, Center...","Cd Player, Dvd Player, Radio, Speakers Front, ..."
1,Features,"Power Steering, Power Windows Front, Air Condi...","Power Steering, Power Windows Front, Remote Tr...","Air Conditioner, Heater, Tachometer, Electroni...","Adjustable Head Lights, Manually Adjustable Ex...","Anti Lock Braking System, Centeral Locking, Ch...","Radio, Speakers Front, Usb Auxiliary Input, Bl..."

In [42]:
import pandas as pd
import ast

# Load your Excel file
kolkata_df = pd.read_excel('E:/Guvi DS/Project3CarDekho_UsedcarPrediction/kolkata_cars.xlsx')

# Ensure the 'new_car_specs' column is in dictionary format (if stored as a string, convert it)
kolkata_df['new_car_specs'] = kolkata_df['new_car_specs'].apply(lambda x: ast.literal_eval(str(x)) if isinstance(x, str) else x)

# Initialize a list to collect the extracted data for new_car_specs
specs_data_rows = []

# Loop through each row in the DataFrame
for idx, row in kolkata_df.iterrows():
    # Extract the dictionary from 'new_car_specs'
    car_specs = row['new_car_specs']
    
    # Extract the heading
    specs_heading = car_specs.get('heading', None)
    
    # Extract the top details (list of dictionaries)
    specs_top_details = car_specs.get('top', [])
    
    # Convert the top list of dictionaries into a flat dictionary
    specs_top_dict = {item['key']: item['value'] for item in specs_top_details if isinstance(item, dict)}
    
    # Initialize a dictionary for combined data
    combined_specs_data = {'heading': specs_heading}
    combined_specs_data.update(specs_top_dict)  # Add the top details

    # Extract the detailed specs (from the 'data' field)
    detailed_specs = car_specs.get('data', [])
    
    # Loop through each category of detailed specifications
    for category in detailed_specs:
        # Get the category heading (e.g., 'Engine and Transmission', 'Dimensions & Capacity')
        category_heading = category.get('heading', None)
        
        # Get the list of specifications within this category
        category_list = category.get('list', [])
        
        # Convert the list of dictionaries into a flat dictionary
        for item in category_list:
            if isinstance(item, dict):
                combined_specs_data[f"{category_heading} - {item['key']}"] = item['value']
    
    # Append the combined specs data to the list
    specs_data_rows.append(combined_specs_data)

# Convert the list of dictionaries into a DataFrame
new_car_specs = pd.DataFrame(specs_data_rows)

# Display the final DataFrame with new_car_specs
new_car_specs.head()

,heading,Mileage,Engine,Max Power,Torque,Wheel Size,Seats,Engine and Transmission - Color,Engine and Transmission - Engine Type,Engine and Transmission - Displacement,...,Miscellaneous - Front Brake Type,Miscellaneous - Rear Brake Type,Miscellaneous - Tyre Type,Miscellaneous - Alloy Wheel Size,Miscellaneous - No Door Numbers,Dimensions & Capacity - Ground Clearance Unladen,Miscellaneous - Cargo Volumn,Engine and Transmission - Compression Ratio,Miscellaneous - Acceleration,Miscellaneous - Top Speed
0,Specifications,19.16 kmpl,2494 CC,158.2bhp,213Nm,17,5,White,2AR FXE Petrol Engine,2494,...,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,NaN,NaN,NaN,NaN,NaN
1,Specifications,22.7 kmpl,799 CC,53.64bhp,72Nm,NaN,5,Red,0.8L Petrol Engine,799,...,Disc,Drum,NaN,NaN,5,185mm,222,NaN,NaN,NaN
2,Specifications,19.03 kmpl,999 CC,71.01bhp,96Nm,NaN,5,Blue,1.0L energy,999,...,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,405,NaN,NaN,NaN
3,Specifications,17 kmpl,1197 CC,80 PS at 5200 rpm,"11.4 kgm at 4,000 rpm",14,5,Red,In-Line Engine,1197,...,Disc,Drum,"Tubeless,Radial",14,5,NaN,295 Lit,:1,12.96 Sec,NaN
4,Specifications,15.73 kmpl,1968 CC,174.33bhp,380Nm,16,5,White,TDI Diesel Engine,1968,...,Ventilated Disc,Drum,"Tubeless,Radial",16,5,NaN,460-litres,NaN,8.2 Seconds,212 Kmph

In [43]:
kg=pd.concat([new_car_detail,new_car_overview,new_car_feature,new_car_specs],axis=1)
kg['city']='kolkata'

In [44]:
kg.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Miscellaneous - Rear Brake Type,Miscellaneous - Tyre Type,Miscellaneous - Alloy Wheel Size,Miscellaneous - No Door Numbers,Dimensions & Capacity - Ground Clearance Unladen,Miscellaneous - Cargo Volumn,Engine and Transmission - Compression Ratio,Miscellaneous - Acceleration,Miscellaneous - Top Speed,city
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,Solid Disc,"Tubeless,Radial",17,4,NaN,NaN,NaN,NaN,NaN,kolkata
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,Drum,NaN,NaN,5,185mm,222,NaN,NaN,NaN,kolkata
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,Drum,"Tubeless, Radial",NaN,5,NaN,405,NaN,NaN,NaN,kolkata
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,Drum,"Tubeless,Radial",14,5,NaN,295 Lit,:1,12.96 Sec,NaN,kolkata
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,Drum,"Tubeless,Radial",16,5,NaN,460-litres,NaN,8.2 Seconds,212 Kmph,kolkata

In [45]:
kg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1381 entries, 0 to 1380
Data columns (total 78 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   it                                                1381 non-null   int64
 1   ft                                                1381 non-null   object
 2   bt                                                1381 non-null   object
 3   km                                                1381 non-null   object
 4   transmission                                      1381 non-null   object
 5   ownerNo                                           1381 non-null   int64
 6   owner                                             1381 non-null   object
 7   oem                                               1381 non-null   object
 8   model                                             1381 non-null   object
 9   modelYear                                         1381 non-null   int64
 10  centralVariantId                                  1381 non-null   int64
 11  variantName                                       1381 non-null   object
 12  price                                             1381 non-null   object
 13  priceActual                                       1381 non-null   object
 14  priceSaving                                       1381 non-null   object
 15  priceFixedText                                    0 non-null      object
 16  trendingText                                      1381 non-null   object
 17  heading                                           1381 non-null   object
 18  Registration Year                                 1376 non-null   object
 19  Insurance Validity                                1381 non-null   object
 20  Fuel Type                                         1381 non-null   object
 21  Seats                                             1378 non-null   object
 22  Kms Driven                                        1381 non-null   object
 23  RTO                                               1203 non-null   object
 24  Ownership                                         1377 non-null   object
 25  Engine Displacement                               1381 non-null   object
 26  Transmission                                      1381 non-null   object
 27  Year of Manufacture                               1380 non-null   float64
 28  heading                                           1381 non-null   object
 29  top_features                                      1381 non-null   object
 30  Comfort & Convenience - Comfort                   1365 non-null   object
 31  Interior - Interior                               1367 non-null   object
 32  Exterior - Exterior                               1365 non-null   object
 33  Safety - Safety                                   1365 non-null   object
 34  Entertainment & Communication - Entertainment     1150 non-null   object
 35  heading                                           1381 non-null   object
 36  Mileage                                           1334 non-null   object
 37  Engine                                            1381 non-null   object
 38  Max Power                                         1371 non-null   object
 39  Torque                                            1371 non-null   object
 40  Wheel Size                                        837 non-null    object
 41  Seats                                             1378 non-null   object
 42  Engine and Transmission - Color                   1381 non-null   object
 43  Engine and Transmission - Engine Type             1328 non-null   object
 44  Engine and Transmission - Displacement            1381 non-null   object
 45  Engine and Transmission - Max Power               1371 non-null   object
 46  Engine and Transmission - Max Torque              1371 non-null   object
 47  Engine and Transmission - No of Cylinder          1375 non-null   float64
 48  Engine and Transmission - Values per Cylinder     1370 non-null   float64
 49  Engine and Transmission - Value Configuration     1003 non-null   object
 50  Engine and Transmission - Fuel Suppy System       1088 non-null   object
 51  Engine and Transmission - BoreX Stroke            380 non-null    object
 52  Engine and Transmission - Turbo Charger           1204 non-null   object
 53  Engine and Transmission - Super Charger           1043 non-null   object
 54  Dimensions & Capacity - Length                    1369 non-null   object
 55  Dimensions & Capacity - Width                     1369 non-null   object
 56  Dimensions & Capacity - Height                    1369 non-null   object
 57  Dimensions & Capacity - Wheel Base                1361 non-null   object
 58  Dimensions & Capacity - Front Tread               822 non-null    object
 59  Dimensions & Capacity - Rear Tread                822 non-null    object
 60  Dimensions & Capacity - Kerb Weight               1376 non-null   object
 61  Dimensions & Capacity - Gross Weight              613 non-null    object
 62  Miscellaneous - Gear Box                          1362 non-null   object
 63  Miscellaneous - Drive Type                        1110 non-null   object
 64  Miscellaneous - Seating Capacity                  1378 non-null   object
 65  Miscellaneous - Steering Type                     1323 non-null   object
 66  Miscellaneous - Turning Radius                    1105 non-null   object
 67  Miscellaneous - Front Brake Type                  1366 non-null   object
 68  Miscellaneous - Rear Brake Type                   1366 non-null   object
 69  Miscellaneous - Tyre Type                         1367 non-null   object
 70  Miscellaneous - Alloy Wheel Size                  837 non-null    object
 71  Miscellaneous - No Door Numbers                   1377 non-null   object
 72  Dimensions & Capacity - Ground Clearance Unladen  89 non-null     object
 73  Miscellaneous - Cargo Volumn                      1098 non-null   object
 74  Engine and Transmission - Compression Ratio       319 non-null    object
 75  Miscellaneous - Acceleration                      795 non-null    object
 76  Miscellaneous - Top Speed                         740 non-null    object
 77  city                                              1381 non-null   object
dtypes: float64(3), int64(4), object(71)
memory usage: 841.7+ KB

In [46]:
kg.shape

(1381, 78)

In [47]:
kg=kg.to_csv('kg.csv',index=False)

In [49]:
bg=pd.read_csv('bg.csv')

In [53]:
bg=pd.read_csv('bg.csv')
cg=pd.read_csv('cg.csv')
dg=pd.read_csv('dg.csv')
hg=pd.read_csv('hg.csv')
jg=pd.read_csv('jg.csv')
kg=pd.read_csv('kg.csv')

In [69]:
car=pd.concat([cg,bg,hg,dg,jg,kg])

In [70]:
car.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Engine and Transmission - Super Charger,Dimensions & Capacity - Front Tread,Dimensions & Capacity - Rear Tread,Dimensions & Capacity - Gross Weight,Miscellaneous - Turning Radius,Miscellaneous - Top Speed,Miscellaneous - Acceleration,Engine and Transmission - BoreX Stroke,Dimensions & Capacity - Ground Clearance Unladen,city
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN,chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN,chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN,chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN,chennai

In [71]:
car=car.to_csv('cars.csv',index=False)